<div class="content">
  <form [formGroup]="questionWithStringAnswerForm">
    <div class="form-group">
      <label for="questionName" class="block font-medium text-blue-500 mb-1">
        Kérdés neve
      </label>

      <input
        id="questionName"
        formControlName="questionName"
        type="text"
        pInputText />
    </div>

    <div class="form-group">
      <label for="question" class="block font-medium text-blue-500 mb-1">
        Kérdés
      </label>

      <input id="question" formControlName="question" type="text" pInputText />
    </div>

    <div class="form-group">
      <label for="optionAnswer" class="block font-medium text-blue-500 mb-1">
        Választási lehetőség
      </label>

      <input
        id="optionAnswer"
        formControlName="optionAnswer"
        type="text"
        pInputText />
    </div>

    <div class="form-group">
      <label for="isExtraPrice" class="block font-medium text-blue-500 mb-1">
        Van a lehetőségnek extra ára?
      </label>

      <p-checkbox
        formControlName="isExtraPrice"
        [binary]="true"
        inputId="isExtraPrice"></p-checkbox>
    </div>

    <div
      class="form-group"
      *ngIf="questionWithStringAnswerForm.get('isExtraPrice').value">
      <label for="extraPrice" class="block font-medium text-blue-500 mb-1">
        Lehetőség extra ára
      </label>

      <p-inputNumber
        inputId="extraPrice"
        formControlName="extraPrice"></p-inputNumber>
    </div>

    <p-button
      label="Lehetőség hozzáadása"
      icon="pi pi-plus"
      (click)="addOption()"></p-button>
  </form>

  <div class="preview">
    <h3 class="font-medium text-blue-500 mb-1">Előnézet</h3>

    <h4 class="font-medium text-500 mb-1">
      {{ questionWithStringAnswerForm.get('questionName').value }}
    </h4>

    <div class="form-group">
      <label for="optionAnswer" class="block font-medium text-blue-500 mb-1">
        {{ questionWithStringAnswerForm.get('question').value }}
      </label>

      <p-dropdown
        *ngIf="options.length"
        [options]="options"
        optionLabel="slug"
        styleClass="w-full">
      </p-dropdown>
    </div>

    <ng-container *ngIf="options.length > 0">
      <h3 class="font-medium text-blue-500 mb-1">Lehetőségek</h3>

      <div
        class="option-wrapper mb-2"
        *ngFor="let option of options; let i = index">
        <p class="block font-medium text-800 mb-1">
          {{ i + 1 }}. {{ option.slug }}
        </p>

        <p-button
          icon="pi pi-times"
          styleClass="p-button-danger"
          (click)="deleteOption(i)">
        </p-button>
      </div>
    </ng-container>
  </div>
</div>
