.category-menu {
  .p-button {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    background-color: var(--color-secondary);
  }

  .p-highlight {
    background-color: var(--color-tertiary);
  }
}
