<div *ngIf="pageData$ | async as pageData" class="shop" id="shop">
  <mhd-scrollable-image-with-title
    [title]="pageData.category"
    [imageUrl]="pageData.image"
    [elementToScrollTo]="form">
  </mhd-scrollable-image-with-title>

  <form [formGroup]="filterForm" class="filter-form" #form>
    <h1 class="heading-primary">Rendezés</h1>

    <div class="form-content">
      <div class="flex-row align-items-center">
        <label for="price" class="mr-1">Ár:</label>

        <p-dropdown
          id="price"
          [options]="prices"
          formControlName="price"
          optionLabel="price"
          optionValue="price">
        </p-dropdown>
      </div>
    </div>
  </form>

  <div *ngIf="pageData.products as products" class="products-container">
    <mhd-product-card *ngFor="let product of products" [product]="product">
    </mhd-product-card>
  </div>

  <div class="card flex justify-content-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="pageData.products.length"
      [rowsPerPageOptions]="[25, 50, 100]">
    </p-paginator>
  </div>
</div>
