<ng-container *ngIf="pageData$ | async as pageData">
  <!-- <mhd-scrollable-image-with-title
    [title]="pageData.category"
    [imageUrl]="pageData.image"
    [elementToScrollTo]="wrapper">
  </mhd-scrollable-image-with-title> -->

  <p
    *ngIf="pageData?.description"
    class="mhd-shop-category-description primary-paragraph">
    {{ pageData?.description }}
  </p>

  <div id="shop" #wrapper>
    <ng-container *ngIf="pageData.products as products">
      <div class="mhd-shop-products-container">
        <!-- <mhd-product-card
          *ngFor="let product of products.slice(first, first + rows)"
          [product]="product"
          [page]="first">
        </mhd-product-card> -->
      </div>

      <div class="card flex justify-content-center">
        <p-paginator
          *ngIf="products.length"
          [first]="first"
          [rows]="rows"
          [totalRecords]="products.length"
          [rowsPerPageOptions]="[25, 50, 100]"
          (onPageChange)="onPageChange($event)">
        </p-paginator>
      </div>
    </ng-container>
  </div>

  <p-progressSpinner *ngIf="!pageData.products.length" styleClass="w-full">
  </p-progressSpinner>
</ng-container>
