<div *ngIf="product" class="mhd-product-card" (click)="onProductDetails()">
  <div class="mhd-product-card-image-wrapper">
    <span
      *ngIf="isDiscounted"
      class="mhd-product-card-discount-percentage text-red-500 font-bold text-sm">
      -{{ product.discountPercentage }}%
    </span>

    <span *ngIf="product.isCustom" class="mhd-product-card-dream-it text-sm">
      "Álmodd meg"
    </span>

    <span *ngIf="isNewArrival" class="mhd-product-card-new-arrival text-sm">
      Új
    </span>

    <img
      class="mhd-product-card-image"
      [class.hidden]="isImageLoading"
      [src]="product.images[0]"
      (load)="imageLoaded()" />

    <p-skeleton
      *ngIf="isImageLoading"
      styleClass="skeleton"
      width="w-full"
      height="h-full">
    </p-skeleton>
  </div>

  <div class="mhd-product-card-details">
    <span class="mhd-product-card-details-title">
      {{ product.name | titlecase }}
    </span>

    <span class="mhd-product-card-details-short-description text-gray-500">
      {{ product.shortDescription }}
    </span>

    <div class="mhd-product-card-details-price-wrapper">
      <span
        class="mhd-product-card-details-price-wrapper-price"
        [ngClass]="isDiscounted ? 'text-red-500 line-through' : 'text-primary'">
        {{ product.price }} {{ product.isCustom ? 'Ft-tól' : 'Ft' }}
      </span>

      <span *ngIf="isDiscounted" class="text-primary">
        {{ product.discountedPrice }} {{ product.isCustom ? 'Ft-tól' : 'Ft' }}
      </span>

      <p class="stock">Készleten: {{ product.stock }}</p>
    </div>
  </div>

  <button class="primary-button">
    <i class="pi pi-shopping-cart"></i>
  </button>
</div>
