@import 'mixins';
@import 'colors';

:host {
  width: 100%;
  max-width: 340px;
}

.mhd-product-card {
  cursor: pointer;
  width: 100%;

  &-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-discount-percentage,
  &-dream-it,
  &-new-arrival {
    position: absolute;
    display: flex;
    align-items: center;
    border: 2px solid $color-background;
    border-radius: 500px;
    z-index: 1;
    opacity: 0.85;
  }

  &-discount-percentage {
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    top: 8px;
    right: 8px;
    padding: 4px;
    background-color: $color-primary;
    aspect-ratio: 1 / 1;

    @include respond(sm) {
      top: 4px;
      right: 4px;
    }
  }

  &-dream-it {
    bottom: 8px;
    right: 8px;
    padding: 4px 8px;
    background-color: $color-primary;

    @include respond(sm) {
      bottom: 4px;
      right: 4px;
    }
  }

  &-new-arrival {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    aspect-ratio: 1 / 1;
    background-color: $color-tertiary;

    @include respond(sm) {
      top: 4px;
      left: 4px;
    }
  }

  &-image {
    border-radius: 8px;
    margin-bottom: 8px;
  }

  &-details {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: left;

    &-title {
      font-size: 36px;
      font-weight: 700;
      font-family: 'Amatic SC', cursive;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include respond(sm) {
        font-size: 24px;
      }
    }

    &-short-description {
      height: 44px;
      margin-bottom: 4px;
      font-size: 16px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;

      @include respond(sm) {
        display: none;
      }
    }

    &-price-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      @include respond(sm) {
        margin-bottom: 0;
        font-size: 14px;
      }

      &-price {
        margin-right: 12px;

        @include respond(sm) {
          margin-right: auto;
        }
      }

      .stock {
        font-size: 16px;
        margin-left: auto;

        @include respond(sm) {
          display: none;
        }
      }
    }
  }

  button {
    width: 100%;

    @include respond(sm) {
      display: none;
    }
  }

  .skeleton {
    width: 100%;
  }
}
