<div class="order-success flex flex-column align-items-center">
  <h1 class="heading-primary mt-8">Köszönjük a vásárlást!</h1>
  <p class="paragraph-primary mt-5">
    A rendelési azonosítód:
    <span class="text-primary">{{ orderId$ | async }}</span> Ha bármilyen
    kérdésed lenne a rendeléseddel kapcsolatban erre az azonosítóra hivatkozz!
  </p>
  <button
    class="primary-button shadow-2 mt-5"
    routerLink="/"
    routerLinkActive="router-link-active">
    <i class="pi pi-home"></i>
    Vissza a főoldalra
  </button>
</div>
