<div class="terms-and-conditions">
  <div class="content">
    <h1 class="heading-primary mb-5">ÁLTALÁNOS SZERZŐDÉSI FELTÉTELEK</h1>
    <p class="paragraph-primary mb-3">
      Sok szeretettel üdvözöljük Webáruházunkban!
    </p>
    <p class="paragraph-primary mb-3">
      Köszönjük, hogy vásárlása során bennünket tisztel meg bizalmával!
    </p>
    <p class="paragraph-primary mb-3">
      Számunkra fontos, hogy Ön tisztában legyen a jogaival, és a közöttünk
      létrejövő szerződéses viszony tartalmával.
    </p>
    <p class="paragraph-primary mb-3">
      Tájékoztatjuk, hogy Ön mint Vásárló (fogyasztó) a
      htttps://www.nyuszkokucko.hu címen elérhető honlap használatával
      kinyilvánítja, hogy ismeri és elfogadja, az alábbi, a Ptk. (2013. évi V.
      törvény) 6:77-6:81.§ alapján megírt Általános Szerződési Feltételeket.
      Kérjük, amennyiben vásárlója, illetve aktív használója kíván lenni a
      Webáruházunk által kínált lehetőségeknek, figyelmesen olvassa el az
      Általános Szerződési Feltételeinket és kizárólag abban az esetben vegye
      igénybe szolgáltatásainkat, amennyiben minden pontjával egyetért, és
      azokat kötelező érvényűnek tekinti magára nézve.
    </p>
    <p class="paragraph-primary mb-6">
      Jelen dokumentum, kizárólag elektronikus formában kerül megkötésre. Az
      alábbi feltételekkel szabályozott szerződés a Ptk. szerint távollevők
      között létrejött szerződésnek minősül.
    </p>
    <p class="paragraph-primary mb-4">1. Üzemeltetői adatok:</p>
    <p class="paragraph-primary">Cégnév: Kalmár Bernadett egyéni vállalkozó</p>
    <p class="paragraph-primary">
      Székhely: 6600 Szentes Nyíri József utca 26.
    </p>
    <p class="paragraph-primary">Adószám: 59847692-1-26</p>
    <p class="paragraph-primary">Nyilvántartási szám: 57893154</p>
    <p class="paragraph-primary">Szerződés nyelve: magyar</p>
    <p class="paragraph-primary">Elektronikus ellérhetőség:</p>
    <p class="paragraph-primary">
      Telefonos elérhetőség: +36 30 505-9276 munkanapokon 9:00 és 17.00 óra
      között
    </p>
    <p class="paragraph-primary mb-3">
      Számlaszám: Erste Bank 11600006-00000000-93633206
    </p>
    <p class="paragraph-primary mb-6">
      A szolgáltató a jelen általános szerződési feltételekben a továbbiakban:
      Üzemeltető, Eladó
    </p>
    <p class="paragraph-primary mb-6">
      2. Megvásárolható termékek, szolgáltatások kör
    </p>
    <p class="paragraph-primary mb-3">
      Egyedi, kézzel készített termékek gyerekeknek, kézműves babák, babaruhák
      és kiegészítők.
    </p>
    <p class="paragraph-primary mb-3">
      Szinte minden termék egyedi, megrendelésre készül, minimális
      raktárkészletet tartunk. Az elkészült termék az egyedi készítés
      sajátosságai miatt kis mértékben eltérhetnek a megrendelt terméktől.
    </p>
    <p class="paragraph-primary mb-6">
      A honlapon a megvásárolható termékek lényeges tulajdonságairól az egyes
      termékeknél szereplő leírásokban adunk tájékoztatást. A termékoldalon
      található adatok tájékoztató jellegűek! A színek a webes megjelenítés
      sajátosságai miatt nem mindig felelnek meg a valóságnak!
    </p>
    <p class="paragraph-primary mb-6">3. Rendelési információk</p>
    <p class="paragraph-primary mb-3">
      A megjelenített termékek kizárólag a Webáruházon keresztül, online
      rendelhetőek meg, futár által történő házhoz szállítással, vagy
      személyesen a megrendelő, vagy meghatalmazottja általi átvétellel, ez
      utóbbi átvételi mód csak Szentes város közigazgatási határain belül
      érvényes.
    </p>
    <p class="paragraph-primary mb-3">
      Az árak magyar Forintban értendők. Az árak a Vevő által termékért
      fizetendő árak, azonban nem tartalmazzák a házhoz szállítás díját.
    </p>
    <p class="paragraph-primary mb-3">
      Az árak tájékoztató jellegűek, az árváltozás jogát fenntartjuk.
    </p>
    <p class="paragraph-primary mb-3">
      Amennyiben az Üzemeltető hibás árat tüntet fel a termék mellett, a tőle
      elvárható gondosság ellenére, és a termék ára annak általánosan elfogadott
      árától eltér, úgy az Üzemeltető nem köteles a terméket a hibás áron
      szolgáltatni, de köteles a megrendelés visszaigazolásában felajánlani a
      Vásárló részére a valós áron történő vásárlás lehetőségét. Amennyiben a
      Vásárló ezzel a lehetőséggel nem kíván élni, úgy megilleti a szerződéstől
      való egyoldalú elállás joga.
    </p>
    <p class="paragraph-primary mb-3">
      Külön csomagolási költség nem kerül felszámításra. A részletes szállítási
      díjszabás a jelen szerződési feltételek része, a Szállítási feltételek
      menüpont alatt.
    </p>
    <p class="paragraph-primary mb-3">
      Webáruházunkban termékkategóriák szerint böngészhet a megvásárolható
      termékek között. A felsorolt termékek mellett megtekintheti egy-egy
      termékek rövid leírását, árát, egyéb tulajdonságait, a teljesség igénye
      nélkül. Ha bővebb információt szeretne kapni a termékről, akkor kattintson
      a termék képére vagy nevére. Ekkor a termék oldalára jut el, ahol a
      termékről részletesebb tájékoztatást kaphat. Felhívjuk figyelmét, hogy az
      esetleges elírásokért, téves adatokért felelősséget nem vállalunk!
    </p>
    <p class="paragraph-primary mb-6">
      Amennyiben ennél részletesebb tájékoztatásra van szüksége, úgy az
      üzemeltetői adatok között rögzített email címen vagy telefonszámon
      szíveskedjen felvenni a kapcsolatot az Üzemeltetővel.
    </p>
    <p class="paragraph-primary mb-3">A rendelés menete</p>
    <p class="paragraph-primary mb-3">
      1. A kosár jelre kattintva a terméket a Kosárba helyezheti.
    </p>
    <p class="paragraph-primary mb-3">
      A termékek Kosárba helyezése csak bejelentkezés után lehetséges, illetve a
      rendeléshez szükséges regisztráció. A regisztrációt a következő menüpont
      alatt találja. Ha Ön regisztrált Vásárló, de elfelejtette jelszavát,
      használja a jelszó Bejelentkezés emlékeztetőt. Ha itt megadja a
      regisztrált e-mail címét, akkor a jelszavát e-mailben elküldjük Önnek.
      Belépést a Bejelentkezés menüpont segítségével végezheti el. Itt adja meg
      regisztrált e-mail címét és jelszavát, majd nyomja meg a belépés gombot.
      Ha sikeres a belépés, akkor ebben az ablakban megjelenik az Ön regisztrált
      e-mail címe és a kilépés gomb, amely segítségével elhagyhatja az áruházat.
    </p>
    <p class="paragraph-primary mb-3">
      2. A kosár tartalmát a Kosár menüpont segítségével ellenőrizheti,
      szerkesztheti. Lehetőség van arra, hogy megtekintse és módosítsa, hogy a
      kosárba tett termékből milyen mennyiséget kíván rendelni, ha névre szóló
      terméket rendel, kiválaszthatja, hogy milyen névre kéri, valamint ki tudja
      választani az Önnek legmegfelelőbb fizetési és szállítási módot, illetve
      törölheti az adott tételt. Lehetőség van a kosár teljes kiürítésére is.
      Amennyiben szeretne további terméket kosárba helyezni, válassza a
      „vásárlás folytatása” gombot Ha minden rendben van és a megrendelés
      mellett döntött akkor a Megrendelés elküldése gombot megnyomva
      véglegesítheti a megrendelését.
    </p>
    <p class="paragraph-primary mb-3">
      3. Miután véglegesítette rendelését a megadott e-mail címére küldünk Önnek
      egy automatikus visszaigazolást, amely tartalmazza megrendelése adatait.
      Amennyiben nem kap ilyen levelet a rendszer nem fogadta el megrendelését.
      Ilyen esetben kérjük, vegye fel velünk a kapcsolatot, a már jelzett módon,
      az üzemeltetői adatok segítségével.
    </p>
    <p class="paragraph-primary mb-3">
      Minden megrendelés egy egyedi megrendelés számmal azonosítható.
    </p>
    <p class="paragraph-primary mb-3">4. Regisztráció</p>
    <p class="paragraph-primary mb-3">
      Amennyiben regisztrálni szeretne, úgy meg kell adnia a vásárláshoz
      szükséges adatokat is, így a nevét, számlázási és szállítási adatait,
      telefonszámát, e-mail címét, valamint a későbbi belépéshez szükséges
      jelszavát. A regisztráció véglegesítése előtt szükséges a regisztrációs
      feltételek elfogadása is. A regisztrációt e-mailben visszaigazolja a
      rendszer. A vevő köteles az általa megadott jelszót bizalmasan kezelni.
      Amennyiben az azonosítás során a vevő egyedi azonosítója és jelszava
      helyes megadását követően a vevő adatai arra jogosulatlan harmadik személy
      birtokába kerültek, az ebből eredő károkért, illetve hátrányokért az
      Adatkezelő felelősséget nem vállal. A felhasználók e-mail címük
      megadásával hozzájárulnak ahhoz, hogy az üzemeltető/ szolgáltató technikai
      jellegű üzenetet küldjön számukra. A regisztrált adatokat az üzemeltető
      kérelemre törli a rendszerből. A törlési kérelem biztonsági okokból csak
      akkor lesz érvényes, ha a törlési kérelmet a felhasználó e-mailben
      megerősíti, így elkerülhető, hogy valaki szándékosan vagy tévedésből mást
      töröljön a regisztrációs adatbázisból. A regisztrációt az e-mail cím
      azonosítja, tehát egy e-mail címet csak egyszer lehet regisztrálni.
    </p>
    <p class="paragraph-primary mb-3">
      A regisztráció kötelezettségekkel nem jár.
    </p>
    <p class="paragraph-primary mb-3">5. A megrendelések feldolgozása</p>
    <p class="paragraph-primary mb-3">
      A megrendelések feldolgozása munkanapokon történik 8:00-17:00 óráig. A
      megrendelés feldolgozásaként megjelölt időpontokon kívül is van lehetőség
      a megrendelésre, de ha az a munkaidő lejárta után történik, csak az azt
      követő munkanapon kerül feldolgozásra a megrendelés. Az elfogadott
      megrendelés teljesítési határideje, a jóváírástól számítva 2-14 munkanap.
    </p>
    <p class="paragraph-primary mb-3">
      Vállalkozásunk nem vállal felelősséget a megrendelt termék esetleges
      technikai ismertetőinek, a rajta kívül álló okok miatt történő előzetes
      bejelentés nélküli változása miatt.
    </p>
    <p class="paragraph-primary mb-3">
      6. A megrendelt termék ellenértékének és a házhoz szállítás díjának
      fizetésének módja
    </p>
    <p class="paragraph-primary mb-3">A megrendelt termék fizetésének módja</p>
    <p class="paragraph-primary mb-3">
      Az online bankkártyás fizetések a Barion rendszerén keresztül valósulnak
      meg. A bankkártya adatok a kereskedőhöz nem jutnak el. A szolgáltatást
      nyújtó Barion Payment Zrt. a Magyar Nemzeti Bank felügyelete alatt álló
      intézmény, engedélyének száma: H-EN-I-1064/201.
    </p>
    <p class="paragraph-primary mb-3">
      Banki előre utalás után: ha már visszaigazoltuk az Ön megrendelését (csak
      a megrendelt termékek ára), akkor a visszaigazoló e- mailben megtalálja a
      bankszámlaszámunkat és a megrendelésszámot, amelyre hivatkozni kell az
      átutalás megjegyzés / közlemény rovatában. Amennyiben az átutalt összeget
      jóváírják a bankszámlánkon, csak ezt követően kezdődik a megrendelt termék
      elkészítése. Személyesen történő átvétel banki előre utalás után(csak
      Szentes város területén): ha már visszaigazoltuk az Ön megrendelését (csak
      a megrendelt termékek ára), akkor a visszaigazoló e- mailben megtalálja a
      bankszámlaszámunkat és a megrendelésszámot, amelyre hivatkozni kell az
      átutalás megjegyzés / közlemény rovatában. Amennyiben az átutalt összeget
      jóváírják a bankszámlánkon, csak ezt követően kezdődik a megrendelt termék
      elkészítése. Amint elkészül a megrendelt és kifizetett termék értesítjük
      Önt emailben, vagy telefonon. Szentes város területén a kiszállítás
      díjmentes, a termékek kiszállítását a Szolgáltató a Vásárlóval egyeztetett
      időpontban végzi a Vásárló megadott szállítási címére.
    </p>
    <p class="paragraph-primary mb-3">
      A fizetendő végösszeg a megrendelés összesítője és visszaigazoló levél
      alapján minden költséget tartalmaz. A számlát a csomag tartalmazza. Kérjük
      a csomagot kézbesítéskor a kézbesítő előtt szíveskedjék megvizsgálni, és
      esetlegesen a termékeken észlelt sérülés, vagy hiány esetén kérje
      jegyzőkönyv felvételét és ne vegye át a csomagot. Utólagos, jegyzőkönyv
      nélküli reklamációt nem áll módunkban elfogadni.
    </p>
    <p class="paragraph-primary mb-3">Házhoz szállítás díjszabása</p>
    <p class="paragraph-primary mb-3">
      A megvásárolt termékek kiszállítását a Foxpost futárszolgálat végzi egész
      Magyarország területén. Szentes város közigazgatási területén a
      kiszállítás díjmentes, a termékek kiszállítását a Szolgáltató a Vásárlóval
      egyeztetett időpontban végzi a Vásárló megadott szállítási címére.
    </p>
    <p class="paragraph-primary mb-3">A házhozszállítás díja: 990Ft- 2200Ft.</p>
    <p class="paragraph-primary mb-3">6. Szállítási határidő</p>
    <p class="paragraph-primary mb-3">
      Legtöbb termékünk egyedi megrendelésre készül.
    </p>
    <p class="paragraph-primary mb-3">
      A termékek elkészítési határideje a megrendelés ellenértékének a
      bankszámlánkon történő jóváírásától számítva 2-14 munkanap. Az átlagos
      szállítási idő 7 munkanap.
    </p>
    <p class="paragraph-primary mb-3">7. Házhoz szállítási információk</p>
    <p class="paragraph-primary mb-3">
      A Webáruházunk által kapott megrendeléseket kizárólag a Foxpost
      futárszolgálat futárai kézbesítik. A csomagok kézbesítése a felvételt
      követő munkanapokon történik 9:00 és 18:00 óra között. Az időpontra
      történő kiszállítást a Foxpost nem tudja garantálni, ezért szállítási
      címként célszerű olyan címet megadni, ahol a megjelölt napszakban a futárt
      folyamatosan fogadni tudják. Egyszeri sikertelen szállítást követően a
      futár értesítőlevelet hagy. Sikertelen kézbesítés esetén a küldeményt
      díjmentesen visszaszállítják a felvételi címre.
    </p>
    <p class="paragraph-primary mb-3">
      A Vevő (csomag címzettje) az elektronikus átvételi elismervény aláírásával
      igazolja, hogy a küldeményt sértetlenül átvette.
    </p>
    <p class="paragraph-primary mb-6">
      Áruházunk működésével, megrendelési, és szállítási folyamatával
      kapcsolatosan felmerülő esetleges további kérdések esetén az üzemeltető
      adatai között megadott elérhetőségeinken rendelkezésére állunk.
    </p>
    <p class="paragraph-primary mb-3">1. Elállás joga</p>
    <p class="paragraph-primary mb-3">
      Nem illeti meg a fogyasztót az elállási jog:
    </p>
    <p class="paragraph-primary mb-3">
      OLYAN NEM ELŐRE GYÁRTOTT TERMÉK ESETÉBEN, AMELYET KIFEJEZETTEN A FOGYASZTÓ
      KÉRÉSÉRE, AZ Ő ÁLTAL SZABOTT IGÉNYEK ALAPJÁN EGYEDI KÉRÉSÉNEK MEGFELELŐEN
      KERÜLT ELŐÁLLÍTÁSRA,
    </p>
    <p class="paragraph-primary mb-3">
      AMELYNEK OLYAN JELLEGŰ, A VEVŐ RÉSZÉRE TÖRTÉNŐ ÁTADÁST KÖVETŐEN
      KELETKEZETT SÉRÜLÉSE VAN, AMELY A TOVÁBBI ÉRTÉKESÍTÉST KIZÁRJA
    </p>
    <p class="paragraph-primary mb-3">2. Jótállás</p>
    <p class="paragraph-primary mb-3">
      Az Eladó köteles a mindenkor hatályos polgári jogi szabályok szerint
      jótállást vállalni a termékeiért. Amennyiben termék rendeltetésszerű
      használata folytán a termékben olyan kár keletkezik, ami a termék
      készítésében elkövetett mulasztásnak köszönhető, akkor a termék készítője
      köteles a terméket díjtalanul javítani vagy cserélni. (pl.kopás)
    </p>
    <p class="paragraph-primary mb-3">
      NEM RENDELTETÉSSZERŰ HASZNÁLAT: a termék leírásában, megnevezésében
      szereplő kategóriák, termékismertetőtől eltérő felhasználási, alkalmazási,
      tisztítási mód.
    </p>
    <p class="paragraph-primary mb-3">
      Abban az esetben, ha a vevő reklamációval kíván élni a termékkel
      kapcsolatosan, úgy azt a honlap
    </p>
    <p class="paragraph-primary mb-3">
      „Kapcsolat” menüpontjában megteheti, melyben fel kell tüntetnie a Termék
      megnevezését, a reklamáció pontos leírását, és az esetleges eseményeket.
    </p>
    <p class="paragraph-primary mb-3">
      Abban az esetben, ha a reklamáció tárgya az Oldal üzemeltetéséhez köthető,
      úgy az Üzemeltetőnek kerül továbbításra a reklamáció, és amennyiben azt
      jogosnak találja, úgy intézkedik a reklamációban észlelt hiba
      kijavítására. A reklamáció elintézéséről, vagy amennyiben az intézkedést
      nem igényel, ennek tényéről az Üzemeltető az Eladót tájékoztatja.
    </p>
    <p class="paragraph-primary mb-3">
      11. Kellékszavatosság részletes rendelkezései
    </p>
    <p class="paragraph-primary mb-3">
      Milyen esetben élhet Ön a kellékszavatossági jogával?
    </p>
    <p class="paragraph-primary mb-3">
      Ön az Eladó hibás teljesítése esetén a Vállalkozással szemben
      kellékszavatossági igényt érvényesíthet a Polgári Törvénykönyv szabályai
      szerint.
    </p>
    <p class="paragraph-primary mb-3">
      Milyen jogok illetik meg Önt kellékszavatossági igénye alapján?
    </p>
    <p class="paragraph-primary mb-3">
      Ön - választása szerint-az alábbi kellékszavatossági igényekkel élhet:
    </p>
    <p class="paragraph-primary mb-3">
      Kérhet kijavítást vagy kicserélést, kivéve, ha az ezek közül az Ön által
      választott igény teljesítése lehetetlen vagy a vállalkozás számára más
      igénye teljesítéséhez képest aránytalan többletköltséggel járna. Ha a
      kijavítást vagy a kicserélést nem kérte, illetve nem kérhette, úgy
      igényelheti az ellenszolgáltatás arányos leszállítását vagy a hibát a
      vállalkozás költségére Ön is kijavíthatja, illetve mással kijavíttathatja
      vagy - végső esetben - a szerződéstől is elállhat.
    </p>
    <p class="paragraph-primary mb-3">
      Választott kellékszavatossági jogáról egy másikra is áttérhet, az áttérés
      költségét azonban Ön viseli, kivéve, ha az indokolt volt, vagy arra a
      vállalkozás adott okot.
    </p>
    <p class="paragraph-primary mb-3">
      Milyen határidőben érvényesítheti Ön kellékszavatossági igényét?
    </p>
    <p class="paragraph-primary mb-3">
      Ön köteles a hibát annak felfedezése után haladéktalanul, de nem később,
      mint a hiba felfedezésétől számított kettő hónapon belül közölni.
      Ugyanakkor felhívom a figyelmét, hogy a szerződés teljesítésétől számított
      két éves elévülési határidőn túl kellékszavatossági jogait már nem
      érvényesítheti.
    </p>
    <p class="paragraph-primary mb-3">
      Kivel szemben érvényesítheti kellékszavatossági igényét?
    </p>
    <p class="paragraph-primary mb-3">
      Ön a Vállalkozással szemben érvényesítheti kellékszavatossági igényét.
    </p>
    <p class="paragraph-primary mb-3">
      Milyen egyéb feltétele van kellékszavatossági jogai érvényesítésének?
    </p>
    <p class="paragraph-primary mb-3">
      A teljesítéstől számított hat hónapon belül a kellékszavatossági igénye
      érvényesítésének a hiba közlésén túl nincs egyéb feltétele, ha Ön
      igazolja, hogy a terméket, illetve a szolgáltatást az eladó nyújtotta. A
      teljesítéstől számított hat hónap eltelte után azonban már Ön köteles
      bizonyítani, hogy az Ön által felismert hiba már a teljesítés időpontjában
      is megvolt.
    </p>
    <p class="paragraph-primary mb-3">1. Termékszavatosság</p>
    <p class="paragraph-primary mb-3">
      Milyen esetben élhet Ön a termékszavatossági jogával?
    </p>
    <p class="paragraph-primary mb-3">
      Ingó dolog (termék) hibája esetén Ön - választása szerint - az 1. pontban
      meghatározott jogát vagy termékszavatossági igényt érvényesíthet.
    </p>
    <p class="paragraph-primary mb-3">
      Milyen jogok illetik meg Önt termékszavatossági igénye alapján?
    </p>
    <p class="paragraph-primary mb-3">
      Termékszavatossági igényként Ön kizárólag a hibás termék kijavítását vagy
      kicserélését kérheti.
    </p>
    <p class="paragraph-primary mb-3">
      Milyen esetben minősül a termék hibásnak?
    </p>
    <p class="paragraph-primary mb-3">
      A termék akkor hibás, ha az nem felel meg a gyártó által adott leírásban
      szereplő tulajdonságokkal.
    </p>
    <p class="paragraph-primary mb-3">
      Milyen határidőben érvényesítheti Ön termékszavatossági igényét?
    </p>
    <p class="paragraph-primary mb-3">
      Termékszavatossági igényét Ön a termék gyártó általi forgalomba
      hozatalától számított két éven belül érvényesítheti. E határidő elteltével
      e jogosultságát elveszti.
    </p>
    <p class="paragraph-primary mb-3">
      Kivel szemben és milyen egyéb feltétellel érvényesítheti
      termékszavatossági igényét?
    </p>
    <p class="paragraph-primary mb-3">
      Termékszavatossági igényét kizárólag az ingó dolog gyártójával vagy
      forgalmazójával szemben gyakorolhatja. A termék hibáját termékszavatossági
      igény érvényesítése esetén Önnek kell bizonyítania.
    </p>
    <p class="paragraph-primary mb-3">
      A gyártó (forgalmazó) milyen esetben mentesül termékszavatossági
      kötelezettsége alól?
    </p>
    <p class="paragraph-primary mb-3">
      A gyártó (forgalmazó) kizárólag akkor mentesül termékszavatossági
      kötelezettsége alól, ha bizonyítani tudja, hogy:
    </p>
    <p class="paragraph-primary">
      a terméket nem üzleti tevékenysége körében gyártotta, illetve hozta
      forgalomba, vagy
    </p>
    <p class="paragraph-primary">
      a hiba a tudomány és a technika állása szerint a forgalomba hozatal
      időpontjában nem volt felismerhető vagy
    </p>
    <p class="paragraph-primary mb-3">
      a termék hibája jogszabály vagy kötelező hatósági előírás alkalmazásából
      ered. A gyártónak (forgalmazónak) a mentesüléshez elegendő egy okot
      bizonyítania.
    </p>
    <p class="paragraph-primary mb-3">
      Felhívom figyelmét, hogy ugyanazon hiba miatt kellékszavatossági és
      termékszavatossági igényt egyszerre, egymással párhuzamosan nem
      érvényesíthet. Termékszavatossági igényének eredményes érvényesítése
      esetén azonban a kicserélt termékre, illetve kijavított részre vonatkozó
      kellékszavatossági igényét a gyártóval szemben érvényesítheti.
    </p>
    <p class="paragraph-primary mb-3">2. Panaszok intézése</p>
    <p class="paragraph-primary mb-3">
      A fogyasztó a termékkel vagy az Eladó tevékenységével kapcsolatos
      fogyasztói kifogásait az alábbi elérhetőségeken terjesztheti elő:
    </p>
    <p class="paragraph-primary">
      Telefon: +36 30-505-9276 munkanapon 9:00 és 17:00 óra között
    </p>
    <p class="paragraph-primary">Internet cím: http://www.nyuszkokucko.hu</p>
    <p class="paragraph-primary mb-3">E-mail:</p>
    <p class="paragraph-primary mb-3">
      Amennyiben az Eladó és a fogyasztó között esetlegesen fennálló fogyasztói
      jogvita a tárgyalások során nem rendeződik, az alábbi jogérvényesítési
      lehetőségek állnak nyitva a fogyasztó számára:
    </p>
    <p class="paragraph-primary mb-3">
      Panasztétel a fogyasztóvédelmi hatóságoknál. Amennyiben a fogyasztó
      fogyasztói jogainak megsértését észleli, jogosult panasszal fordulni a
      lakóhelye szerint illetékes fogyasztóvédelmi hatósághoz. A panasz
      elbírálását követően a hatóság dönt a fogyasztóvédelmi eljárás
      lefolytatásáról. A fogyasztóvédelmi elsőfokú hatósági feladatokat a
      fogyasztó lakóhelye szerint illetékes járási hivatalok látják el, ezek
      listája itt található: http://jarasinfo.gov.hu/
    </p>
    <p class="paragraph-primary mb-3">
      Bírósági eljárás. Ügyfél jogosult a fogyasztói jogvitából származó
      követelésének bíróság előtti érvényesítésére polgári eljárás keretében a
      Polgári Törvénykönyvről szóló 2013. évi V. törvény, valamint a Polgári
      Perrendtartásról szóló 1952. évi III. törvény rendelkezései szerint.
    </p>
    <p class="paragraph-primary mb-3">
      Tájékoztatjuk, hogy Ön velünk szemben fogyasztói panasszal élhet.
      Amennyiben az Ön fogyasztói panaszát elutasítjuk, úgy Ön jogosult az Ön
      lakóhelye vagy tartózkodási helye szerint illetékes Békéltető Testülethez
      is fordulni: a békéltető testület eljárása megindításának feltétele, hogy
      a fogyasztó az érintett vállalkozással
    </p>
    <p class="paragraph-primary mb-3">
      közvetlenül megkísérelje a vitás ügy rendezését. Az eljárásra – a
      fogyasztó erre irányuló kérelme alapján – az illetékes testület helyett a
      fogyasztó kérelmében megjelölt békéltető testület illetékes.
    </p>
    <p class="paragraph-primary mb-3">
      A békéltető testület hatáskörébe tartozik a fogyasztói jogvita bírósági
      eljáráson kívüli rendezése. A békéltető testület feladata, hogy
      megkísérelje a fogyasztói jogvita rendezése céljából egyezség létrehozását
      a felek között, ennek eredménytelensége esetén az ügyben döntést hoz a
      fogyasztói jogok egyszerű, gyors, hatékony és költségkímélő
      érvényesítésének biztosítása érdekében. A békéltető testület a fogyasztó
      vagy a vállalkozás kérésére tanácsot ad a fogyasztót megillető jogokkal és
      a fogyasztót terhelő kötelezettségekkel kapcsolatban.
    </p>
    <p class="paragraph-primary mb-3">
      A békéltető testület eljárása a fogyasztó kérelmére indul. A kérelmet a
      békéltető testület elnökéhez kell írásban benyújtani: az írásbeliség
      követelményének levél, távirat, távgépíró vagy telefax útján, továbbá
      bármely egyéb olyan eszközzel is eleget lehet tenni, amely a címzett
      számára lehetővé teszi a neki címzett adatoknak az adat céljának megfelelő
      ideig történő tartós tárolását, és a tárolt adatok változatlan formában és
      tartalommal történő megjelenítését.
    </p>
    <p class="paragraph-primary mb-3">A kérelemnek tartalmaznia kell</p>
    <p class="paragraph-primary">
      4. a fogyasztó nevét, lakóhelyét vagy tartózkodási helyét,
    </p>
    <p class="paragraph-primary">
      5. a fogyasztói jogvitával érintett vállalkozás nevét, székhelyét vagy
      érintett telephelyét,
    </p>
    <p class="paragraph-primary">
      6. ha a fogyasztó az illetékességet az illetékes békéltető testület
      helyett kérelmezett testület megjelölését,
    </p>
    <p class="paragraph-primary">
      7. a fogyasztó álláspontjának rövid leírását, az azt alátámasztó tényeket
      és azok bizonyítékait,
    </p>
    <p class="paragraph-primary">
      8. a fogyasztó nyilatkozatát arról, hogy a fogyasztó az érintett
      vállalkozással közvetlenül megkísérelte a vitás ügy rendezését
    </p>
    <p class="paragraph-primary">
      9. a fogyasztó nyilatkozatát arra nézve, hogy az ügyben más békéltető
      testület eljárását nem kezdeményezte, közvetítői eljárás nem indult,
      keresetlevél beadására, illetve fizetési meghagyás kibocsátása iránti
      kérelemelőterjesztésére nem került sor,
    </p>
    <p class="paragraph-primary">
      10. a testület döntésére irányuló indítványt,
    </p>
    <p class="paragraph-primary mb-3">11. a fogyasztó aláírását.</p>
    <p class="paragraph-primary mb-3">
      A kérelemhez csatolni kell azt az okiratot, illetve annak másolatát
      (kivonatát), amelynek tartalmára a fogyasztó bizonyítékként hivatkozik,
      így különösen a vállalkozás írásbeli nyilatkozatát a panasz
      elutasításáról, ennek hiányában a fogyasztó rendelkezésére álló egyéb
      írásos bizonyítékot az előírt egyeztetés megkísérléséről.
    </p>
    <p class="paragraph-primary mb-3">
      Ha a fogyasztó meghatalmazott útján jár el, a kérelemhez csatolni kell a
      meghatalmazást. A Békéltető Testületekről bővebb információ itt érhető el:
      http://www.bekeltetes.hu
    </p>
    <p class="paragraph-primary mb-3">
      A területileg illetékes Békéltető Testületekről bővebb információ itt
      érhető el: http://www.bekeltetes.hu/index.php?id=testuletek
    </p>
    <p class="paragraph-primary mb-3">
      Az egyes területileg illetékes Békéltető Testületek elérhetőségei:
    </p>
    <p class="paragraph-primary mb-3">
      Baranya Megyei Békéltető Testület Cím: 7625 Pécs, Majorossy I. u. 36.
      Telefonszám: 06-72-507-154
    </p>
    <p class="paragraph-primary mb-3">Fax: 06-72-507-152</p>
    <p class="paragraph-primary mb-3">
      E-mail: abeck@pbkik.hu; mbonyar@pbkik.hu
    </p>
    <p class="paragraph-primary mb-3">
      Bács-Kiskun Megyei Békéltető Testület Cím: 6000 Kecskemét, Árpád krt. 4.
    </p>
    <p class="paragraph-primary mb-3">
      Telefonszám: 06-76-501-500; 06-76-501-525, 06-76-501-523
    </p>
    <p class="paragraph-primary mb-3">Fax: 06-76-501-538</p>
    <p class="paragraph-primary mb-3">
      E-mail: bekeltetes@bacsbekeltetes.hu; mariann.matyus@bkmkik.hu
    </p>
    <p class="paragraph-primary mb-3">Honlap: www.bacsbekeltetes.hu</p>
    <p class="paragraph-primary mb-3">
      Békés Megyei Békéltető Testület Cím: 5600 Békéscsaba, Penza ltp. 5.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-66-324-976</p>
    <p class="paragraph-primary mb-3">Fax: 06-66-324-976</p>
    <p class="paragraph-primary mb-3">E-mail: eva.toth@bmkik.hu</p>
    <p class="paragraph-primary mb-3">
      Borsod-Abaúj-Zemplén Megyei Békéltető Testület Cím: 3525 Miskolc,
      Szentpáli u. 1.
    </p>
    <p class="paragraph-primary mb-3">
      Telefonszám:06-46-501-091;06-46-501-870 Fax: 06-46-501-099
    </p>
    <p class="paragraph-primary mb-3">E-mail: kalna.zsuzsa@bokik.hu</p>
    <p class="paragraph-primary mb-3">Budapesti Békéltető Testület</p>
    <p class="paragraph-primary mb-3">
      Cím: 1016 Budapest, Krisztina krt. 99. III. em. 310.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-1-488-2131</p>
    <p class="paragraph-primary mb-3">Fax: 06-1-488-2186</p>
    <p class="paragraph-primary mb-3">E-mail: bekelteto.testulet@bkik.hu</p>
    <p class="paragraph-primary mb-3">
      Csongrád Megyei Békéltető Testület Cím: 6721 Szeged, Párizsi krt. 8-12.
      Telefonszám: 06-62-554- 250/118 Fax: 06-62-426-149
    </p>
    <p class="paragraph-primary mb-3">E-mail: bekelteto.testulet@csmkik.hu</p>
    <p class="paragraph-primary mb-3">Fejér Megyei Békéltető Testület</p>
    <p class="paragraph-primary mb-3">
      Cím: 8000 Székesfehérvár, Hosszúsétatér 4-6. Telefonszám:06-22-510-310
    </p>
    <p class="paragraph-primary mb-3">Fax: 06-22-510-312</p>
    <p class="paragraph-primary mb-3">E-mail: fmkik@fmkik.hu</p>
    <p class="paragraph-primary mb-3">
      Győr-Moson-Sopron Megyei Békéltető Testület Cím: 9021 Győr, Szent István
      út 10/a.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-96-520-217</p>
    <p class="paragraph-primary mb-3">Fax: 06-96-520-218</p>
    <p class="paragraph-primary mb-3">E-mail: bekeltetotestulet@gymskik.hu</p>
    <p class="paragraph-primary mb-3">
      Hajdú-Bihar Megyei Békéltető Testület Cím: 4025 Debrecen, Vörösmarty u.
      13-15.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-52-500-710</p>
    <p class="paragraph-primary mb-3">Fax: 06-52-500-720</p>
    <p class="paragraph-primary mb-3">E-mail: korosi.vanda@hbkik.hu</p>
    <p class="paragraph-primary mb-3">
      Heves Megyei Békéltető Testület Cím: 3300 Eger, Faiskola út 15.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-36-429-612</p>
    <p class="paragraph-primary mb-3">Fax: 06-36-323-615</p>
    <p class="paragraph-primary mb-3">E-mail: hkik@hkik.hu</p>
    <p class="paragraph-primary mb-3">
      Jász-Nagykun-Szolnok Megyei Békéltető Testület Cím: 5000 Szolnok, Verseghy
      park 8. III. emelet 305-306.
    </p>
    <p class="paragraph-primary mb-3">
      Telefonszám: 06-56-510-621, 06-20-373-2570
    </p>
    <p class="paragraph-primary mb-3">Fax: 06-56-510-628</p>
    <p class="paragraph-primary mb-3">E-mail: bekeltetotestulet@jnszmkik.hu</p>
    <p class="paragraph-primary mb-3">
      Komárom-Esztergom Megyei Békéltető Testület Cím: 2800 Tatabánya, Fő tér
      36.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-34-513-027</p>
    <p class="paragraph-primary mb-3">Fax: 06-34-316-259</p>
    <p class="paragraph-primary mb-3">E-mail: szilvi@kemkik.hu</p>
    <p class="paragraph-primary mb-3">Nógrád Megyei Békéltető Testület</p>
    <p class="paragraph-primary mb-3">
      Cím: 3100 Salgótarján, Alkotmány út 9/A. Telefonszám: 06-32-520-860
    </p>
    <p class="paragraph-primary mb-3">Fax: 06-32-520-862</p>
    <p class="paragraph-primary mb-3">E-mail: nkik@nkik.hu</p>
    <p class="paragraph-primary mb-3">Pest Megyei Békéltető Testület</p>
    <p class="paragraph-primary mb-3">
      Cím: 1055 Budapest, Kossuth Lajos tér 6-8. III. emelet 331.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-1-269-0703</p>
    <p class="paragraph-primary mb-3">Fax: 06-1-474-7921</p>
    <p class="paragraph-primary mb-3">E-mail: pmbekelteto@pmkik.hu</p>
    <p class="paragraph-primary mb-3">
      Somogy Megyei Békéltető Testület Cím: 7400 Kaposvár, Anna u.6.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-82-501-026</p>
    <p class="paragraph-primary mb-3">Fax: 06-82-501-046</p>
    <p class="paragraph-primary mb-3">E-mail: skik@skik.hu</p>
    <p class="paragraph-primary mb-3">
      Szabolcs-Szatmár-Bereg Megyei Békéltető Testület
    </p>
    <p class="paragraph-primary mb-3">Cím: 4400 Nyíregyháza, Széchenyi u. 2.</p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-42-311-544</p>
    <p class="paragraph-primary mb-3">Fax: 06-42-311-750</p>
    <p class="paragraph-primary mb-3">E-mail: bekelteto@szabkam.hu</p>
    <p class="paragraph-primary mb-3">Tolna Megyei Békéltető Testület</p>
    <p class="paragraph-primary mb-3">
      Cím: 7100 Szekszárd, Arany J. u. 23-25. III. emelet Telefonszám:
      06-74-411-661
    </p>
    <p class="paragraph-primary mb-3">Fax: 06-74-411-456</p>
    <p class="paragraph-primary mb-3">E-mail: kamara@tmkik.hu</p>
    <p class="paragraph-primary mb-3">Vas Megyei Békéltető Testület</p>
    <p class="paragraph-primary mb-3">Cím: 9700 Szombathely, Honvéd tér 2.</p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-94-312-356</p>
    <p class="paragraph-primary mb-3">Fax: 06-94-316-936</p>
    <p class="paragraph-primary mb-3">E-mail: vmkik@vmkik.hu</p>
    <p class="paragraph-primary mb-3">Veszprém Megyei Békéltető Testület</p>
    <p class="paragraph-primary mb-3">
      Cím: 8200 Veszprém, Radnóti tér 1. földszint 116.
    </p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-88-429-008</p>
    <p class="paragraph-primary mb-3">Fax: 06-88-412-150</p>
    <p class="paragraph-primary mb-3">E-mail: bekelteto@veszpremikamara.hu</p>
    <p class="paragraph-primary mb-3">Zala Megyei Békéltető Testület</p>
    <p class="paragraph-primary mb-3">Cím: 8900 Zalaegerszeg, Petőfi u. 24.</p>
    <p class="paragraph-primary mb-3">Telefonszám: 06-92-550-513</p>
    <p class="paragraph-primary mb-3">Fax: 06-92-550-525</p>
    <p class="paragraph-primary mb-3">E-mail: zmbekelteto@zmkik.hu</p>
    <p class="paragraph-primary mb-3">Online vitarendezési platform</p>
    <p class="paragraph-primary mb-3">Online vitarendezési platform</p>
    <p class="paragraph-primary mb-3">
      Az Európai Bizottság létrehozott egy honlapot, amelybe a fogyasztók
      beregisztrálhatnak, így ezen keresztül lehetőségük nyílik arra, hogy
      online vásárláshoz kapcsolódó jogvitáikat ezen keresztül rendezzék egy
      kérelem kitöltésével, elkerülve a bírósági eljárást. Így a fogyasztók
      tudják érvényesíteni jogaikat anélkül, hogy például a távolság meggátolná
      őket ebben.
    </p>
    <p class="paragraph-primary mb-3">
      Ha Ön panaszt kíván tenni egy, az interneten vásárolt termékkel vagy
      szolgáltatással kapcsolatban, és nem akar feltétlenül bírósághoz fordulni,
      igénybe veheti az online vitarendezés eszközét.
    </p>
    <p class="paragraph-primary mb-3">
      A portálon Ön és a kereskedő, akivel szemben panasszal élt, közösen
      kiválaszthatják a panasz kezelésével megbízni kívánt vitarendezési
      testületet.
    </p>
    <p class="paragraph-primary mb-3">
      Az online vitarendezési platform itt érhető el:
      https://webgate.ec.europa.eu/odr/main/?event=main.home.show&amp;lng=HU
    </p>
    <p class="paragraph-primary mb-3">Szerzői jogok</p>
    <p class="paragraph-primary mb-3">
      A szerzői jogról szóló 1999. évi LXXVI. törvény (továbbiakban: Szjt.) 1. §
      (1) bekezdése értelmében a weboldal szerzői műnek minősül, így annak
      minden része szerzői jogi védelem alatt áll. Az Szjt. 16. § (1) bekezdése
      alapján tilos a weboldalon található grafikai és szoftveres megoldások,
      számítógépi programalkotások engedély nélküli felhasználása, illetve
      bármely olyan alkalmazás használata, amellyel a weboldal, vagy annak
      bármely része módosítható. A weboldalról és annak adatbázisából bármilyen
      anyagot átvenni a jogtulajdonos írásos hozzájárulása esetén is csak a
      weboldalra való hivatkozással, forrás feltüntetésével lehet.
    </p>
    <p class="paragraph-primary mb-3">
      A jogtulajdonos: Kalmár Bernadett ev. 6600 Szentes Nyíri József utca 26.
    </p>
    <p class="paragraph-primary mb-3">
      Részleges érvénytelenség, magatartási kódex
    </p>
    <p class="paragraph-primary mb-3">
      Ha az ÁSZF valamely pontja jogilag hiányos vagy hatálytalan, attól még a
      szerződés további pontjai érvényben maradnak és a hatálytalan vagy hibás
      rész helyett az alkalmazandó rendelkezései érvényesek.
    </p>
    <p class="paragraph-primary mb-3">
      Az Eladónak nincs a fogyasztókkal szembeni tisztességtelen kereskedelmi
      gyakorlat tilalmáról szóló törvény szerinti magatartási kódexe.
    </p>
    <p class="paragraph-primary mb-3">
      A digitális adattartalom működése, műszaki védelmi intézkedések
    </p>
    <p class="paragraph-primary mb-3">
      A weboldalon megjelenő adatokat szolgáltató szerverek elérhetősége évi
      99,9% feletti. Rendszeresen mentés készül a teljes adattartalomról, így
      probléma esetén az eredeti adattartalom visszaállítható. Az érzékeny
      adatok megfelelő erősségű titkosítással vannak tárolva, kódolásukhoz
      processzorba épített hardveres támogatás áll rendelkezésre.
    </p>
    <p class="paragraph-primary mb-3">Adatkezelés</p>
    <p class="paragraph-primary mb-3">
      Az üzemeltető a webáruház a használata során a rendelkezésére bocsátott
      személyes adatokat bizalmasan kezeli, és nem adja ki kívülálló harmadik
      személy számára, kivéve abban az esetben amennyiben az alvállalkozója
      számára (futárszolgálat), a megrendelés kézbesítéséhez ez szükséges.
    </p>
    <p class="paragraph-primary mb-3">
      A Webáruház böngészése folyamán technikai információk kerülnek rögzítésre
      statisztikai célokból. (IP cím, látogatás időtartama, stb). Ezen adatokat
      az üzemeltető kizárólag jogilag hitelesen indokolt, és alátámasztott
      esetben adja át a hatóságok részére. A szolgáltatás igénybevételéhez
      cookie-k engedélyezése szükséges. Amennyiben nem szeretné engedélyezi a
      cookie-k használatát, letilthatja a böngészője beállításaiban. Cookie- k
      tiltása esetén a szolgáltatás bizonyos elemei csak részben, vagy
      egyáltalán nem használhatóak. A cookie egy olyan fájl, amelyet a szerver
      küld a felhasználó böngészőjének, és amelyet a felhasználó számítógépe
      tárol. A cookie-ban személyes adat nem kerül tárolásra. A megrendelés
      folyamán rögzített adatokat az üzemeltető a megrendelés teljesítéséhez
      használja fel. Az egyes informatikai rendszerek által, a Webáruház
      oldalain leadott megrendelésből készült számla adatai a rendelés leadása
      folyamán megadott adatokkal rögzítésre, és tárolásra kerülnek a hatályos
      számviteli törvényben meghatározott időszakra.
    </p>
    <p class="paragraph-primary mb-3">
      A Webáruház böngészése illetve a regisztráció folyamán biztosított
      hírlevél feliratkozás során megadott adatokat az üzemeltető bizalmasan
      kezeli, leiratkozás kérhető a megadott elérhetőségek valamelyikén. Adatai
      törlését, módosítását bármikor kérheti írásban.
    </p>
    <p class="paragraph-primary mb-3">
      A megrendeléssel kezdődő eljárás során a 2011. évi CXII. törvény
      rendelkezései az irányadók, a Szolgáltató adatvédelmi nyilatkozata a
      honlapon érhető el.
    </p>
    <p class="paragraph-primary mb-3">Egyéb rendelkezések</p>
    <p class="paragraph-primary mb-3">
      A jelen általános szerződési feltételekben nem szabályozott kérdésekben a
      Ptk (2013.évi V. törvény), fogyasztói szerződéseknél a távollevők között
      kötött szerződésekről szóló 45/2014. kormányrendelet rendelkezései az
      irányadók.
    </p>
    <p class="paragraph-primary mb-3">Szentes, 2023. március 14.</p>
  </div>
</div>
