<div class="nyk-footer px-4 md:px-6 lg:px-8">
    <div class="py-6 flex flex-column sm:flex-row sm:align-items-center justify-content-between">
        <div class="sm:flex-order-1 flex-order-3 mt-5">
            <img
                src="../../../../assets/images/nyuszko-kucko-logo.png"
                alt="Logo"
                routerLink="/"
                height="60" />

            <div class="mt-2">&copy; 2024 Nyuszkó Kuckó</div>
        </div>

        <div
            class="flex flex-column sm:flex-row flex-nowap font-medium sm:flex-order-2 flex-order-1">
            <a class="nyk-footer-link cursor-pointer" routerLink="legal/privacy-policy">
                Adatkezelési Tájékoztató
            </a>

            <a class="nyk-footer-link cursor-pointer" routerLink="legal/terms-and-conditions">
                ÁSZF
            </a>

            <a class="nyk-footer-link cursor-pointer" routerLink="/contact"> Kapcsolat </a>
        </div>

        <div class="nyk-footer-link-social-wrapper mt-3 sm:mt-0 sm:flex-order-3 flex-order-2">
            <a
                href="https://www.instagram.com/nyuszkokucko.hu"
                target="_blank"
                class="nyk-footer-link-social cursor-pointer">
                <i class="pi pi-instagram text-2xl"></i>
            </a>

            <a
                href="https://www.facebook.com/nyuszkokucko"
                target="_blank"
                class="nyk-footer-link-social cursor-pointer">
                <i class="pi pi-facebook text-2xl"></i>
            </a>
        </div>
    </div>

    <a class="nyk-footer-developer" href="mailto:keresztesnagybence&#64;gmail.com">
        Az oldalt készítette:
        <span class="ml-2"> <i class="pi pi-envelope"></i> Keresztes-Nagy Bence </span>
    </a>
</div>
