<div class="categories">
  <p-card header="Kategóriák" subheader="Összes kategória">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-end">
            <button
              pButton
              pRipple
              type="button"
              label="Hozzáadás"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="addCategory(categoryName)"></button>
            <input type="text" [(ngModel)]="categoryName" pInputText />
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]="categories" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Név</th>
              <th>Termékek</th>
              <th>Opciók</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-category>
            <tr>
              <td>{{ category._id }}</td>
              <td>{{ category.categoryName | titlecase }}</td>
              <td>{{ category.products.length }}</td>
              <td>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-cog"
                  class="p-button p-button-warning p-button mr-2"></button
                ><button
                  (click)="deleteCategory(category._id)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-times"
                  class="p-button p-button-danger p-button"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
