<ng-container *ngIf="(isBusy$ | async) === false; else loading">
    <ng-container *ngIf="categories$ | async as categories; else loading">
        <div class="nyk-categories-header">Összes kategória</div>

        <p-table
            #table
            styleClass="p-datatable-gridlines"
            [value]="categories"
            [globalFilterFields]="['id', 'name']"
            [paginator]="true"
            [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]">
            <ng-template pTemplate="caption">
                <div class="nyk-categories-actions">
                    <p-button
                        [raised]="true"
                        icon="pi pi-plus"
                        label="Új kategória hozzáadása"
                        styleClass="w-full"
                        routerLink="/admin/categories/add">
                    </p-button>

                    <span class="p-input-icon-left ml-auto w-full md:w-6">
                        <i class="pi pi-search"></i>

                        <input
                            pInputText
                            pTooltip="Kereshető mezők:
                                Azonosító
                                Név
                            "
                            tooltipPosition="bottom"
                            class="w-full"
                            type="text"
                            (input)="applyTableGlobalFilter($event, 'contains', table)"
                            placeholder="Keresés" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>Kép</th>

                    <th class="nyk-categories-id">Azonosító</th>

                    <th pSortableColumn="name">
                        <div class="nyk-categories-th-wrapper">
                            Név
                            <p-sortIcon field="name"></p-sortIcon>
                        </div>
                    </th>

                    <th class="nyk-categories-type" pSortableColumn="isMainCategory">
                        <div class="nyk-categories-th-wrapper">
                            Kategória típus<p-sortIcon field="isMainCategory"></p-sortIcon>
                        </div>
                    </th>

                    <th class="nyk-categories-item-type" pSortableColumn="type">
                        <div class="nyk-categories-th-wrapper">
                            Tétel típus
                            <p-sortIcon field="type"></p-sortIcon>
                        </div>
                    </th>

                    <th class="nyk-categories-items" pSortableColumn="items">
                        <div class="nyk-categories-th-wrapper">
                            Tételek
                            <p-sortIcon field="items"></p-sortIcon>
                        </div>
                    </th>

                    <th class="nyk-categories-sub-categories" pSortableColumn="subCategories">
                        <div class="nyk-categories-th-wrapper">
                            Alkategóriák
                            <p-sortIcon field="subCategories"></p-sortIcon>
                        </div>
                    </th>

                    <th class="w-3rem"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-category let-i="rowIndex">
                <tr>
                    <td class="w-1">
                        <img class="hidden" [src]="category.image" (load)="imageLoaded(i)" />

                        <p-image
                            *ngIf="imageLoadedStatus[i]"
                            styleClass="shadow-2"
                            [src]="category.image"
                            [alt]="'Kategória ' + i + ' képe'"
                            [preview]="true">
                        </p-image>

                        <p-skeleton
                            *ngIf="!imageLoadedStatus[i]"
                            styleClass="skeleton"></p-skeleton>
                    </td>

                    <td class="nyk-categories-id text-primary w-9rem font-italic">
                        {{ category.id }}
                    </td>

                    <td class="text-black-alpha-90 font-medium">{{ category.name }}</td>

                    <td class="nyk-categories-type w-10rem text-center">
                        <p-badge
                            [value]="category.isMainCategory ? 'Főkategória' : 'Alkategória'"
                            [severity]="category.isMainCategory ? 'warning' : 'info'"
                            styleClass="shadow-2">
                        </p-badge>
                    </td>

                    <td class="nyk-categories-item-type w-8rem">
                        <div class="flex justify-content-center">
                            <p-badge
                                *ngIf="category.type === CategoryType.Product"
                                value="Termék"
                                severity="success"
                                styleClass="shadow-2"></p-badge>

                            <p-badge
                                styleClass="shadow-2"
                                *ngIf="category.type === CategoryType.Material"
                                value="Minta"
                                severity="info"
                                styleClass="shadow-2"></p-badge>

                            <p-badge
                                *ngIf="category.type === CategoryType.Inspiration"
                                value="Inspiració"
                                styleClass="shadow-2"></p-badge>
                        </div>
                    </td>

                    <td class="nyk-categories-items font-medium w-6rem text-center">
                        <ng-container
                            *ngIf="
                                category.type === CategoryType.Product;
                                else notProductCategoryItemsPlaceholder
                            ">
                            <span *ngIf="category.isMainCategory"> - </span>

                            <span *ngIf="!category.isMainCategory">
                                {{ category.items.length }}
                            </span>
                        </ng-container>

                        <ng-template #notProductCategoryItemsPlaceholder>
                            {{ category.items.length }}
                        </ng-template>
                    </td>

                    <td class="nyk-categories-sub-categories font-medium w-9rem text-center">
                        <ng-container
                            *ngIf="
                                category.type === CategoryType.Product;
                                else notProductCategorySubcategoriesPlaceholder
                            ">
                            <span *ngIf="category.isMainCategory">
                                {{ category.subCategories.length }}
                            </span>

                            <span *ngIf="!category.isMainCategory"> - </span>
                        </ng-container>

                        <ng-template #notProductCategorySubcategoriesPlaceholder> - </ng-template>
                    </td>

                    <td>
                        <div class="flex flex-column">
                            <p-button
                                [raised]="true"
                                icon="pi pi-cog"
                                severity="info"
                                styleClass="mb-2"
                                [routerLink]="['/admin/categories/edit', category.id]"
                                [pTooltip]="
                                    category.isMainCategory
                                        ? 'Főkategória módosítása'
                                        : 'Alkategória módosítása'
                                "
                                tooltipPosition="left">
                            </p-button>

                            <p-button
                                [raised]="true"
                                icon="pi pi-times"
                                severity="danger"
                                [disabled]="
                                    !!category.items.length || !!category.subCategories.length
                                "
                                [pTooltip]="
                                    category.isMainCategory
                                        ? 'Főkategória törlése'
                                        : 'Alkategória törlése'
                                "
                                tooltipPosition="left"
                                (click)="onDeleteCategory(category)">
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" class="text-center text-800 text-4xl h-20rem">
                        Nem található kategória
                        <p-button
                            [raised]="true"
                            icon="pi pi-plus"
                            label="Új kategória hozzáadása"
                            styleClass="block mx-auto mt-2"
                            routerLink="/admin/categories/add">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
