<p-card header="Kategóriák" *ngIf="categories$ | async as categories">
  <p-table
    #table
    styleClass="p-datatable-gridlines"
    [value]="categories"
    [globalFilterFields]="['id', 'name']"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          icon="pi pi-plus"
          label="Kategória hozzáadása"
          styleClass="p-button p-button-success"
          (click)="onAddCategory()">
        </p-button>

        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            pTooltip="Kereshető mezők: Azonosító, Név"
            tooltipPosition="bottom"
            type="text"
            (input)="applyTableGlobalFilter($event, 'contains', table)"
            placeholder="Keresés" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="w-9rem">Kép</th>

        <th>Azonosító</th>

        <th>Név</th>

        <th>Típus</th>

        <th pSortableColumn="items.length">
          Tételek
          <p-sortIcon field="items"></p-sortIcon>
        </th>

        <th>Opciók</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category let-i="rowIndex">
      <tr>
        <td>
          <img
            class="hidden"
            [src]="category.image"
            [alt]="'Inspiráció ' + i + ' képe'"
            (load)="imageLoaded(i)" />

          <p-image
            *ngIf="imageLoadedStatus[i]"
            [src]="category.image"
            [alt]="'Inspiráció ' + i + ' képe'"
            [preview]="true">
          </p-image>

          <p-skeleton
            *ngIf="!imageLoadedStatus[i]"
            styleClass="skeleton"></p-skeleton>
        </td>

        <td>{{ category._id }}</td>

        <td class="font-bold">{{ category.name }}</td>

        <td>
          <ng-container *ngIf="category.type === CategoryType.PRODUCT_CATEGORY">
            <p-badge value="Termék kategória" severity="success"></p-badge>
          </ng-container>

          <ng-container
            *ngIf="category.type === CategoryType.MATERIAL_CATEGORY">
            <p-badge value="Minta kategória" severity="warning"></p-badge>
          </ng-container>

          <ng-container
            *ngIf="category.type === CategoryType.INSPIRATION_CATEGORY">
            <p-badge value="Inspiració kategória"></p-badge>
          </ng-container>
        </td>

        <td class="font-bold">{{ category.items.length }}</td>

        <td>
          <button
            (click)="onEditCategory(category)"
            pButton
            pRipple
            pTooltip="Kategória módosítás"
            tooltipPosition="bottom"
            type="button"
            icon="pi pi-cog"
            class="p-button p-button p-button-warning p-button mr-1"></button>

          <button
            (click)="onDeleteCategory(category)"
            pButton
            pRipple
            pTooltip="Kategória törlés"
            tooltipPosition="bottom"
            type="button"
            icon="pi pi-times"
            class="p-button p-button p-button-danger p-button"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
