<div class="nyk-confirm-dialog">
    <i class="nyk-confirm-dialog-close pi pi-times" mat-dialog-close></i>

    <h2 mat-dialog-title class="mb-2">Megerősítés</h2>

    <mat-dialog-content>
        <p class="nyk-confirm-dialog-message paragraph-primary">{{ data.message }}</p>

        <div class="nyk-confirm-dialog-actions">
            <p-button label="Mégsem" [raised]="true" severity="danger" mat-dialog-close></p-button>
            <p-button
                label="Igen"
                [raised]="true"
                severity="success"
                (click)="onConfirm()"></p-button>
        </div>
    </mat-dialog-content>
</div>
