<div class="confirm-dialog">
    <i class="pi pi-times close" mat-dialog-close></i>

    <h2 mat-dialog-title class="mb-2">Megerősítés</h2>

    <mat-dialog-content>
        <p>{{ data.message }}</p>

        <div class="dialog-actions flex justify-content-end mt-5">
            <button
                type="submit"
                class="secondary-button mr-4"
                mat-dialog-close>
                Mégsem
            </button>

            <button type="submit" class="primary-button" (click)="confirm()">
                Igen
            </button>
        </div>
    </mat-dialog-content>
</div>
