<div class="px-4 py-5 md:px-6 lg:px-8">
  <div class="surface-card p-4 shadow-2 border-round mt-5 lg:w-6 mx-auto">
    <div class="text-center mb-5">
      <div class="heading-primary mb-3">Belépés</div>
      <span class="text-600 font-medium line-height-3"
        >Nem regisztráltál még?</span
      >
      <a
        routerLink="/signup"
        class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >Regisztrálj!</a
      >
    </div>

    <form (submit)="onLogin()" [formGroup]="loginForm">
      <div class="mb-3">
        <label for="email" class="block text-900 font-medium mb-2">Email</label>
        <input
          id="email"
          type="email"
          placeholder="Email cím"
          pInputText
          class="w-full"
          formControlName="email" />
        <p
          class="form-helper"
          *ngIf="!loginForm.get('email').valid && loginForm.get('email').dirty">
          Kérlek add meg az email címed.
        </p>
      </div>
      <div class="mb-3">
        <label for="password" class="block text-900 font-medium mb-2"
          >Jelszó</label
        >
        <input
          id="password"
          type="password"
          placeholder="Jelszó"
          pInputText
          class="w-full"
          formControlName="password" />
        <p
          class="form-helper"
          *ngIf="
            !loginForm.get('password').valid && loginForm.get('password').dirty
          ">
          Kérlek add meg a jelszavad.
        </p>
      </div>

      <div class="flex align-items-center justify-content-between mb-5">
        <a
          class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
          routerLink="../forgot-password"
          >Elfelejtetted a jelszavad?</a
        >
      </div>

      <button
        class="primary-button w-full shadow-2"
        type="submit"
        [disabled]="!loginForm.valid">
        Belépés
      </button>
    </form>
  </div>
</div>
