<div class="p-fluid flex flex-column lg:flex-row">
  <div class="surface-card p-5 shadow-2 border-round flex-auto">
    <div class="text-900 font-semibold text-lg mt-3">Termék hozzáadás</div>
    <p-divider></p-divider>
    <div class="flex gap-5 flex-column-reverse md:flex-row">
      <form
        class="flex-auto p-fluid"
        (submit)="onAddProduct()"
        [formGroup]="productForm">
        <div class="mb-4">
          <label for="name" class="block font-medium text-900 mb-2"
            >Termék neve</label
          >
          <input id="name" type="text" formControlName="name" pInputText />
        </div>

        <div class="mb-4">
          <label for="categoryId" class="block font-medium text-900 mb-2"
            >Termék kategória</label
          >
          <p-dropdown
            id="categoryId"
            formControlName="categoryId"
            [options]="categories$ | async"
            placeholder="Válassz egy kategóriát"
            optionValue="_id"
            optionLabel="categoryName"
            [showClear]="true"></p-dropdown>
        </div>

        <div class="mb-4">
          <label for="shortDescription" class="block font-medium text-900 mb-2"
            >Termék rövid leírása</label
          >
          <input
            id="shortDescription"
            type="text"
            formControlName="shortDescription"
            pInputText />
        </div>

        <div class="mb-4">
          <label for="description" class="block font-medium text-900 mb-2"
            >Termék leírása</label
          >
          <textarea
            id="description"
            formControlName="description"
            type="text"
            pInputTextarea
            rows="5"
            [autoResize]="true"></textarea>
        </div>

        <div class="mb-4">
          <label for="bio" class="block font-medium text-900 mb-2"
            >Termék képek (az első kép lesz mindig a nagy kép)</label
          >
          <p-button
            icon="pi pi-image"
            styleClass="p-button-secondary"
            (click)="imagePicker.click()"></p-button>
          <input
            multiple
            type="file"
            class="hidden"
            #imagePicker
            (change)="onImagePicked($event)" />
          <div class="flex-row">
            <img
              class="w-2 m-3 inline"
              *ngFor="let image of imagesPreview"
              [src]="image"
              [alt]="productForm.value.name" />
          </div>

          <p-button
            *ngIf="imagesPreview.length"
            icon="pi pi-times"
            styleClass="p-button-warning"
            (click)="imagesPreview = []"></p-button>
        </div>

        <div class="mb-4">
          <label for="price" class="block font-medium text-900 mb-2"
            >Termék ára</label
          >
          <input id="price" formControlName="price" type="text" pInputText />
        </div>
        <div class="mb-4">
          <label for="stock" class="block font-medium text-900 mb-2"
            >Készleten</label
          >
          <input id="stock" formControlName="stock" type="text" pInputText />
        </div>
        <div>
          <button
            pButton
            pRipple
            label="Hozzáadás"
            type="submit"
            class="w-auto"></button>
        </div>
      </form>
    </div>
  </div>
</div>
