<p-card header="Minták" *ngIf="materials$ | async as materials">
  <div class="flex">
    <form [formGroup]="categoryForm">
      <p-dropdown
        styleClass="mb-5 mr-5"
        id="categoryId"
        [options]="categories"
        formControlName="category"
        optionValue="value"
        optionLabel="name"
        [showClear]="true"></p-dropdown>
    </form>
    <p-button
      routerLink="../add-material"
      icon="pi pi-plus"
      label="Hozzáadás"
      styleClass="p-button-raised p-button-success"></p-button>
  </div>
  <div class="grid">
    <div class="col-12">
      <p-table [value]="materials" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>Kép</th>
            <th>Név</th>
            <th>Kategória</th>
            <th>Extra ár</th>
            <th>Rendelhető</th>
            <th>Opciók</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-material>
          <tr>
            <td>
              <img
                appLazyImage
                class="material-image"
                [src]="material.image"
                [alt]="material.name" />
            </td>
            <td>{{ material.name }}</td>
            <td>{{ material.category }}</td>
            <td>{{ material.extra }} Ft</td>
            <td>{{ material.isAvailable ? 'igen' : 'nem' }}</td>
            <td>
              <button
                (click)="onEditMaterial(material)"
                pButton
                pRipple
                type="button"
                icon="pi pi-cog"
                class="p-button p-button-warning p-button mr-2"></button
              ><button
                (click)="onDeleteMaterial(material)"
                pButton
                pRipple
                type="button"
                icon="pi pi-times"
                class="p-button p-button-danger p-button"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>

<p-dialog
  header="Header"
  [(visible)]="isDialogVisible"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Minta szerkesztése</span>
  </ng-template>

  <form
    class="flex-auto p-fluid"
    [formGroup]="materialForm"
    *ngIf="isDialogVisible">
    <div class="mb-4">
      <label for="name" class="block font-medium text-900 mb-2"
        >Minta neve</label
      >
      <input id="name" type="text" formControlName="name" pInputText />
    </div>

    <div class="mb-4">
      <label for="category" class="block font-medium text-900 mb-2"
        >Minta kategória</label
      >
      <p-dropdown
        id="category"
        formControlName="category"
        [options]="categories"
        optionValue="value"
        optionLabel="name"
        [showClear]="true"></p-dropdown>
    </div>

    <div class="mb-4">
      <label for="extra" class="block font-medium text-900 mb-2"
        >Minta extra ára</label
      >
      <input id="extra" formControlName="extra" type="text" pInputText />
    </div>
    <div class="mb-4">
      <label for="stock" class="block font-medium text-900 mb-2"
        >Rendelhető?</label
      >
      <p-toggleButton
        styleClass="w-auto"
        formControlName="isAvailable"
        onLabel="Igen"
        offLabel="Nem"></p-toggleButton>
    </div>

    <p-button
      label="Módosítás"
      styleClass="p-button-raised w-auto"
      [disabled]="!materialForm.valid"
      (click)="onUpdateMaterial()"></p-button>
  </form>
</p-dialog>
