<div class="p-fluid flex flex-column lg:flex-row">
  <div class="surface-card p-5 shadow-2 border-round flex-auto">
    <div class="text-900 font-semibold text-lg mt-3">Minta hozzáadás</div>
    <p-divider></p-divider>
    <div class="flex gap-5 flex-column-reverse md:flex-row">
      <form
        class="flex-auto p-fluid"
        (submit)="onSubmit()"
        [formGroup]="materialForm">
        <div class="mb-4">
          <label for="name" class="block font-medium text-900 mb-2"
            >Minta neve</label
          >
          <input id="name" type="text" formControlName="name" pInputText />
        </div>

        <div class="mb-4">
          <label for="category" class="block font-medium text-900 mb-2"
            >Minta kategória</label
          >
          <p-dropdown
            id="categoryId"
            formControlName="category"
            placeholder="Válassz egy kategóriát"
            [options]="categories"
            optionValue="value"
            optionLabel="name"
            [showClear]="true"></p-dropdown>
        </div>

        <div class="mb-4">
          <label for="bio" class="block font-medium text-900 mb-2"
            >Minta kép</label
          >
          <p-button
            icon="pi pi-image"
            styleClass="p-button-secondary"
            (click)="imagePicker.click()"></p-button>
          <input
            type="file"
            class="hidden"
            #imagePicker
            (change)="onImagePicked($event)" />
          <img
            class="w-3 mt-3"
            *ngIf="imagePreview"
            [src]="imagePreview"
            [alt]="materialForm.value.name" />
        </div>

        <div class="mb-4">
          <label for="extra" class="block font-medium text-900 mb-2"
            >Minta extra ára</label
          >

          <input id="extra" formControlName="extra" type="number" pInputText />
        </div>
        <div class="mb-4">
          <label for="stock" class="block font-medium text-900 mb-2"
            >Rendelhető?</label
          >
          <p-toggleButton
            formControlName="isAvailable"
            onLabel="Igen"
            offLabel="Nem"></p-toggleButton>
        </div>
        <div>
          <button
            pButton
            pRipple
            label="Hozzáadás"
            [disabled]="!materialForm.valid"
            type="submit"
            class="w-auto"></button>
        </div>
      </form>
    </div>
  </div>
</div>
