<div class="px-4 py-8 md:px-6 lg:px-8">
  <div
    class="p-fluid flex flex-column lg:flex-row"
    *ngIf="user$ | async as user">
    <ul
      class="list-none m-0 p-0 flex flex-row lg:flex-column justify-content-evenly md:justify-content-between lg:justify-content-start mb-5 lg:pr-8 lg:mb-0">
      <li>
        <a
          pRipple
          [class.surface-hover]="activeMenu === 'profile'"
          class="flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
          (click)="activeMenu = 'profile'">
          <i class="pi pi-user md:mr-2"></i>
          <span class="font-medium hidden md:block">Profil</span>
        </a>
      </li>
      <li>
        <a
          pRipple
          [class.surface-hover]="activeMenu === 'address'"
          class="flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
          (click)="activeMenu = 'address'">
          <i class="pi pi-truck md:mr-2"></i>
          <span class="font-medium hidden md:block">Cím</span>
        </a>
      </li>
      <li>
        <a
          pRipple
          [class.surface-hover]="activeMenu === 'settings'"
          class="flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
          (click)="activeMenu = 'settings'">
          <i class="pi pi-cog md:mr-2"></i>
          <span class="font-medium hidden md:block">Beállítások</span>
        </a>
      </li>
    </ul>
    <form class="w-full" [formGroup]="form" (submit)="onSubmit()">
      <div
        class="surface-card p-5 shadow-2 border-round flex-auto"
        @fadeIn
        *ngIf="activeMenu === 'profile'">
        <div class="heading-primary mt-3">Profil</div>
        <p-divider></p-divider>
        <div class="flex gap-5 flex-column-reverse md:flex-row">
          <div class="flex-auto p-fluid">
            <div class="mb-4">
              <label for="name" class="block text-900 mb-2">Név</label>
              <input id="name" type="text" formControlName="name" pInputText />
            </div>

            <div class="mb-4">
              <label for="phone" class="block text-900 mb-2">Telefon</label>
              <input
                id="phone"
                type="text"
                formControlName="phone"
                pInputText />
            </div>
            <div class="mb-4">
              <label for="subscribed" class="block text-900 mb-2"
                >Hírlevél feliratkozás</label
              >
              <p-toggleButton
                id="subscribed"
                styleClass="p-button-raised w-auto"
                formControlName="subscribed"
                onLabel="Igen"
                offLabel="Nem"></p-toggleButton>
            </div>
            <div>
              <button
                pButton
                pRipple
                label="Adatok módosítása"
                type="submit"
                class="w-auto"></button>
            </div>
          </div>
        </div>
      </div>

      <div
        formGroupName="address"
        class="surface-card p-5 shadow-2 border-round flex-auto"
        @fadeIn
        *ngIf="activeMenu === 'address'">
        <div class="heading-primary mt-3 mt-3">Cím</div>
        <p-divider></p-divider>
        <div class="flex gap-5 flex-column-reverse md:flex-row">
          <div class="flex-auto p-fluid">
            <div class="mb-4">
              <label for="street" class="block text-900 mb-2"
                >Utca/házszám/épület</label
              >
              <input
                id="street"
                type="text"
                formControlName="street"
                pInputText />
            </div>
            <div class="mb-4">
              <label for="city" class="block text-900 mb-2">Város</label>
              <input id="city" type="text" formControlName="city" pInputText />
            </div>
            <div class="mb-4">
              <label for="postcode" class="block text-900 mb-2"
                >Irányítószám</label
              >
              <input
                id="postcode"
                type="text"
                formControlName="postcode"
                pInputText />
            </div>
            <div class="mb-4">
              <label for="county" class="block text-900 mb-2">Megye</label>
              <input
                id="county"
                type="text"
                formControlName="county"
                pInputText />
            </div>
            <div>
              <button
                pButton
                pRipple
                label="Adatok módosítása"
                class="w-auto"></button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="surface-card p-5 shadow-2 border-round flex-auto"
        @fadeIn
        *ngIf="activeMenu === 'settings'">
        <div class="heading-primary mt-3 mt-3">Beállítások</div>
        <p-divider></p-divider>
        <div class="flex gap-5 flex-column-reverse md:flex-row">
          <div class="flex-auto p-fluid">
            <div class="mb-4">
              <label class="block text-900 mb-2">Új jelszó beállítás</label>
              <input
                class="mb-2"
                type="password"
                placeholder="Új jelszó"
                pInputText
                #newPassword />
              <input
                class="mb-2"
                type="password"
                placeholder="Új jelszó megerősítése"
                pInputText
                #newPasswordConfirm />
              <input
                class="mb-3"
                type="password"
                placeholder="Régi jelszó "
                pInputText
                #oldPassword />
              <button
                pButton
                pRipple
                type="button"
                label="Jelszó módosítása"
                class="w-auto p-button-raised"
                (click)="
                  onChangePassword(
                    newPassword.value,
                    newPasswordConfirm.value,
                    oldPassword.value
                  )
                "></button>
            </div>
            <div class="mb-4">
              <p
                class="text-red-300 underline cursor-pointer"
                (click)="onDeleteCurrentUser()">
                Fiók törléséhez kattints ide.
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
