<div class="nyk-add-question-header">Kérdés hozzáadás</div>

<form class="nyk-add-question-type-form" [formGroup]="questionTypeForm">
    <p-selectButton
        formControlName="questionType"
        styleClass="shadow-2"
        [options]="questionTypeFormOptions"
        optionLabel="label"
        optionValue="value">
    </p-selectButton>
</form>

<ng-container
    *ngIf="
        (questionType$ | async) === QuestionType.Custom;
        then stringQuestionFormTemplate;
        else categoryQuestionFormTemplate
    ">
</ng-container>

<ng-template #stringQuestionFormTemplate>
    <div class="nyk-add-question-string-content">
        <form class="nyk-add-question-string-content-form" [formGroup]="addCustomQuestionForm">
            <div class="form-group">
                <label for="name"> Kérdés neve </label>

                <input id="name" formControlName="name" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="question"> Kérdés </label>

                <input id="question" formControlName="question" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="optionName"> Választási lehetőség </label>

                <input id="optionName" formControlName="optionName" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="extraPrice"> Lehetőség extra ára </label>

                <p-inputNumber
                    [showButtons]="true"
                    inputId="extraPrice"
                    formControlName="extraPrice"
                    styleClass="w-full"
                    mode="currency"
                    currency="HUF"
                    [min]="0" />
            </div>

            <p-button
                [raised]="true"
                label="Lehetőség hozzáadása"
                icon="pi pi-plus"
                styleClass="p-button p-button-success w-full"
                [disabled]="
                    !addCustomQuestionForm.value.optionName || !addCustomQuestionForm.value.name
                "
                (click)="onAddCustomOption()"></p-button>
        </form>

        <div
            *ngIf="addCustomQuestionForm.value.name"
            class="nyk-add-question-string-content-preview">
            <p class="nyk-add-question-string-content-preview-header">Előnézet</p>

            <p class="nyk-add-question-string-content-preview-name">
                <span>Kérdés neve:</span>
                {{ addCustomQuestionForm.value.name }}
            </p>

            <div class="form-group">
                <label class="nyk-add-question-string-content-preview-question" for="option">
                    <span>Kérdés:</span>
                    {{ addCustomQuestionForm.value.question }}
                </label>

                <p-dropdown
                    *ngIf="addCustomQuestionForm.value.options.length"
                    [options]="addCustomQuestionForm.value.options"
                    optionLabel="nameWithExtra"
                    styleClass="w-full">
                </p-dropdown>
            </div>

            <p class="nyk-add-question-string-content-preview-header">Lehetőségek</p>

            <div
                class="nyk-add-question-string-content-preview-option-wrapper"
                *ngFor="let option of addCustomQuestionForm.value.options; let i = index">
                <p class="nyk-add-question-string-content-preview-option-wrapper-option">
                    <span>{{ i + 1 }}.</span> {{ option.nameWithExtra }}
                </p>

                <p-button
                    [raised]="true"
                    icon="pi pi-times"
                    styleClass="p-button-danger"
                    (click)="onDeleteCustomOption(i)">
                </p-button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #categoryQuestionFormTemplate>
    <div class="nyk-add-question-material-content">
        <form class="nyk-add-question-material-content-form" [formGroup]="addMaterialQuestionForm">
            <div class="form-group">
                <label for="isOptional"> Opcionális kérdés </label>

                <p-inputSwitch formControlName="isOptional"></p-inputSwitch>
            </div>
            <div class="form-group">
                <label for="name"> Kérdés neve </label>

                <input id="name" formControlName="name" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="question"> Kérdés </label>

                <input id="question" formControlName="question" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="category"> Valassz minta kategóriát </label>

                <p-dropdown
                    id="category"
                    formControlName="category"
                    styleClass="w-full"
                    placeholder="Válassz egy kategóriát"
                    [options]="materialCategories$ | async"
                    optionValue="id"
                    optionLabel="name">
                </p-dropdown>
            </div>

            <p-button
                [raised]="true"
                label="Lehetőség hozzáadás"
                icon="pi pi-plus"
                styleClass="p-button p-button-success w-full"
                [disabled]="
                    !addMaterialQuestionForm.value.category || !addMaterialQuestionForm.value.name
                "
                (click)="addMaterialOption(addMaterialQuestionForm.value.category)">
            </p-button>
        </form>

        <div
            *ngIf="addMaterialQuestionForm.value.name"
            class="nyk-add-question-material-content-preview">
            <p class="nyk-add-question-material-content-preview-header">Előnézet</p>

            <p class="nyk-add-question-material-content-preview-name">
                <span>Kérdés neve:</span>{{ addMaterialQuestionForm.value.name }}
            </p>

            <div class="form-group">
                <label class="nyk-add-question-material-content-preview-question" for="option">
                    <span>Kédés:</span>
                    {{ addMaterialQuestionForm.value.question }}
                </label>

                <p-dropdown
                    *ngIf="addMaterialQuestionForm.value.options.length"
                    [options]="addMaterialQuestionForm.value.options"
                    optionLabel="nameWithExtra"
                    styleClass="w-full">
                </p-dropdown>
            </div>

            <ng-container *ngIf="addMaterialQuestionForm.value.options.length">
                <p class="nyk-add-question-material-content-preview-header">Lehetőségek</p>

                <div
                    class="nyk-add-question-material-content-preview-option-wrapper"
                    *ngFor="let option of selectedCategories; let i = index">
                    <p class="nyk-add-question-material-content-preview-option-wrapper-option">
                        <span>{{ i + 1 }}.</span> {{ option.name }}
                    </p>

                    <p-button
                        [raised]="true"
                        icon="pi pi-times"
                        styleClass="p-button-danger"
                        (click)="deleteMaterialCategoryOption(option.id, i)">
                    </p-button>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>

<p-button
    *ngIf="questionType$ | async as questionType"
    [raised]="true"
    type="submit"
    label="Kérdés hozzáadás"
    styleClass="p-button w-full mt-3"
    (click)="onSubmit(questionType)">
</p-button>
