<div *ngIf="!isLoading; else loading" class="nyk-signin-container">
    <div class="nyk-signin-header heading-primary">Belépés</div>

    <span class="nyk-signin-sub-header paragraph-primary">
        Nem regisztráltál még?
        <a routerLink="/auth/signup">Regisztrálj!</a>
    </span>

    <form class="nyk-signin-form" [formGroup]="signinForm" (submit)="onSignin()">
        <div class="form-group">
            <label for="email">Email</label>

            <input id="email" type="email" pInputText class="w-full" formControlName="email" />

            <small *ngIf="isFormFieldValid(signinForm, 'email')" class="form-helper">
                Kérlek add meg az email címed
            </small>
        </div>

        <div class="form-group">
            <label for="password"> Jelszó </label>

            <div class="nyk-signin-password-wrapper">
                <input
                    id="password"
                    type="password"
                    pInputText
                    class="w-full"
                    formControlName="password" />

                <i
                    class="nyk-signin-password-toggle pi"
                    [class]="togglePasswordButtonIcon"
                    (click)="onTogglePasswordVisibility()">
                </i>
            </div>

            <small *ngIf="isFormFieldValid(signinForm, 'password')" class="form-helper">
                Kérlek add meg a jelszavad.
            </small>
        </div>

        <a class="paragraph-primary" routerLink="../forgot-password">Elfelejtetted a jelszavad?</a>

        <p-button
            label="Belépés"
            severity="secondary"
            icon="pi pi-user"
            styleClass="w-full"
            type="submit"
            [disabled]="!signinForm.valid"></p-button>
    </form>
</div>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
