<div *ngIf="!isLoading; else loading" class="nyk-signin-container">
    <div class="nyk-signin-header heading-primary">Belépés</div>

    <p class="nyk-signin-sub-header paragraph-primary">
        Nem regisztráltál még?
        <a routerLink="/auth/signup">Regisztrálj!</a>
    </p>

    <form class="nyk-signin-form" [formGroup]="signinForm" (submit)="onSignin()">
        <div class="form-group">
            <label for="email">Email</label>

            <input id="email" type="email" pInputText class="w-full" formControlName="email" />

            <small *ngIf="isFormFieldValid(signinForm, 'email')" class="form-helper">
                Kérlek add meg az email címed
            </small>
        </div>

        <div class="form-group">
            <label for="password"> Jelszó </label>

            <p-password
                inputId="password"
                inputStyleClass="w-full"
                styleClass="w-full"
                formControlName="password"
                [feedback]="false"
                [toggleMask]="true">
            </p-password>

            <small *ngIf="isFormFieldValid(signinForm, 'password')" class="form-helper">
                Kérlek add meg a jelszavad.
            </small>
        </div>

        <p class="nyk-signin-forgot-password paragraph-primary">
            Elfelejtetted a jelszavad? Kattints
            <a routerLink="../forgot-password">ide</a>
            és állíts be egy újat.
        </p>

        <p-button
            label="Belépés"
            severity="secondary"
            icon="pi pi-user"
            styleClass="w-full"
            type="submit"
            [disabled]="!signinForm.valid"
            [raised]="true">
        </p-button>
    </form>

    <div class="nyk-signin-or-container paragraph-primary">Vagy</div>

    <asl-google-signin-button type="standard" size="large" shape="rectangular" locale="HU">
    </asl-google-signin-button>
</div>
<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
