@import 'mixins';

.nyk-signin {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 40px 20px;
        margin: 0 auto;
        background: var(--background-gradient);

        @include respond(sm) {
            width: 100%;
        }
    }

    &-header {
        margin-bottom: 8px;
    }

    &-sub-header {
        margin-bottom: 8px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    &-password {
        &-wrapper {
            position: relative;
        }

        &-toggle {
            position: absolute;
            top: 50%;
            right: 8px;
            font-size: var(--font-size-m);
            transform: translateY(-50%);
            color: var(--color-grey);
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }

    &-forgot-password {
        margin-left: auto;
    }

    a {
        color: var(--color-blue);
        text-decoration: underline;
        cursor: pointer;
    }
}
