<ng-container *ngIf="inspiration$ | async as inspiration; else loading">
    <div class="nyk-edit-inspiration-header">Inspiráció módosítása</div>

    <form class="nyk-edit-inspiration-form" [formGroup]="editInspirationForm">
        <div class="form-group">
            <label for="name"> Inspiráció neve </label>

            <input id="name" type="text" formControlName="name" pInputText />
        </div>

        <div class="form-group">
            <label for="categoryId"> Inspiráció kategóriája </label>

            <p-dropdown
                id="category"
                formControlName="category"
                placeholder="Válassz egy kategóriát"
                [options]="categories$ | async"
                optionValue="id"
                optionLabel="name"
                styleClass="w-full">
            </p-dropdown>
        </div>

        <div class="form-group">
            <label> Inspiráció képe </label>

            <p-button
                *ngIf="!imagePreview"
                [raised]="true"
                icon="pi pi-image"
                styleClass="p-button p-button-secondary"
                (click)="imagePicker.click()">
            </p-button>

            <p-button
                *ngIf="imagePreview"
                [raised]="true"
                icon="pi pi-times"
                pTooltip="Kép törlése"
                tooltipPosition="bottom"
                severity="danger"
                styleClass="mb-2"
                (click)="onImageClear(imagePicker)">
            </p-button>

            <input
                id="imagePicker"
                type="file"
                class="hidden"
                #imagePicker
                (change)="onImagePicked($event)" />

            <img
                *ngIf="imagePreview"
                class="image-preview border-round"
                [src]="imagePreview"
                alt="Kategória" />

            <img
                *ngIf="!imagePreview"
                class="mt-2 image-preview border-round"
                src="../../../../../../assets/images/no-image.png"
                alt="Kategória" />
        </div>

        <p-button
            [raised]="true"
            label="Módosítás"
            styleClass="p-button w-full mb-3"
            [disabled]="!editInspirationForm.dirty || !editInspirationForm.valid"
            (click)="onEditInspiration()">
        </p-button>
    </form>

    <nyk-item-history
        itemType="Inspiráció"
        [logs]="logs$ | async"
        [createdAt]="inspiration.createdAt"
        [updatedAt]="inspiration.updatedAt">
    </nyk-item-history>
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
