<div class="confirm-dialog">
  <i class="pi pi-times close" (click)="cancel()"></i>

  <h2 mat-dialog-title>{{ data.title }}</h2>

  <mat-dialog-content>
    <p class="">{{ data.message }}</p>

    <div class="dialog-actions flex justify-content-end mt-4">
      <p-button
        [label]="data.cancelButtonText"
        styleClass="p-button-raised p-button-warning mr-4"
        (click)="cancel()"></p-button>
      <p-button
        [label]="data.confirmButtonText"
        styleClass="p-button-raised"
        (click)="confirm()"></p-button>
    </div>
  </mat-dialog-content>
</div>
