<i class="pi pi-times close" mat-dialog-close></i>
<h2 mat-dialog-title>Felhasználó információ</h2>

<mat-dialog-content>
  <p-tabMenu
    [model]="tabMenuItems"
    [activeItem]="activeItem"
    (activeItemChange)="onChangeTabMenu($event)">
  </p-tabMenu>

  <ng-scrollbar class="ng-scrollbar" style="height: 50vh">
    <div class="mhd-user-details">
      <ng-container [ngSwitch]="activeItem.id">
        <ng-container *ngSwitchCase="'details'">
          <div class="mhd-user-details-group">
            <div class="text-primary font-semibold">Azonosító</div>

            <div class="text-700">
              {{ user.id }}
            </div>
          </div>

          <p-divider></p-divider>

          <div class="mhd-user-details-group">
            <div class="text-primary font-semibold">Név</div>

            <div class="text-700">
              {{ user.name }}
            </div>
          </div>

          <p-divider></p-divider>

          <div class="mhd-user-details-group">
            <div class="text-primary font-semibold">Email</div>

            <div class="text-700">
              {{ user.email }}
            </div>
          </div>

          <p-divider></p-divider>

          <div class="mhd-user-details-group">
            <div class="text-primary font-semibold">Telefon</div>

            <div class="text-700">
              {{ user.phone }}
            </div>
          </div>

          <p-divider *ngIf="user.createdAt"></p-divider>

          <div *ngIf="user.createdAt" class="mhd-user-details-group">
            <div class="text-primary font-semibold">Regisztrált</div>

            <div class="text-700">
              {{ user.createdAt | date : "yyy, MMM dd '-' hh:mm a" }}
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'addresses'">
          <div class="mhd-user-details-address">
            <h1
              class="mhd-user-details-address-title text-xl text-primary font-semibold">
              Szállítási cím
            </h1>

            <div class="mhd-user-details-group">
              <div class="text-primary font-semibold">Utca</div>

              <div class="text-700">
                {{ user.shippingAddress.street }}
              </div>
            </div>

            <p-divider></p-divider>

            <div class="mhd-user-details-group">
              <div class="text-primary font-semibold">Város</div>

              <div class="text-700">
                {{ user.shippingAddress.city }}
              </div>
            </div>

            <p-divider></p-divider>

            <div class="mhd-user-details-group">
              <div class="text-primary font-semibold">Irányítószám</div>

              <div class="text-700">
                {{ user.shippingAddress.postcode }}
              </div>
            </div>

            <p-divider></p-divider>

            <div class="mhd-user-details-group">
              <div class="text-primary font-semibold">Megye</div>

              <div class="text-700">
                {{ user.shippingAddress.county }}
              </div>
            </div>

            <p-divider></p-divider>

            <h1
              class="mhd-user-details-address-title text-xl text-primary font-semibold">
              Számlázási cím
            </h1>

            <div class="mhd-user-details-group">
              <div class="text-primary font-semibold">Utca</div>

              <div class="text-700">
                {{ user.billingAddress.street }}
              </div>
            </div>

            <p-divider></p-divider>

            <div class="mhd-user-details-group">
              <div class="text-primary font-semibold">Város</div>

              <div class="text-700">
                {{ user.billingAddress.city }}
              </div>
            </div>

            <p-divider></p-divider>

            <div class="mhd-user-details-group">
              <div class="text-primary font-semibold">Irányítószám</div>

              <div class="text-700">
                {{ user.billingAddress.postcode }}
              </div>
            </div>

            <p-divider></p-divider>

            <div class="mhd-user-details-group">
              <div class="text-primary font-semibold">Megye</div>

              <div class="text-700">
                {{ user.billingAddress.county }}
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'cart'">
          <mhd-shopping-cart-items [cartItems]="user.shoppingCart">
          </mhd-shopping-cart-items>
        </ng-container>
      </ng-container>
    </div>
  </ng-scrollbar>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <p-button
    label="Vissza"
    styleClass="p-button p-button-danger"
    mat-dialog-close>
  </p-button>
</mat-dialog-actions>
