<main class="about-us">
  <article class="container">
    <h1 class="heading primary-heading">Rólam</h1>
    <p class="text primary-paragraph">
      Sziasztok!<br />
      Kalmár Betti vagyok. <br />
      Végre egy álmom vált valóra, itt vagytok a weboldalamon. Sok éve egy kezdő
      varró tanfolyammal indultam, első nekifutásnak a ruhák varrásának világába
      cseppentem, majd jött a kis unokahúgom kérése, ami mindent megváltozatott.
      Egy nyuszit szeretett volna, először fogtam a fejem, de végül megszületett
      az első nyuszkó, (persze nem úgy nézett ki, mint a mostaniak) és rájöttem
      nincs jobb dolog annál amikor egy gyereknek örömet okozhatok. Kezdetben
      hobbiként indult, de már nemtudom elképzelni az életemet varrás nélkül. 4
      éve folyamatosan tervezek, új dolgokat sajátítok el, hogy minden
      korosztálynak megtaláljátok nálam a számára megfelelő egyedi játszótársat,
      ajándékot. Szeretnék örök emléket átadni Nektek, amit évek múltán is,
      mosolyogva újra-újra elővehettek majd.
    </p>
  </article>
  <article class="container">
    <h1 class="heading primary-heading">Nyuszkó- Kuckó bemutatás:</h1>
    <p class="text primary-paragraph">
      Szeretném nektek bemutatni a Nyuszkó-Kuckót, ahol egyedi, akár kézzel
      hímzett névvel ellátott textil figurákat, pihe-puha szundikendőket
      találtok. Nagyon sok minta és szín közül válogathattok, hogy minden
      egyéniség megtalálja a hozzá leginkább illőt. Minden darab szeretettel és
      hatalmas odafigyeléssel készül. Termékeimet egészen újszülött kortól
      ajánlom, babák számára is teljesen biztonságos. Egy nyuszkó egészen óvodás
      korig hű társ lehet. A pihe-puha szundikendők pedig segítenek az
      elalvásban, csupa öröm hozzájuk bújni. Kiváló ajándék lehet babaváró
      bulira, keresztelőre, de újszülött fotózásokra is remek kellék lehet.
    </p>
  </article>
  <article class="container">
    <h1 class="heading primary-heading">Masni Handmade Dolls bemutatás:</h1>
    <p class="text primary-paragraph">
      A Masni Handmade Dolls babák egyedi, kézműves babák gyerekeknek. Kérésre
      kézzel hímzett névvel ellátva. Választását 3 éves kortól ajánlanám.
      Ilyenkor jön az babázós, öltöztetős korszak, az összes baba és
      ruha/kiegészítő szabadon kombinálható, cserélgethető. Minden darab gondos
      odafigyeléssel és nagy szeretettel készül, szeretném ha a babáim nemcsak
      egyediek lennének, de hosszú ideig társai lehetnének a gyerkőcöknek,
      később pedig, mint emlék, továbbra is a család tagjai maradnának.
    </p>
  </article>
</main>
