<main class="samples" *ngIf="sortedMaterials | async">
  <h1 class="heading-primary">Mintás pamutvászon</h1>
  <p-galleria
    [value]="(sortedMaterials | async).patternedCotton"
    [(visible)]="displayCustomFirstGalery"
    [(activeIndex)]="activeIndexFirstGalery"
    [containerStyle]="{ 'max-width': '850px' }"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
    [baseZIndex]="50">
    <ng-template pTemplate="item" let-sample>
      <img
        [src]="'../../../../assets/images/materials/' + sample.image"
        [alt]="sample.name"
        style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>
  <div class="grid" style="max-width: 100%">
    <div
      *ngFor="
        let sample of (sortedMaterials | async).patternedCotton;
        let index = index
      "
      class="item-content col-3 lg:col-2"
      key="index">
      <img
        [src]="'../../../../assets/images/materials/' + sample.image"
        class="mb-1 shadow-2"
        style="cursor: pointer"
        (click)="imageClickFirstGalery(index)" />
      <p class="name text-center">{{ sample.name | titlecase }}</p>
    </div>
  </div>

  <h1 class="heading-primary">Mintás pamutvászon</h1>
  <p-galleria
    [value]="(sortedMaterials | async).minkyPlus"
    [(visible)]="displayCustomSecondGalery"
    [(activeIndex)]="activeIndexSecondGalery"
    [containerStyle]="{ 'max-width': '850px' }"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
    [baseZIndex]="50">
    <ng-template pTemplate="item" let-sample>
      <img
        [src]="'../../../../assets/images/materials/' + sample.image"
        [alt]="sample.name"
        style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>
  <div class="grid" style="max-width: 100%">
    <div
      *ngFor="
        let sample of (sortedMaterials | async).minkyPlus;
        let index = index
      "
      class="item-content col-3 lg:col-2"
      key="index">
      <img
        [src]="'../../../../assets/images/materials/' + sample.image"
        class="mb-1 shadow-2"
        style="cursor: pointer"
        (click)="imageClickSecondGalery(index)" />
      <p class="name text-center">{{ sample.name | titlecase }}</p>
    </div>
  </div>

  <h1 class="heading heading-primary">Duplagéz</h1>
  <p-galleria
    [value]="(sortedMaterials | async).doubleGauze"
    [(visible)]="displayCustomThirdGalery"
    [(activeIndex)]="activeIndexThirdGalery"
    [containerStyle]="{ 'max-width': '850px' }"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false">
    <ng-template pTemplate="item" let-sample>
      <img
        [src]="'../../../../assets/images/materials/' + sample.image"
        [alt]="sample.name"
        style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>
  <div class="grid" style="max-width: 100%">
    <div
      *ngFor="
        let sample of (sortedMaterials | async).doubleGauze;
        let index = index
      "
      class="item-content col-3 lg:col-2"
      key="index">
      <img
        [src]="'../../../../assets/images/materials/' + sample.image"
        class="mb-1 shadow-2"
        style="cursor: pointer"
        (click)="imageClickThirdGalery(index)" />
      <p class="name text-center">{{ sample.name | titlecase }}</p>
    </div>
  </div>
</main>
