<main class="samples">
  <h1 class="heading heading-primary">Mintás pamutvászon</h1>
  <div class="container">
    <div class="wrapper" *ngFor="let material of patternedCotton">
      <p-image
        [src]="'../../../../assets/images/materials/' + material.image"
        imageClass="border-round"
        alt="Image"
        [preview]="true">
        <ng-template pTemplate="indicator">
          <p class="indicator-text">
            {{ material.name | titlecase }}
          </p>
        </ng-template></p-image
      >
      <p class="name">{{ material.name | titlecase }}</p>
    </div>
  </div>
  <h1 class="heading heading-primary">Minky plüss</h1>
  <div class="container">
    <div class="wrapper" *ngFor="let material of minkyPlus">
      <p-image
        [src]="'../../../../assets/images/materials/' + material.image"
        alt="Image"
        [preview]="true">
        <ng-template pTemplate="indicator">
          <p class="indicator-text">
            {{ material.name | titlecase }}
          </p>
        </ng-template></p-image
      >
      <p class="name">{{ material.name | titlecase }}</p>
    </div>
  </div>
  <h1 class="heading heading-primary">Duplagéz</h1>
  <div class="container">
    <div class="wrapper" *ngFor="let material of doubleGauze">
      <p-image
        [src]="'../../../../assets/images/materials/' + material.image"
        alt="Image"
        [preview]="true">
        <ng-template pTemplate="indicator">
          <p class="indicator-text">
            {{ material.name | titlecase }}
          </p>
        </ng-template></p-image
      >
      <p class="name">{{ material.name | titlecase }}</p>
    </div>
  </div>
</main>
