<p-card header="Termékek" *ngIf="products$ | async as products">
  <p-table
    #table
    styleClass="p-datatable-gridlines"
    [value]="products"
    [globalFilterFields]="['id', 'name', 'category']"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          icon="pi pi-plus"
          label="Termék hozzáadása"
          styleClass="p-button p-button-success"
          (click)="onAddProduct()">
        </p-button>

        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            pTooltip="Kereshető mezők: Azonosító, Név, Kategória"
            tooltipPosition="bottom"
            type="text"
            (input)="applyFilterGlobal($event, 'contains', table)"
            placeholder="Keresés" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="w-9rem">Kép</th>

        <th>Azonosító</th>

        <th>Név</th>

        <th>Kategória</th>

        <th pSortableColumn="stock" class="w-9rem">
          Készlet <p-sortIcon field="stock"></p-sortIcon>
        </th>

        <th pSortableColumn="price" class="w-8rem">
          Ár
          <p-sortIcon field="price"></p-sortIcon>
        </th>

        <th class="w-3rem">Opciók</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr>
        <td>
          <img
            class="hidden"
            [src]="images[i]"
            [alt]="product.name"
            (load)="imageLoaded(i)" />

          <p-image
            *ngIf="imageLoadedStatus[i]"
            [src]="images[i]"
            [alt]="product.name"
            [preview]="true">
          </p-image>

          <ngx-skeleton-loader
            *ngIf="!imageLoadedStatus[i]"
            appearance="circle"
            animation="pulse"
            [theme]="{
              margin: '0',
              width: '100%',
              paddingBottom: '100%',
              aspectRatio: '1 / 1',
              borderRadius: '0',
              background: 'lightGrey'
            }">
          </ngx-skeleton-loader>
        </td>

        <td>{{ product.id }}</td>

        <td>{{ product.name }}</td>

        <td>{{ product.category }}</td>

        <td>
          <div class="stock">
            <p-badge
              [value]="
                product.stock > 0
                  ? 'Készleten: ' + product.stock
                  : 'Nincs készleten'
              "
              [severity]="product.stock > 0 ? 'success' : 'danger'">
            </p-badge>
          </div>
        </td>

        <td class="font-bold">
          <span [ngClass]="{ 'line-through': product.discountedPrice > 0 }">
            {{ product.price }} Ft
          </span>
          <br />
          <span *ngIf="product.discountedPrice > 0" class="text-red-500">
            {{ product.discountedPrice }} Ft
          </span>
        </td>

        <td>
          <button
            (click)="onEditProduct(product)"
            pButton
            pRipple
            pTooltip="Termék módosítása"
            tooltipPosition="bottom"
            type="button"
            icon="pi pi-cog"
            class="p-button p-button-warning p-button mb-1"></button>

          <button
            (click)="onDeleteProduct(product)"
            pButton
            pRipple
            pTooltip="Termék törlése"
            tooltipPosition="bottom"
            type="button"
            icon="pi pi-times"
            class="p-button p-button-danger p-button"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
