<div class="px-4 py-5 md:px-6 lg:px-8">
  <div class="lg:w-6 mx-auto">
    <div class="heading-primary mb-3">Regisztráció</div>
    <span class="text-600 font-medium line-height-3">Már regisztráltál?</span>
    <a
      routerLink="/login"
      class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
      >Lépj be!</a
    >
    <div class="surface-card p-4 shadow-2 border-round mt-5">
      <form
        class="grid formgrid p-fluid"
        (submit)="onSignup()"
        [formGroup]="signupForm">
        <div class="field mb-4 col-12">
          <label for="name" class="font-medium text-900">Név</label>
          <input id="name" type="text" pInputText formControlName="name" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('name').valid && signupForm.get('name').dirty
            ">
            Kérlek add meg a neved.
          </p>
        </div>
        <div class="field mb-4 col-12">
          <label for="email" class="font-medium text-900">Email cím</label>
          <input id="email" type="email" pInputText formControlName="email" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('email').valid && signupForm.get('email').dirty
            ">
            Kérlek add meg az email címed.
          </p>
        </div>
        <div class="field mb-4 col-12">
          <label for="phone" class="font-medium text-900">Telefonszám</label>
          <input id="phone" type="string" pInputText formControlName="phone" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('phone').valid && signupForm.get('phone').dirty
            ">
            Kérlek add meg a telefonszámod. <br />
            Például: 06301234567
          </p>
        </div>
        <div class="field mb-4 col-12">
          <label for="password" class="font-medium text-900">Jelszó</label>
          <input
            id="password"
            type="password"
            pInputText
            formControlName="password" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('password').valid &&
              signupForm.get('password').dirty
            ">
            Kérlek adj meg egy jelszót. <br />
            Minimum 8 karakter.
          </p>
        </div>
        <div class="field mb-4 col-12">
          <label for="passwordConfirm" class="font-medium text-900"
            >Jelszó megerősítése</label
          >
          <input
            id="passwordConfirm"
            type="password"
            pInputText
            formControlName="passwordConfirm" />
          <p
            class="form-helper"
            *ngIf="
              signupForm.get('passwordConfirm').dirty &&
              signupForm.get('password').value !==
                signupForm.get('passwordConfirm').value
            ">
            Megadott jelszó nem egyezik
          </p>
        </div>
        <p class="font-medium text-900 mb-1">Szállítási cím</p>
        <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="shippingPostcode" class="font-medium text-900"
            >Irányítószám</label
          >
          <input
            id="shippingPostcode"
            type="number"
            pInputText
            formControlName="shippingPostcode"
            (blur)="onShippingPostcodeBlur($event)" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('shippingPostcode').valid &&
              signupForm.get('shippingPostcode').dirty
            ">
            Kérlek add meg az irányítószámot.
          </p>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label for="shippingStreet" class="font-medium text-900"
            >Utca/házszám/épület</label
          >
          <input
            id="shippingStreet"
            type="text"
            pInputText
            formControlName="shippingStreet" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('shippingStreet').valid &&
              signupForm.get('shippingStreet').dirty
            ">
            Kérlek add meg a címed.
          </p>
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="shippingCity" class="font-medium text-900">Város</label>
          <input
            id="shippingCity"
            type="text"
            pInputText
            formControlName="shippingCity" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('shippingCity').valid &&
              signupForm.get('shippingCity').dirty
            ">
            Kérlek add meg a várost.
          </p>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label for="shippingCounty" class="font-medium text-900">Megye</label>
          <input
            id="shippingCounty"
            type="text"
            pInputText
            formControlName="shippingCounty" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('shippingCounty').valid &&
              signupForm.get('shippingCounty').dirty
            ">
            Kérlek add meg a megyét.
          </p>
        </div>
        <p class="font-medium text-900 mb-1">Számlázási cím</p>
        <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="billingPostcode" class="font-medium text-900"
            >Irányítószám</label
          >
          <input
            id="billingPostcode"
            type="number"
            pInputText
            formControlName="billingPostcode"
            (blur)="onBillingPostcodeBlur($event)" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('billingPostcode').valid &&
              signupForm.get('billingPostcode').dirty
            ">
            Kérlek add meg az irányítószámot.
          </p>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label for="billingStreet" class="font-medium text-900"
            >Utca/házszám/épület</label
          >
          <input
            id="billingStreet"
            type="text"
            pInputText
            formControlName="billingStreet" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('billingStreet').valid &&
              signupForm.get('billingStreet').dirty
            ">
            Kérlek add meg a címed.
          </p>
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="billingCity" class="font-medium text-900">Város</label>
          <input
            id="billingCity"
            type="text"
            pInputText
            formControlName="billingCity" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('billingCity').valid &&
              signupForm.get('billingCity').dirty
            ">
            Kérlek add meg a várost.
          </p>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label for="billingCounty" class="font-medium text-900">Megye</label>
          <input
            id="billingCounty"
            type="text"
            pInputText
            formControlName="billingCounty" />
          <p
            class="form-helper"
            *ngIf="
              !signupForm.get('billingCounty').valid &&
              signupForm.get('billingCounty').dirty
            ">
            Kérlek add meg a megyét.
          </p>
        </div>
        <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
        <div class="field mb-4 col-12">
          <div class="flex align-items-center">
            <p-inputSwitch
              inputId="privacy"
              formControlName="privacy"></p-inputSwitch>
            <label for="privacy" class="ml-2 text-900"
              >Elfogadom az
              <a
                class="text-primary underline"
                routerLink="/terms-and-conditions"
                >Általános Szerződési Feltételeket</a
              >
              és elolvastam az
              <a class="text-primary underline" routerLink="/privacy-policy"
                >Adatkezelési Tájékoztatót</a
              >.</label
            >
          </div>
        </div>
        <div class="field mb-4 col-12">
          <div class="flex align-items-center">
            <p-inputSwitch
              inputId="subscribed"
              formControlName="subscribed"></p-inputSwitch>
            <label for="subscribed" class="ml-2 text-900"
              >Szeretnék feliratkozni a hírlevélre.</label
            >
          </div>
        </div>
        <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
        <div class="col-12">
          <button
            type="submit"
            class="primary-button mt-3 shadow-2"
            [disabled]="!signupForm.valid">
            Regisztráció
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
