<i class="pi pi-times close" mat-dialog-close></i>
<h2 mat-dialog-title>Minta szerkesztése</h2>

<mat-dialog-content>
  <form class="flex-auto p-fluid" [formGroup]="editMaterialForm">
    <div class="form-group">
      <label for="name" class="block font-medium text-900 mb-2">
        Minta neve
      </label>

      <input id="name" type="text" formControlName="name" pInputText />
    </div>

    <div class="form-group">
      <label for="category" class="block font-medium text-900 mb-2">
        Minta kategória
      </label>

      <p-dropdown
        id="category"
        formControlName="category"
        [options]="categories"
        optionValue="value"
        optionLabel="name"
        [showClear]="true"></p-dropdown>
    </div>

    <div class="mb-4">
      <label for="extra" class="block font-medium text-900 mb-2"
        >Minta extra ára</label
      >
      <input id="extra" formControlName="extra" type="text" pInputText />
    </div>
    <div class="mb-4">
      <label for="stock" class="block font-medium text-900 mb-2"
        >Rendelhető?</label
      >
      <p-toggleButton
        styleClass="w-auto"
        formControlName="isAvailable"
        onLabel="Igen"
        offLabel="Nem"></p-toggleButton>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-content-end">
  <p-button
    label="Mégsem"
    styleClass="p-button p-button-danger mr-4"
    mat-dialog-close>
  </p-button>

  <p-button
    label="Módosítás"
    styleClass="p-button"
    [disabled]="!editMaterialForm.valid || !editMaterialForm.dirty"
    (click)="onUpdateMaterial()">
  </p-button>
</mat-dialog-actions>
