<ng-container *ngIf="product$ | async; else skeleton">
    <img
        class="nyk-product-details-decoration"
        src="../../../../assets/images/product-details-decoration.png"
        alt="Dekoráció" />

    <div class="nyk-product-details-product">
        <div class="nyk-product-details-product-left">
            <nyk-product-details-gallery
                [images]="product.images"></nyk-product-details-gallery>
        </div>

        <div class="nyk-product-details-product-right">
            <div class="nyk-product-details-product-right-header">
                <p class="nyk-product-details-product-right-header-category">
                    {{ product.category.name | titlecase }}
                </p>

                <button
                    class="nyk-product-details-product-right-header-share-button"
                    [cdkCopyToClipboard]="fullUrl"
                    (click)="shareProduct()">
                    <i class="pi pi-share-alt"></i>
                </button>

                <button
                    *ngIf="isAuthenticated$ | async"
                    class="nyk-product-details-product-right-header-like-button"
                    (click)="onLike()">
                    <i [ngClass]="isLiked ? 'pi pi-heart-fill' : 'pi pi-heart'">
                    </i>
                </button>
            </div>

            <h1 class="nyk-product-details-product-right-title heading-primary">
                {{ product.name | titlecase }}
            </h1>

            <div class="nyk-product-details-product-right-price-wrapper">
                <span
                    class="nyk-product-details-product-right-price-wrapper-price"
                    [class.discounted]="product.discountedPrice">
                    {{ product.price }} Ft-tól
                </span>

                <span
                    *ngIf="product.discountedPrice"
                    class="nyk-product-details-product-right-price-wrapper-discounted-price">
                    {{ product.discountedPrice }} Ft-tól
                </span>

                <span
                    *ngIf="product.discountPercentage"
                    class="nyk-product-details-product-right-price-wrapper-discount-percentage">
                    -{{ product.discountPercentage }}%
                </span>
            </div>

            <p class="nyk-product-details-product-right-short-description">
                {{ product.shortDescription }}
            </p>

            <nyk-product-details-form [product]="product">
            </nyk-product-details-form>

            <div class="nyk-product-details-product-right-stock">
                <i class="pi pi-box"></i>
                <span>Készleten:</span> {{ product.stock }} db
            </div>

            <div class="nyk-product-details-product-right-actions">
                <div class="nyk-product-details-product-right-actions-qty">
                    <button (click)="onDecreaseQty()">
                        <i class="pi pi-minus"></i>
                    </button>

                    <input
                        [(ngModel)]="orderQty"
                        type="number"
                        value="1"
                        min="1"
                        [max]="product.stock" />

                    <button (click)="onIncreaseQty()">
                        <i class="pi pi-plus"></i>
                    </button>
                </div>

                <button
                    class="nyk-product-details-product-right-actions-add-to-cart-button primary-button"
                    (click)="onAddToCart()">
                    <i class="pi pi-shopping-cart"></i>
                    Kosárba
                </button>

                <button
                    class="nyk-product-details-product-right-actions-back-button tertiary-button"
                    (click)="onBack()">
                    Vissza
                </button>
            </div>

            <div class="nyk-product-details-product-right-description">
                <p
                    class="nyk-product-details-product-right-description-title heading-secondary">
                    Termékleírás
                </p>

                <div
                    class="nyk-product-details-product-right-description-text"
                    [innerHTML]="product.description"></div>

                <ng-container *ngIf="product.isCustom">
                    <p
                        class="nyk-product-details-product-right-description-materials heading-secondary">
                        Minta információ
                    </p>

                    <p
                        class="nyk-product-details-product-right-description-materials-text">
                        Ha tudni szeretnéd, hogy néznek ki a minták, kattints
                        <a routerLink="/material"> ide.</a>
                    </p>
                </ng-container>

                <p
                    class="nyk-product-details-product-right-description-delivery heading-secondary">
                    Szállítási információk
                </p>

                <p
                    class="nyk-product-details-product-right-description-preparation">
                    <i class="pi pi-stopwatch"></i>
                    <span>Elkészítési idő:</span>
                    {{ product.isCustom ? '5-10' : '3-5' }} munkanap
                </p>

                <p
                    class="nyk-product-details-product-right-description-shipping">
                    <i class="pi pi-truck"></i>
                    <span>Szállítási díj:</span> A szállítási költségek fixek,
                    és azokat a rendelés összegétől függetlenül számoljuk fel. A
                    szállítási költségeket a kosaradban láthatod, mielőtt a
                    fizetésre lépnél.
                </p>
            </div>
        </div>
    </div>

    <div class="nyk-product-details-reviews">
        <p class="nyk-product-details-reviews-title heading-secondary">
            Vélemények
        </p>

        <nyk-product-details-reviews
            [product]="product"
            (reviewProduct)="
                onReviewProduct($event)
            "></nyk-product-details-reviews>
    </div>

    <div
        *ngIf="product.category.items.length >= 4"
        class="nyk-product-details-related-products">
        <p class="nyk-product-details-related-products-title heading-secondary">
            Hasonló termékek
        </p>

        <owl-carousel-o [options]="customOptions">
            <ng-template
                *ngFor="
                    let relatedProduct of product.category.items;
                    trackBy: trackById
                "
                carouselSlide>
                <div class="nyk-product-details-related-products-carousel-item">
                    <nyk-product-card
                        [product]="relatedProduct"
                        (likeProduct)="onLike()"></nyk-product-card>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</ng-container>

<ng-template #skeleton>
    <div class="skeleton">
        <div class="skeleton-wrapper">
            <p-skeleton styleClass="skeleton-left"> </p-skeleton>

            <p-skeleton styleClass="skeleton-right"> </p-skeleton>
        </div>

        <p-skeleton styleClass="skeleton-bottom"> </p-skeleton>
    </div>
</ng-template>
