<ng-container *ngIf="!isLoading; else loading">
    <div class="nyk-add-inspiration-header">Inspiráció hozzáadás</div>

    <form class="nyk-add-inspiration-form" [formGroup]="addInspirationForm">
        <div class="form-group">
            <label for="name"> Inspiráció neve </label>

            <input id="name" type="text" formControlName="name" pInputText />
        </div>

        <div class="form-group">
            <label for="categoryId"> Inspiráció kategóriája </label>

            <p-dropdown
                id="categoryId"
                formControlName="categoryId"
                placeholder="Válassz egy kategóriát"
                [options]="categories$ | async"
                optionValue="id"
                optionLabel="name"
                styleClass="w-full">
            </p-dropdown>
        </div>

        <div class="form-group">
            <label> Inspiráció képe </label>
            <p-button
                *ngIf="!imagePreview"
                icon="pi pi-image"
                styleClass="p-button p-button-secondary"
                (click)="imagePicker.click()">
            </p-button>

            <button
                *ngIf="imagePreview"
                pButton
                pRipple
                pTooltip="Kép törlése"
                tooltipPosition="bottom"
                (click)="onImageClear(imagePicker)"
                type="button"
                icon="pi pi-times"
                class="p-button p-button-danger p-button mb-2"></button>

            <input
                id="imagePicker"
                type="file"
                class="hidden"
                #imagePicker
                (change)="onImagePicked($event)" />

            <img
                *ngIf="imagePreview"
                class="image-preview border-round"
                [src]="imagePreview"
                alt="Kategória" />

            <img
                *ngIf="!imagePreview"
                class="mt-2 image-preview border-round"
                src="../../../../../../assets/images/no-image.png"
                alt="Kategória" />
        </div>

        <p-button
            label="Hozzáadás"
            styleClass="p-button w-full"
            [disabled]="!addInspirationForm.valid"
            (click)="onAddInspiration()">
        </p-button>
    </form>
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
