<div
  class="shadow-2 p-3 surface-card border-round product-card max-w-25rem"
  (click)="productDetails()">
  <div class="relative mb-3">
    <!-- <span
      class="surface-card text-900 shadow-2 px-3 py-2 absolute"
      style="border-radius: 1.5rem; left: 1rem; top: 1rem"
      >{{ product.category | titlecase }}</span
    > -->
    <img [src]="productImages + product.images[0]" class="w-full" />
  </div>
  <p class="name">{{ product.name | titlecase }}</p>
  <p class="description text-600">
    {{ product.description }}
  </p>
  <div class="flex align-items-center justify-content-between">
    <p class="price text-primary">{{ product.price }} Ft</p>
    <p class="primary-paragraph">Készleten: {{ product.stock }}</p>
  </div>
  <button class="cart-button primary-button shadow-2">
    <i class="pi pi-shopping-cart"></i> Kosárba
  </button>
</div>
