@import 'mixins';

:host {
  width: 100%;
}

.product-card {
  position: relative;
  width: 100%;
  cursor: pointer;

  @include respond(sm) {
    width: 100%;
  }
}

.discount-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: var(--color-primary);
  aspect-ratio: 1 / 1;
  border-radius: 500px;
  border: 2px solid var(--color-background);

  @include respond(sm) {
    top: 4px;
    right: 4px;

    p {
      font-size: 14px;
    }
  }
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
}

img {
  border-radius: 5px;
}

.details {
  display: flex;
  flex-direction: column;
  height: 180px;

  @include respond(sm) {
    height: auto;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Amatic SC', cursive;

  @include respond(sm) {
    font-size: 24px;
  }
}

.description {
  font-size: 16px;
  color: gray;

  @include respond(sm) {
    display: none;
  }
}

.wrapper {
  margin-top: auto;
}

.price-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.stock {
  font-size: 16px;
  margin-left: auto;

  @include respond(sm) {
    display: none;
  }
}

button {
  width: 100%;
  margin-top: auto;

  @include respond(sm) {
    display: none;
  }
}
