<div class="product-card" (click)="productDetails()">
  <img
    [src]="product.images[0]"
    [ngStyle]="{ display: isImageLoading ? 'none' : '' }"
    (load)="changeSkeletonLoad()" />
  <ngx-skeleton-loader
    *ngIf="isImageLoading"
    appearance="circle"
    animation="pulse"
    [theme]="{
      margin: '0',
      width: '100%',
      paddingBottom: '100%',
      aspectRatio: '1 / 1',
      borderRadius: '5px',
      background: 'lightGrey'
    }"></ngx-skeleton-loader>
  <div class="content">
    <div class="details">
      <p class="title">
        {{ product.name | titlecase }}
      </p>
      <p class="description text-600">
        {{ product.shortDescription }}
      </p>
      <div class="wrapper">
        <p class="price text-primary">{{ product.price }} Ft</p>
        <p class="primary-paragraph stock">Készleten: {{ product.stock }}</p>
      </div>
    </div>

    <button class="primary-button shadow-2">
      <i class="pi pi-shopping-cart"></i>
    </button>
  </div>
</div>
