<i class="pi pi-times close" mat-dialog-close></i>
<h2 mat-dialog-title>Termék szerkesztése</h2>

<mat-dialog-content>
  <form class="flex-auto p-fluid" [formGroup]="editProductForm">
    <div class="form-group">
      <label for="name" class="block font-medium text-blue-500 mb-1 text-lg">
        Termék neve
      </label>

      <input id="name" type="text" formControlName="name" pInputText />
    </div>

    <div class="form-group" *ngIf="categories$ | async as categories">
      <label
        for="categoryId"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Termék kategória
      </label>

      <p-dropdown
        id="categoryId"
        formControlName="categoryId"
        [options]="categories"
        placeholder="Válassz egy kategóriát"
        optionValue="id"
        optionLabel="name">
      </p-dropdown>
    </div>

    <div class="form-group">
      <label
        for="shortDescription"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Termék rövid leírása
      </label>

      <input
        id="shortDescription"
        type="text"
        formControlName="shortDescription"
        pInputText />
    </div>

    <div class="form-group">
      <label
        for="description"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Termék leírása
      </label>

      <textarea
        id="description"
        formControlName="description"
        type="text"
        pInputTextarea
        rows="5"
        [autoResize]="true"></textarea>
    </div>

    <div class="form-group">
      <label for="price" class="block font-medium text-blue-500 mb-1 text-lg">
        Termék ára
      </label>

      <input id="price" formControlName="price" type="text" pInputText />
    </div>

    <div class="form-group">
      <label
        for="discountedPrice"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Termék akciós ára
      </label>

      <input
        id="discountedPrice"
        formControlName="discountedPrice"
        type="text"
        pInputText />
    </div>

    <div class="form-group">
      <label for="stock" class="block font-medium text-blue-500 mb-1 text-lg">
        Készleten
      </label>

      <input id="stock" formControlName="stock" type="text" pInputText />
    </div>

    <div class="form-group">
      <label
        for="selectedQuestion"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Kérdések
      </label>

      <div class="questions-wrapper">
        <p-dropdown
          id="selectedQuestion"
          formControlName="selectedQuestion"
          [options]="questions"
          placeholder="Válassz egy kérdést"
          optionValue="id"
          optionLabel="name"
          styleClass="mr-2">
        </p-dropdown>

        <p-button
          icon="pi pi-plus"
          styleClass="p-button-success"
          pTooltip="Kérdés hozzáadása"
          tooltipPosition="bottom"
          (click)="addQuestion()"></p-button>
      </div>
    </div>

    <ng-container *ngIf="selectedQuestions.length">
      <div class="form-group w-6">
        <h3 class="font-medium text-blue-500 mb-1">Választott kérdések</h3>

        <div
          class="option-wrapper mb-2"
          *ngFor="let question of selectedQuestions; let i = index">
          <p class="block font-medium text-800 mb-1">
            {{ i + 1 }}. {{ question.name }}
          </p>

          <p-button
            icon="pi pi-times"
            styleClass="p-button-danger"
            (click)="deleteQuestion(question.id, i)">
          </p-button>
        </div>
      </div>
    </ng-container>

    <div class="form-group">
      <label
        for="isCustom"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Egyedi termék?
      </label>

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isCustom"
            name="isCustom"
            [value]="false"
            inputId="isCustomFalse">
          </p-radioButton>

          <label for="isCustomFalse" class="ml-2">Nem</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isCustom"
            name="isCustom"
            [value]="true"
            inputId="isCustomTrue">
          </p-radioButton>

          <label for="isCustomTrue" class="ml-2">Igen</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label
        for="isDollDress"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Babaruha?
      </label>

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isDollDress"
            name="isDollDress"
            [value]="false"
            inputId="isDollDressFalse">
          </p-radioButton>

          <label for="isDollDressFalse" class="ml-2">Nem</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isDollDress"
            name="isDollDress"
            [value]="true"
            inputId="isDollDressTrue">
          </p-radioButton>

          <label for="isDollDressTrue" class="ml-2">Igen</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="block font-medium text-blue-500 mb-1 text-lg">
        Öltöztethető?
      </label>

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isDressable"
            name="isDressable"
            [value]="false"
            inputId="isDressableFalse">
          </p-radioButton>

          <label for="isDressableFalse" class="ml-2">Nem</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isDressable"
            name="isDressable"
            [value]="true"
            inputId="isDressableTrue">
          </p-radioButton>

          <label for="isDressableTrue" class="ml-2">Igen</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label
        for="isDollDress"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Kiemelt termék?
      </label>

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isFeatured"
            name="isFeatured"
            [value]="false"
            inputId="isFeaturedFalse">
          </p-radioButton>

          <label for="isFeaturedFalse" class="ml-2">Nem</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isFeatured"
            name="isFeatured"
            [value]="true"
            inputId="isFeaturedTrue">
          </p-radioButton>

          <label for="isFeaturedTrue" class="ml-2">Igen</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label
        for="isNameEmbroideryAvailable"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Név hímzés elérhető?
      </label>

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isNameEmbroideryAvailable"
            name="isNameEmbroideryAvailable"
            [value]="false"
            inputId="isNameEmbroideryAvailableFalse">
          </p-radioButton>
          <label for="isNameEmbroideryAvailableFalse" class="ml-2">Nem</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isNameEmbroideryAvailable"
            name="isNameEmbroideryAvailable"
            [value]="true"
            inputId="isNameEmbroideryAvailableTrue">
          </p-radioButton>

          <label for="isNameEmbroideryAvailableTrue" class="ml-2">Igen</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="images" class="block font-medium text-blue-500 mb-1 text-lg">
        Termék képek (az első kép lesz mindig a nagy kép)
      </label>

      <p-button
        icon="pi pi-image"
        styleClass="p-button p-button-secondary"
        (click)="imagePicker.click()">
      </p-button>

      <input
        id="images"
        multiple
        class="hidden"
        type="file"
        (change)="onImagePicked($event)"
        #imagePicker />

      <div class="flex-row images-preview">
        <img
          class="w-2 m-2 inline"
          *ngFor="let image of imagesPreview"
          [src]="image"
          [alt]="editProductForm.value.name" />
      </div>

      <p-button
        *ngIf="imagesPreview.length"
        icon="pi pi-times"
        styleClass="p-button-danger"
        (click)="onImageClear(imagePicker)">
      </p-button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-content-end">
  <p-button
    label="Mégsem"
    styleClass="p-button p-button-danger mr-4"
    mat-dialog-close>
  </p-button>

  <p-button
    label="Módosítás"
    styleClass="p-button"
    [disabled]="!editProductForm.valid || !editProductForm.dirty"
    (click)="onEditProduct()">
  </p-button>
</mat-dialog-actions>
