<ng-container *ngIf="product$ | async as product">
  <div class="product-details">
    <div class="content-left">
      <mhd-image-composition [images]="product.images"> </mhd-image-composition>
    </div>

    <div class="content-right">
      <div class="product-details-container">
        <p
          class="paragraph-primary sm:text-xl text-lg sm:mb-2 mb-1 text-orange-500">
          <i class="pi pi-folder"></i>
          {{ product.category.name }} kategória
        </p>

        <h1 class="heading-primary sm:mb-2 mb-1">{{ product.name }}</h1>

        <p class="primary-paragraph text-600 sm:mb-2 mb-1">
          {{ product.shortDescription }}
        </p>

        <div class="flex sm:text-2xl text-xl sm:mb-2 mb-1">
          <p
            class="mr-3"
            [ngClass]="
              product.discountedPrice
                ? 'text-red-500 line-through'
                : 'text-primary'
            ">
            {{ product.price }} {{ product.isCustom ? 'Ft-tól' : 'Ft' }}
          </p>

          <p
            *ngIf="product.discountedPrice"
            class="discounted-price text-primary">
            {{ product.discountedPrice }}
            {{ product.isCustom ? 'Ft-tól' : 'Ft' }}
          </p>
        </div>

        <p class="primary-paragraph mb-3">
          <i class="pi pi-box"></i> Készleten: {{ product.stock }}
        </p>
      </div>

      <form [formGroup]="productForm" class="mt-6">
        <div formGroupName="questions">
          <ng-container *ngFor="let question of product.questions">
            <div class="form-group">
              <label
                for="question.id"
                class="block font-medium mb-1 text-lg text-pink-400">
                {{ question.question }}
              </label>

              <p-dropdown
                id="question.id"
                [formControlName]="question.id"
                [options]="question.options"
                placeholder="Kérlek válassz"
                optionValue="_id"
                optionLabel="slug"
                styleClass="w-full">
              </p-dropdown>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="product.isNameEmbroideryAvailable">
          <div class="form-group">
            <label
              for="nameEmbroidery"
              class="block font-medium mb-1 text-lg question-label text-pink-400">
              Hímzett név +500 Ft
            </label>

            <input
              formControlName="nameEmbroidery"
              id="nameEmbroidery"
              type="text"
              pInputText
              placeholder="Kérlek add meg a nevet" />
          </div>
        </ng-container>

        <ng-container *ngIf="product.isCustom">
          <div class="form-group">
            <label
              for="comment"
              class="block font-medium mb-1 text-lg question-label text-pink-400">
              Megjegyzés
            </label>

            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              placeholder="Ha szeretnél valamit megjegyezni a rendeléseddel kapcsolatban, itt megteheted"
              [autoResize]="true"
              formControlName="comment">
            </textarea>
          </div>
        </ng-container>
      </form>

      <div class="form-group flex sm:text-2xl text-xl">
        <p>
          Végösszeg: <span class="text-primary">{{ price }} Ft</span>
        </p>
      </div>

      <div class="controlls-wrapper">
        <button
          class="primary-button mb-3 w-full"
          *ngIf="isAuthenticated$ | async"
          (click)="onAddToCart()">
          <i class="pi pi-shopping-cart"></i>
          Kosárba
        </button>

        <button
          routerLink="/login"
          class="primary-button mb-3 w-full"
          *ngIf="(isAuthenticated$ | async) === false">
          Előbb lépj be a rendeléshez
        </button>

        <button
          (click)="onBack()"
          type="button"
          class="secondary-button mb-3 w-full">
          Vissza
        </button>
      </div>

      <ol class="list-none p-0 m-0 text-center text-900">
        <li class="p-3 heading-secondary border-bottom-1 border-300">
          Termékleírás
        </li>
        <li class="line-height-3 pt-3 border-300">
          {{ product.description }}
        </li>
      </ol>
    </div>
  </div>
  <div *ngIf="inspirations" class="inspiration">
    <h1 class="heading-primary">Inspirációk</h1>

    <p-galleria
      [value]="inspirations"
      [(visible)]="displayCustomGalery"
      [(activeIndex)]="activeIndex"
      [containerStyle]="{ 'max-width': '850px' }"
      [circular]="true"
      [fullScreen]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [baseZIndex]="50">
      <ng-template pTemplate="item" let-inspiration>
        <img
          [src]="inspiration.image"
          [alt]="inspiration.name"
          style="width: 100%; display: block" />
      </ng-template>
    </p-galleria>

    <div class="grid" style="max-width: 100%">
      <div
        *ngFor="let inspiration of inspirations; let index = index"
        class="item-content col-3 lg:col-2"
        key="index">
        <img
          [src]="inspiration.image"
          class="hidden"
          (load)="imageLoaded(index)" />

        <img
          *ngIf="imageLoadedStatus[index]"
          [src]="inspiration.image"
          class="mb-1"
          style="cursor: pointer"
          (click)="imageClickGalery(index)" />

        <p-skeleton *ngIf="!imageLoadedStatus[index]" styleClass="skeleton">
        </p-skeleton>

        <p class="name text-center">{{ inspiration.name }}</p>
      </div>
    </div>
  </div>
</ng-container>
