@use '../../../../scss/mixins' as *;

.image-composition {
  width: 100%;
  margin-right: 5rem;
}

.main-image {
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s ease-in;
  border-radius: 5px;
}

.bottom-images {
  display: flex;
  column-gap: 2rem;
  margin-top: 2rem;

  @include respond(sm) {
    column-gap: 0.5rem;
  }
}

.wrapper {
  width: 23%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  border-radius: 5px;
}
