<div class="privacy-policy">
    <div class="content">
        <h1 class="text-800 mb-5">Sok szeretettel üdvözöljük Webáruházunkban!</h1>
        <p class="paragraph-primary text-700 mb-7">
            Köszönjük, hogy vásárlása során bennünket tisztel meg bizalmával!
        </p>
        <p class="paragraph-primary text-2xl text-800 mb-3">1. <strong>Bevezetés</strong></p>
        <p class="paragraph-primary text-700 mb-7">
            A Nyuszkó Kuckó (továbbiakban: Adatkezelő) online értékesítési tevékenységével
            kapcsolatban kezeli a regisztrált felhasználók személyes adatait, kizárólag a
            megrendelések teljesítésének céljából, és a teljesítéssel kapcsolatos kötelezettsége
            (számlázás) teljesítése érdekében. Csak olyan személyes adatot kezel, amely az
            adatkezelés céljának megvalósulásához elengedhetetlen, és a cél elérésére alkalmas. A
            személyes adatokat csak a cél megvalósulásához szükséges mértékben és ideig kezeli.
        </p>
        <p class="paragraph-primary text-2xl text-800 mb-3">2. <strong>Alapelvek</strong></p>
        <p class="paragraph-primary text-700 mb-3">
            Az Adatkezelő minden elvárható módon védi a regisztrált felhasználóknak a Webáruházban
            kezelt személyes adatait.
        </p>
        <p class="paragraph-primary text-700">Név: Kalmár Bernadett ev.</p>
        <p class="paragraph-primary text-700">Székhely: 6600 Szentes Nyíri József utca 26.</p>
        <p class="paragraph-primary text-700">Adószám: <strong>59847692-1-26</strong></p>
        <p class="paragraph-primary text-700 mb-6">
            Az adatkezelő elérhetősége: info&#64;nyuszkokucko.hu
        </p>
        <p class="paragraph-primary text-2xl text-800 mb-3">
            3.
            <strong>Személyes adatok, az adatkezelés célja, jogcíme és időtartama</strong>
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Az adatkezelés jogalapja: 2011. évi CXII. törvény az információs önrendelkezési jogról
            és az információszabadságról 5. § (1) bekezdés a) Az érintett hozzájárulása.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Hozzájárulás az adatkezeléshez: A Felhasználó regisztrációnál kifejezetten
            hozzájárulását adja az általa önkéntesen megadott személyes adatainak kezeléséhez.
        </p>
        <p class="paragraph-primary text-700 mb-3">Az érintettek köre: regisztrált felhasználók</p>
        <p class="paragraph-primary text-700 mb-3">
            A kezelt adatok köre: a regisztrált felhasználók által a regisztráció során megadott a
            megrendelés teljesítéséhez szükséges adatok: név, felhasználónév,cégnév, elérhetőség
            (telefon, email), szállítási cím, számlázási cím,regisztráció dátuma és időpontja,
            rendelés dátuma és időpontja, rendelés adatai.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Az adatgyűjtés célja: a megrendelések teljesítése és számlázás.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Az adatok megismerésére jogosult lehetséges adatkezelők személye: -A Foxpost
            futárszolgálat kereskedelmi és szállítmányozási munkatársai.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Az adatkezelés időtartama: az elektronikusan tárolt személyes adatok a megrendelés
            teljesítését követően 14 napon belül törlésre kerülnek.
        </p>
        <p class="paragraph-primary text-700">A Vásárló kérelmezheti az adatkezelőnél</p>
        <p class="paragraph-primary text-700">- tájékoztatását személyes adatai kezeléséről,</p>
        <p class="paragraph-primary text-700">- személyes adatainak helyesbítését,</p>
        <p class="paragraph-primary text-700 mb-3">
            - személyes adatainak törlését vagy zárolását.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            A Felhasználó a regisztráció során megadott felhasználói név és jelszó segítségével, a
            Webáruház oldalaira belépve megtekintheti, módosíthatja vagy törölheti saját adatait.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Ha korábban megrendelést küldött el, akkor a megrendeléshez az elküldés pillanatában
            érvényes adatok lettek csatolva. A megrendeléshez kapcsolt személyes adatairól
            tájékoztatást, ezek módosítását vagy törlését az Adatkezelőnél személyesen, telefonon
            vagy e-mailben kezdeményezheti.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Az Adatkezelő a kérelem benyújtásától számított legrövidebb idő alatt, legfeljebb
            azonban 10napon belül, közérthető formában, a regisztrált felhasználó erre irányuló
            kérelmére írásban megadja a tájékoztatást. Ha a regisztrált felhasználókérelmét jogosnak
            találja, akkor haladéktalanul intézkedik a személyes adatainak helyesbítése vagy törlése
            érdekében.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Ha a regisztrált felhasználó nem elégedett az adatkezelő válaszával, akkor személyes
            adatai védelméhez való jogát polgári bíróság előtt érvényesítheti,továbbá a Nemzeti
            Adatvédelmi és Információszabadság Hatósághoz fordulhat.
        </p>
        <p class="paragraph-primary text-700">
            Név: Nemzeti Adatvédelmi és Információszabadság Hatóság
        </p>
        <p class="paragraph-primary text-700">
            Székhely: 1125 Budapest, Szilágyi Erzsébet fasor 22/c
        </p>
        <p class="paragraph-primary text-700">
            Postacím: 1530 Budapest, Pf.: 5. Telefon: +36 (1)391-1400
        </p>
        <p class="paragraph-primary text-700">URL: http://naih.hu</p>
        <p class="paragraph-primary text-700 mb-3">E-mail: ugyfelszolgalat&#64;naih.hu</p>
        <p class="paragraph-primary text-700 mb-3">
            A 2011. évi CXII. törvény az információs önrendelkezési jogról és az
            információszabadságról itt olvasható:
        </p>
        <p class="paragraph-primary text-700 mb-3">Nemzeti Jogszabálytár (www.njt.hu)</p>
        <p class="paragraph-primary text-700 mb-3">
            A Nemzeti Adatvédelmi és Információszabadság Hatósághoz (a továbbiakban:
            Hatóság)megküldött, a(z)
        </p>
        <p class="paragraph-primary text-700 mb-3">
            “Nyuszkó Kuckó 6600 Szentes Nyíri József utca 26. webáruház üzemeltetéséhez kapcsolódó
            adatbázis kezelése - https://nyuszkokucko.hu - A webáruház funkcióinak működtetése.”
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Természetvédelmi nyilvántartásba vételi eljárás iránti kérelem érkezett.
        </p>
        <p class="paragraph-primary text-700 mb-3">
            Kérelmével kapcsolatban tájékoztatom, hogy az adatkezelőnek csak abban az esetben kell
            bejelentkezni az adatvédelmi nyilvántartásba, ha nem esik az információs önrendelkezési
            jogról és az információszabadságról szóló 2011.évi CXII. törvényben (továbbiakban: Info
            tv.) meghatározott kivételek hatálya alá.
        </p>
        <p class="paragraph-primary text-700 mb-6">
            Tájékoztatjuk,hogy webáruház üzemeltetése kapcsán nem kell kérelmezni az adatvédelmi
            nyilvántartásba vételt, ha az adatkezelés pusztán a termék megvásárlásához szorosan
            kapcsolódva jelenik meg – például számlázás, kézbesítés, szállítás. Amennyiben a
            személyes adatokat az eredeti céltól eltérő célra (pl. direkt marketing, hírlevél
            küldés) is felhasználják,vagy az adatokat harmadik személy (nem adatfeldolgozó, hanem
            önálló adatkezelő)részére továbbítják, új kérelem benyújtásával kérelmezni kell az
            adatkezelés nyilvántartásba vételét.
        </p>
        <p class="paragraph-primary mb-3 text-2xl text-800">4. <strong>Cookie kezelés</strong></p>
        <p class="paragraph-primary text-700 mb-3">
            A cookie, vagyis süti egy olyan fájl, (egy adatsor,) amit a weboldal látogatójának
            számítógépén, mobiltelefonján vagy egyéb, internetes hozzáférést biztosító eszközén
            hozhat létre a weboldalt megjelenítő program. A cookie-t a webszerver küldi a látogató
            böngészőjének, majd a böngésző visszaküldi a szervernek. A sütik kizárólag adatokat
            tartalmaznak, vagyis nem tartalmaznak futtatható állományokat, vírusokat, illetve
            kémprogramokat (spyware) és nem férnek hozzá a felhasználó merevlemezének adataihoz. A
            cookie-k elsődleges célja a felhasználói élmény növelése, vagyis a weboldal könnyebb
            használhatóságát, testreszabhatóságát és gyorsabb betöltését teszik lehetővé.
        </p>
        <p class="paragraph-primary text-700 mb-6">
            A cookie-k élettartama az Ön böngészőjének a beállításaitól függ, illetve lehetőség van
            kézi törlésre is a böngészők Eszközök/beállítások menüjében az Adatvédelem
            beállításainál.
        </p>
        <p class="paragraph-primary text-800">Szentes, 2023. március 14.</p>
    </div>
</div>
