<h1 class="nyk-products-carousel-header heading-primary">{{ title }}</h1>

<owl-carousel-o [options]="customOptions">
    <ng-template *ngFor="let product of products; trackBy: trackById" carouselSlide>
        <div class="nyk-products-carousel-item">
            <nyk-product-card [product]="product"></nyk-product-card>
        </div>
    </ng-template>
</owl-carousel-o>

<button nyk-button color="secondary" class="nyk-products-carousel-button" [routerLink]="routerLink">
    <i nyk-icon class="pi pi-shopping-bag"></i>
    Mindet Megnézem
</button>
