<p-card header="Felhasználok" *ngIf="users$ | async as users">
  <p-table
    #table
    styleClass="p-datatable-gridlines"
    [value]="users"
    [globalFilterFields]="['id', 'name', 'email', 'phone']"
    [paginator]="true"
    [rows]="25"
    [rowsPerPageOptions]="[25, 50, 100]">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            pTooltip="Kereshető mezők: Azonosító, Név, Email, Telefon"
            tooltipPosition="bottom"
            type="text"
            (input)="applyFilterGlobal($event, 'contains', table)"
            placeholder="Keresés" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Azonosító</th>

        <th>Név</th>

        <th>Email</th>

        <th>Telefon</th>

        <th pSortableColumn="shoppingCart">
          Kosár <p-sortIcon field="shoppingCart"></p-sortIcon>
        </th>

        <th pSortableColumn="orders">
          Rendelések <p-sortIcon field="orders"></p-sortIcon>
        </th>

        <th>Opciók</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td class="font-italic font-semibold">{{ user.id }}</td>

        <td class="font-semibold text-blue-500">{{ user.name }}</td>

        <td class="font-semibold">{{ user.email }}</td>

        <td class="font-semibold text-blue-500">{{ user.phone }}</td>

        <td class="font-semibold">{{ user.shoppingCart.length }} db</td>

        <td class="font-semibold">{{ user.orders.length }} db</td>

        <td>
          <button
            (click)="onUserDetails(user)"
            pButton
            pRipple
            type="button"
            icon="pi pi-info-circle"
            class="p-button p-button mr-2"
            pTooltip="Felhasználó információ"
            tooltipPosition="bottom"></button>

          <button
            (click)="onDeleteUser(user)"
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button p-button-danger p-button"
            pTooltip="Felhasználó törlése"
            tooltipPosition="bottom"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
