@import 'mixins';

mat-dialog-content {
  background-color: #da8fa258;

  h1 {
    width: 50%;
    text-align: center;
    margin: 0 auto;

    @include respond(sm) {
      width: 100%;
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    a:not(:last-child) {
      margin: 24px 0 20px;
    }
  }
}
