<img
    src="../../../../assets/images/nyuszko-kucko-logo.png"
    alt="Logo"
    class="nyk-navbar-logo"
    routerLink="/home" />

<nav class="nyk-navbar-navigation">
    <button
        nyk-button
        type="underline"
        routerLink="/home"
        routerLinkActive="active"
        aria-label="Főoldal"
        title="Főoldal">
        Főoldal
    </button>

    <button
        nyk-button
        type="underline"
        [matMenuTriggerFor]="productsMenu"
        (menuOpened)="isProductsMenuOpen = true"
        (menuClosed)="isProductsMenuOpen = false"
        class="nyk-navbar-navigation-subgroup-trigger"
        [class.active]="isProductsMenuOpen">
        Termékek
        <i class="pi pi-chevron-down"> </i>
    </button>

    <mat-menu #productsMenu="matMenu">
        <ng-container *ngIf="navbarMenu$ | async as menus">
            <ng-container *ngFor="let menu of menus">
                <ng-container *ngIf="menu.subMenuItems; else noSubMenu">
                    <button mat-menu-item [matMenuTriggerFor]="submenuRef">
                        {{ menu.label }}
                    </button>

                    <mat-menu #submenuRef="matMenu">
                        <button
                            mat-menu-item
                            *ngFor="let subMenuItem of menu.subMenuItems"
                            [routerLink]="subMenuItem.routerLink"
                            routerLinkActive="active">
                            {{ subMenuItem.label }}
                        </button>
                    </mat-menu>
                </ng-container>
                <ng-template #noSubMenu>
                    <button mat-menu-item [routerLink]="menu.routerLink" routerLinkActive="active">
                        {{ menu.label }}
                    </button>
                </ng-template>
            </ng-container>
        </ng-container>
    </mat-menu>

    <button nyk-button type="underline" routerLink="/material" routerLinkActive="active">
        Minták
    </button>

    <button nyk-button type="underline" routerLink="/inspiration" routerLinkActive="active">
        Inspirációk
    </button>

    <button nyk-button type="underline" routerLink="/contact" routerLinkActive="active">
        Kapcsolat
    </button>

    <button nyk-button type="underline" routerLink="/about" routerLinkActive="active">Rolam</button>
</nav>

<div class="nyk-navbar-actions">
    <input
        type="text"
        placeholder="Keresés"
        class="nyk-navbar-actions-search-bar"
        [class.open]="isSearchBarOpen" />

    <i class="pi pi-search nyk-navbar-actions-search-button" (click)="toggleSearchBar()"> </i>

    <i [matMenuTriggerFor]="accountMenu" class="pi pi-user nyk-navbar-actions-account-button"></i>

    <mat-menu #accountMenu="matMenu">
        <ng-container *ngIf="isAuthenticated$ | async; else loggedOutContent">
            <button mat-menu-item routerLink="user/profile" routerLinkActive="active">Fiók</button>

            <button mat-menu-item routerLink="user/orders" routerLinkActive="active">
                Rendelések
            </button>

            <button mat-menu-item routerLink="user/orders" routerLinkActive="active">
                Kuponok
            </button>

            <button mat-menu-item routerLink="user/orders" routerLinkActive="active">
                Értesítések
            </button>

            <button *ngIf="isAdmin" mat-menu-item routerLink="admin" routerLinkActive="active">
                Admin
            </button>

            <button mat-menu-item class="nyk-navbar-authorized-menu-logout" (click)="onLogout()">
                Kilépés
            </button>
        </ng-container>
        <ng-template #loggedOutContent>
            <button mat-menu-item routerLink="auth/signin">Belepes</button>
            <button mat-menu-item routerLink="auth/signup">Regisztracio</button>
        </ng-template>
    </mat-menu>

    <i class="pi pi-shopping-cart" (click)="toggleShoppingCart()"></i>

    <i class="nyk-navbar-sidenav-button pi pi-bars" (click)="toggleSidenav()"></i>
    <!-- 
  <mat-drawer
    #shoppingCart
    class="example-sidenav"
    mode="side"
    position="end"
    style="background-color: red; z-index: 200">
    <p (click)="shoppingCart.toggle()">Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>

  <mat-drawer
    #sideNav
    class="nyk-navbar-mobile-navigation"
    mode="over"
    position="end"
    style="background-color: blue; z-index: 200">
    <p (click)="sideNav.toggle()">Auto-resizing sidenav</p>
    <nav class="nyk-navbar-mobile-navigation-container">
      <button
        routerLink="/home"
        routerLinkActive="active"
        class="button-underline"
        aria-label="Főoldal"
        title="Főoldal">
        Főoldal
      </button>

      <button
        [matMenuTriggerFor]="productsMenu"
        (menuOpened)="isProductsMenuOpen = true"
        (menuClosed)="isProductsMenuOpen = false"
        class="nyk-navbar-navigation-subgroup-trigger button-underline"
        [class.active]="isProductsMenuOpen">
        Termékek
        <i class="pi pi-chevron-down"> </i>
      </button>

      <mat-menu #productsMenu="matMenu">
        <ng-container *ngIf="navbarMenu$ | async as menus">
          <ng-container *ngFor="let menu of menus">
            <ng-container *ngIf="menu.subMenuItems; else noSubMenu">
              <button mat-menu-item [matMenuTriggerFor]="submenuRef">
                {{ menu.label }}
              </button>

              <mat-menu #submenuRef="matMenu">
                <button
                  mat-menu-item
                  *ngFor="let subMenuItem of menu.subMenuItems"
                  [routerLink]="subMenuItem.routerLink"
                  routerLinkActive="active">
                  {{ subMenuItem.label }}
                </button>
              </mat-menu>
            </ng-container>
            <ng-template #noSubMenu>
              <button
                mat-menu-item
                [routerLink]="menu.routerLink"
                routerLinkActive="active">
                {{ menu.label }}
              </button>
            </ng-template>
          </ng-container>
        </ng-container>
      </mat-menu>

      <button
        class="button-underline"
        routerLink="/material"
        routerLinkActive="active">
        Minták
      </button>

      <button
        routerLink="/inspiration"
        routerLinkActive="active"
        class="button-underline">
        Inspirációk
      </button>

      <button
        routerLink="/contact"
        routerLinkActive="active"
        class="button-underline">
        Kapcsolat
      </button>

      <button
        routerLink="/about"
        routerLinkActive="active"
        class="button-underline">
        Rolam
      </button>
    </nav>
  </mat-drawer> -->
</div>
