@import 'mixins';
@import 'colors';

.nyk-navbar {
  display: flex;
  align-items: center;
  padding: 28px 0;

  &-logo {
    margin-right: 60px;
    width: 60px;
    cursor: pointer;

    @include respond(sm) {
      margin-right: 0;
    }
  }

  &-mobile-navigation {
    width: 100%;

    &-container {
    }
  }

  &-navigation {
    display: flex;
    gap: 28px;
    align-items: center;
    flex: 1;

    @include respond(sm) {
      display: none;
    }

    &-subgroup {
      position: relative;

      &-trigger {
        &::before {
          height: 0;
        }

        i {
          font-size: var(--icon-size-s);
          transition: all 0.2s ease;
        }

        &.active {
          i {
            transform: rotate(180deg);
          }
        }
      }

      &-content {
        position: absolute;
        top: 30px;
        padding: 16px 12px;
        background-color: var(--color-background);
        box-shadow: var(--shadow);
        border-radius: 5px;
        z-index: 10;

        button:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;

    &-search {
      &-button {
        cursor: pointer;
      }

      &-bar {
        width: 0;
        padding: 8px 12px;
        border: 0;
        border-radius: 500px;
        visibility: hidden;
        box-shadow: var(--shadow);
        transition: all 0.2s ease-in-out;

        &:focus {
          outline: none;
        }

        &.open {
          width: 200px;
          visibility: visible;

          @include respond(sm) {
            width: 150px;
          }
        }
      }
    }

    &-account-button {
      cursor: pointer;
    }
  }

  &-authorized-menu {
    &-logout {
      color: var(--color-red) !important;
    }
  }

  &-sidenav-button {
    display: none;
    margin-left: 12px;
    font-size: var(--font-size-m);

    @include respond(sm) {
      display: block;
    }
  }
}
