<main class="builder" *ngIf="productData$ | async as productData">
  <div class="image-composition-container">
    <masni-handmade-dolls-image-composition
      [images]="
        productData.baseProduct.images
      "></masni-handmade-dolls-image-composition>
  </div>

  <div class="container shadow-2">
    <h1 class="heading-primary">Nyuszkó</h1>
    <p class="paragraph-primary reminder-text">
      Kérlek vedd figyelembe, hogy egyes anyagok változtathatnak a Nyuszkó
      végösszegén!
    </p>

    <form
      class="form"
      (submit)="onSubmit(productData.baseProduct, productData.price)"
      [formGroup]="builderForm"
      *ngIf="productData.customProduct as customProduct">
      <div class="form-group">
        <label class="form-label">Alapszín:</label>
        <p-dropdown
          styleClass="w-full"
          [options]="customProduct.baseColor"
          placeholder="Válassz egyet"
          formControlName="baseColor"
          optionLabel="nameWithExtra"
          optionValue="name"></p-dropdown>
      </div>

      <div class="form-group">
        <label class="form-label">Fülek színe mintája:</label>

        <p-dropdown
          styleClass="w-full"
          [options]="customProduct.earsColor"
          placeholder="Válassz egyet"
          formControlName="earsColor"
          optionLabel="nameWithExtra"
          optionValue="name"></p-dropdown>
      </div>

      <div class="form-group">
        <label class="form-label">Masni színe:</label>
        <p-dropdown
          styleClass="w-full"
          [options]="customProduct.ribbonColor"
          placeholder="Válassz egyet"
          formControlName="ribbonColor"
          optionLabel="nameWithExtra"
          optionValue="name"></p-dropdown>
      </div>

      <div class="field-checkbox">
        <p-checkbox
          [binary]="true"
          formControlName="extraMinkyEarsCheckbox"
          inputId="extraMinkyEarsCheckbox"></p-checkbox>
        <label for="extraMinkyEarsCheckbox"
          >Extra minky plüss fülekkel kérem! +400 Ft</label
        >
      </div>

      <div
        class="form-group"
        *ngIf="builderForm.get('extraMinkyEarsCheckbox').value">
        <p-dropdown
          styleClass="w-full"
          placeholder="Válassz egyet"
          [options]="customProduct.extraMinkyEars"
          formControlName="extraMinkyEarsInput"
          optionLabel="name"
          optionValue="name"></p-dropdown>
      </div>

      <div class="field-checkbox">
        <p-checkbox
          [binary]="true"
          formControlName="nameEmbroideryCheckbox"
          inputId="nameEmbroideryCheckbox"></p-checkbox>
        <label for="nameEmbroideryCheckbox"
          >Szeretnék kézzel hímzett nevet a nyuszkóra! +500 Ft</label
        >
      </div>

      <div
        class="form-group"
        *ngIf="builderForm.get('nameEmbroideryCheckbox').value">
        <input
          id="nameEmbroideryInput"
          cl
          type="text"
          pInputText
          formControlName="nameEmbroideryInput"
          placeholder="Add meg a nevet" />
      </div>

      <div class="form-group">
        <label for="comment" class="form-label"
          >Megjegyzés az elkészítéssel kapcsolatban!</label
        >
        <textarea
          rows="5"
          cols="30"
          id="comment"
          pInputTextarea
          formControlName="comment"
          [autoResize]="true"></textarea>
      </div>

      <p class="price text-primary">Ár: {{ productData.price }} Ft</p>
      <button
        class="primary-button shadow-2"
        type="submit"
        [disabled]="!builderForm.valid"
        *ngIf="isAuthenticated$ | async">
        <i class="pi pi-shopping-cart"></i>
        Kosárba
      </button>
      <a
        routerLink="/login"
        class="primary-button shadow-2"
        *ngIf="(isAuthenticated$ | async) === false"
        >Előbb lépj be a rendeléshez</a
      >
      <a routerLink="/nyuszko-shop" class="secondary-button shadow-2">Vissza</a>
    </form>
    <ol class="list-none p-0 m-0 text-center text-900">
      <li
        class="line-height-3 p-3 font-bold border-bottom-1 border-300 text-primary">
        Termékleírás:
      </li>
      <li class="line-height-3 p-3 border-bottom-1 border-300">
        {{ productData.baseProduct.description }}
      </li>
    </ol>
  </div>
</main>
