.builder {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.image-composition-container {
  width: 35%;
  margin-right: 3rem;
}

.container {
  width: 50%;
  border: 2px solid var(--color-tertiary);
  padding: 2rem;
}

.heading {
  margin-bottom: 5rem;
}
