<ng-container *ngIf="material$ | async as material; else loading">
    <div class="nyk-edit-material-header">Minta módosítása</div>

    <form class="nyk-edit-material-form" [formGroup]="editMaterialForm">
        <div class="form-group">
            <label for="name"> Minta neve </label>

            <input id="name" type="text" formControlName="name" pInputText />
        </div>

        <div class="form-group">
            <label for="categoryId"> Minta kategória </label>

            <p-dropdown
                id="category"
                formControlName="category"
                placeholder="Válassz egy kategóriát"
                [options]="materialCategories$ | async"
                optionValue="id"
                optionLabel="name"
                styleClass="w-full">
            </p-dropdown>
        </div>

        <div class="form-group">
            <label for="extraPrice" type="number"> Minta extra ára </label>

            <p-inputNumber
                [showButtons]="true"
                id="extraPrice"
                formControlName="extraPrice"
                mode="currency"
                currency="HUF"
                styleClass="w-full"
                [min]="0" />
        </div>

        <div class="form-group">
            <label for="stock"> Rendelhető? </label>

            <p-inputSwitch formControlName="isAvailable"></p-inputSwitch>
        </div>

        <div class="form-group">
            <label for="image"> Minta képe </label>

            <p-button
                *ngIf="!imagePreview"
                [raised]="true"
                icon="pi pi-image"
                styleClass="p-button p-button-secondary"
                (click)="imagePicker.click()">
            </p-button>

            <p-button
                *ngIf="imagePreview"
                [raised]="true"
                icon="pi pi-times"
                pTooltip="Kép törlése"
                tooltipPosition="bottom"
                severity="danger"
                styleClass="mb-2"
                (click)="onImageClear(imagePicker)">
            </p-button>

            <input
                id="imagePicker"
                type="file"
                class="hidden"
                #imagePicker
                (change)="onImagePicked($event)" />

            <img
                *ngIf="imagePreview"
                class="image-preview border-round"
                [src]="imagePreview"
                alt="Kategória" />

            <img
                *ngIf="!imagePreview"
                class="mt-2 image-preview border-round"
                src="../../../../../../assets/images/no-image.png"
                alt="Kategória" />
        </div>

        <p-button
            [raised]="true"
            label="Módosítás"
            styleClass="p-button w-full mb-3"
            [disabled]="!editMaterialForm.valid || !editMaterialForm.dirty"
            (click)="onEditMaterial()">
        </p-button>
    </form>

    <nyk-item-history
        itemType="Minta"
        [logs]="logs$ | async"
        [createdAt]="material.createdAt"
        [updatedAt]="material.updatedAt">
    </nyk-item-history>
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
