<mhd-scrollable-image-with-title
  [title]="'Nyuszkó Kuckó'"
  [imageUrl]="'../../../assets/images/landing-page/test.jpg'"
  [elementToScrollTo]="main">
</mhd-scrollable-image-with-title>

<main #main>
  <mhd-products-carousel
    title="Kiemelt termékek"
    [products]="featuredProducts$ | async"
    link="/shop/featured">
  </mhd-products-carousel>

  <mhd-products-carousel
    title='"Álmodd meg" termékek'
    [products]="customProducts$ | async"
    link="/shop/dream-it">
  </mhd-products-carousel>

  <mhd-products-carousel
    title="Összes termék"
    [products]="allProducts$ | async"
    link="/shop/all">
  </mhd-products-carousel>

  <mhd-about-me></mhd-about-me>

  <mhd-product-categories-carousel [categories]="productCategories$ | async">
  </mhd-product-categories-carousel>

  <mhd-material-carousel
    [materials]="materials$ | async"></mhd-material-carousel>
</main>
