<mhd-scrollable-image-with-title
  title="Nyuszkó Kuckó"
  [imageUrl]="'../../../assets/images/landing-page/carousel-placeholder.jpg'"
  [elementToScrollTo]="main">
</mhd-scrollable-image-with-title>

<main #main>
  <mhd-products-carousel
    header="Karácsonyi termékek"
    [products]="christmasProducts$ | async"
    path="/shop/655e191f448107da2d1b55bb">
  </mhd-products-carousel>

  <mhd-products-carousel
    header="Kiemelt termékek"
    [products]="featuredProducts$ | async"
    path="/shop/featured">
  </mhd-products-carousel>

  <mhd-products-carousel
    header='"Álmodd meg" termékek'
    [products]="customProducts$ | async"
    path="/shop/dream-it">
  </mhd-products-carousel>

  <mhd-products-carousel
    header="Összes termék"
    [products]="allProducts$ | async"
    path="/shop/all">
  </mhd-products-carousel>

  <mhd-about-me></mhd-about-me>

  <mhd-product-categories-carousel [categories]="productCategories$ | async">
  </mhd-product-categories-carousel>

  <!-- <mhd-material-carousel [materials]="materials$ | async">
  </mhd-material-carousel> -->
</main>
