@import 'mixins';

.nyk-layout {
  .mat-sidenav-content {
    padding: 0 80px;

    @include respond(sm) {
      padding: 0 12px;
    }
  }

  &-admin {
    .mat-sidenav-content {
      padding: 0;
    }
  }

  mat-sidenav-container {
    background-color: var(--color-background);
  }
}
