<ng-container *ngIf="materialPageData$ | async as pageData">
  <mhd-scrollable-image-with-title
    title="Minták"
    imageUrl="../../../assets/images/landing-page/carousel-placeholder.jpg"
    [elementToScrollTo]="materialPage">
  </mhd-scrollable-image-with-title>

  <div class="material-page" #materialPage>
    <div *ngFor="let category of pageData; let i = index">
      <h1 class="heading-primary">{{ category.title }}</h1>

      <p-galleria
        [value]="category.items"
        [(visible)]="displayCustomGaleryArr[i]"
        [(activeIndex)]="activeIndexArr[i]"
        [containerStyle]="{ 'max-width': '850px' }"
        [circular]="true"
        [fullScreen]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [baseZIndex]="50">
        <ng-template pTemplate="item" let-material>
          <img
            [src]="material.image"
            [alt]="material.name"
            class="border-round-sm"
            style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>

      <div class="grid" style="max-width: 100%">
        <div
          *ngFor="let material of category.items; let index = index"
          class="item-content col-3 lg:col-2"
          key="index">
          <img
            [src]="material.image"
            class="hidden"
            (load)="imageLoaded(category.title, index)" />

          <img
            *ngIf="
              imageLoadedStatus[category.title] &&
              imageLoadedStatus[category.title][index]
            "
            [src]="material.image"
            class="mb-1 border-round-sm"
            style="cursor: pointer"
            (click)="imageClickGalery(index, i)" />

          <p-skeleton
            *ngIf="
              imageLoadedStatus[category.title] &&
              !imageLoadedStatus[category.title][index]
            "
            styleClass="skeleton">
          </p-skeleton>

          <p
            class="name text-center"
            *ngIf="
              imageLoadedStatus[category.title] &&
              imageLoadedStatus[category.title][index]
            ">
            {{ material.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
