@import '../../../scss/mixins';

.material-page {
  width: 80%;
  margin: 0 auto 50px;

  @include respond(sm) {
    width: 100%;
  }
}

.grid {
  margin: 0;
}

.heading-primary {
  margin: 40px 0;

  @include respond(sm) {
    margin: 20px 0;
    text-align: center;
  }
}

.name {
  font-size: 16px;
  text-align: center;

  @include respond(sm) {
    font-size: 10px;
  }
}
