@import '../../../../scss/mixins';

.brands {
  display: flex;
  height: calc(100vh - 9rem);
  margin-bottom: 10rem;

  @include respond(sm) {
    display: flex;
    flex-direction: column;
  }
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-image: url('../../../../assets/images/nyuszko-kucko.jpg');
  background-size: cover;
  background-position: center center;

  @include respond(sm) {
    width: 100%;
    height: 50%;
  }
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-image: url('../../../../assets/images/masni-handmade-dolls.jpg');
  background-size: cover;
  background-position: center center;

  @include respond(sm) {
    width: 100%;
    height: 50%;
  }
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  height: 30rem;
  width: 40rem;
  text-align: center;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.shop-icon {
  margin-bottom: 2rem;
  width: 15rem;
}

.shop-link {
  font-size: 2rem;
}
