<section class="landing-brands section-margin">
  <div class="landing-brands__left">
    <div class="landing-brands__left__wrapper">
      <img
        src="../../../assets/images/logo-black.svg"
        alt="Logo"
        class="landing-brands__left__icon" />
      <a routerLink="" class="landing-brands__link primary-button">Vásárlás</a>
    </div>
  </div>
  <div class="landing-brands__right">
    <div class="landing-brands__right__wrapper">
      <img
        src="../../../assets/images/logo-black.svg"
        alt="Logo"
        class="landing-brands__right__icon" />
      <a routerLink="" class="landing-brands__link primary-button">Vásárlás</a>
    </div>
  </div>
</section>
