@import '../../../../scss/mixins';

.brands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  width: 50%;
  aspect-ratio: 1 / 1;
  margin: 0 auto 100px;

  @include respond(sm) {
    width: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

.div1,
.div2,
.div3,
.div4,
.div5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.title {
  display: inline-block;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 3px 5px #ccc;
  font-size: 18px;
  font-weight: 500;
  text-align: center;

  @include respond(sm) {
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-weight: 500;
  }
}

.szubdikendok,
.babaruhak {
  @include respond(sm) {
    width: 95%;
  }
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
  background-image: url('../../../../assets/images/landing-page/landing-page-01.jpg');
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url('../../../../assets/images/landing-page/landing-page-02.jpg');
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
  background-image: url('../../../../assets/images/landing-page/landing-page-03.jpg');
}
.div4 {
  grid-area: 3 / 1 / 4 / 2;
  background-image: url('../../../../assets/images/landing-page/landing-page-04.jpg');
}
.div5 {
  grid-area: 3 / 2 / 4 / 4;
  background-image: url('../../../../assets/images/landing-page/landing-page-05.jpg');
}
