<section class="brands">
  <div class="left-side">
    <div class="shop">
      <img
        src="../../../assets/images/nyuszko-kucko-logo.png"
        alt="Logo"
        class="shop-icon" />
      <a routerLink="/nyuszko-shop" class="shop-link primary-button"
        >Vásárlás</a
      >
    </div>
  </div>
  <div class="right-side">
    <div class="shop">
      <img
        src="../../../assets/images/logo-black.svg"
        alt="Logo"
        class="shop-icon" />
      <a routerLink="/masni-shop" class="shop-link primary-button">Vásárlás</a>
    </div>
  </div>
</section>
