<ng-container *ngIf="question$ | async as question; else loading">
    <div class="nyk-edit-question-header">Kérdés módosítás</div>

    <div *ngIf="question.type === QuestionType.Custom" class="nyk-edit-question-string-content">
        <form class="nyk-edit-question-string-content-form" [formGroup]="editCustomQuestionForm">
            <div class="form-group">
                <label for="name"> Kérdés neve </label>

                <input id="name" formControlName="name" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="question"> Kérdés </label>

                <input id="question" formControlName="question" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="optionName"> Választási lehetőség </label>

                <input id="optionName" formControlName="optionName" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="extraPrice"> Lehetőség extra ára </label>

                <p-inputNumber
                    [showButtons]="true"
                    inputId="extraPrice"
                    formControlName="extraPrice"
                    styleClass="w-full"
                    mode="currency"
                    currency="HUF"
                    [min]="0" />
            </div>

            <p-button
                [raised]="true"
                label="Lehetőség hozzáadás"
                icon="pi pi-plus"
                styleClass="p-button p-button-success w-full"
                [disabled]="
                    !editCustomQuestionForm.value.optionName || !editCustomQuestionForm.value.name
                "
                (click)="onAddCustomOption()"></p-button>
        </form>

        <div
            *ngIf="editCustomQuestionForm.value.name"
            class="nyk-edit-question-string-content-preview">
            <p class="nyk-edit-question-string-content-preview-header">Előnézet</p>

            <p class="nyk-edit-question-string-content-preview-name">
                <span>Kérdés neve:</span>
                {{ editCustomQuestionForm.value.name }}
            </p>

            <div class="form-group">
                <label class="nyk-edit-question-string-content-preview-question" for="option">
                    <span>Kérdés:</span>
                    {{ editCustomQuestionForm.value.question }}
                </label>

                <p-dropdown
                    *ngIf="editCustomQuestionForm.value.options.length"
                    [options]="editCustomQuestionForm.value.options"
                    optionLabel="nameWithExtra"
                    styleClass="w-full">
                </p-dropdown>
            </div>

            <h3 class="nyk-edit-question-string-content-preview-header">Lehetőségek</h3>

            <div
                class="nyk-edit-question-string-content-preview-option-wrapper"
                *ngFor="let option of editCustomQuestionForm.value.options; let i = index">
                <p class="nyk-edit-question-string-content-preview-option-wrapper-option">
                    <span>{{ i + 1 }}.</span> {{ option.nameWithExtra }}
                </p>

                <p-button
                    [raised]="true"
                    icon="pi pi-times"
                    styleClass="p-button-danger"
                    (click)="onDeleteCustomOption(i)">
                </p-button>
            </div>
        </div>
    </div>

    <div *ngIf="question.type === QuestionType.Material" class="nyk-edit-question-material-content">
        <form
            class="nyk-edit-question-material-content-form"
            [formGroup]="editMaterialQuestionForm">
            <div class="form-group">
                <label for="name"> Kérdés neve </label>

                <input id="name" formControlName="name" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="question"> Kérdés </label>

                <input id="question" formControlName="question" type="text" pInputText />
            </div>

            <div class="form-group">
                <label for="category"> Valassz minta kategóriát </label>

                <p-dropdown
                    id="category"
                    formControlName="category"
                    placeholder="Válassz egy kategóriát"
                    [options]="materialCategories$ | async"
                    optionValue="id"
                    optionLabel="name"
                    styleClass="w-full">
                </p-dropdown>
            </div>

            <p-button
                [raised]="true"
                label="Kategória hozzáadás"
                icon="pi pi-plus"
                styleClass="p-button p-button-success w-full"
                (click)="onAddMaterialOption(editMaterialQuestionForm.value.category)">
            </p-button>
        </form>

        <div
            *ngIf="editMaterialQuestionForm.value.name"
            class="nyk-edit-question-material-content-preview">
            <p class="nyk-edit-question-material-content-preview-header">Előnézet</p>

            <p class="nyk-edit-question-material-content-preview-name">
                <span>Kérdés neve:</span>
                {{ editMaterialQuestionForm.value.name }}
            </p>

            <div class="form-group">
                <label class="nyk-edit-question-material-content-preview-question" for="option">
                    <span>Kérdés:</span>
                    {{ editMaterialQuestionForm.value.question }}
                </label>

                <p-dropdown
                    *ngIf="editMaterialQuestionForm.value.options.length"
                    [options]="editMaterialQuestionForm.value.options"
                    optionLabel="nameWithExtra"
                    styleClass="w-full">
                </p-dropdown>
            </div>

            <ng-container *ngIf="editMaterialQuestionForm.value.options.length">
                <h3 class="nyk-edit-question-material-content-preview-header">Lehetőségek</h3>

                <div
                    class="nyk-edit-question-material-content-preview-option-wrapper"
                    *ngFor="let option of selectedCategories; let i = index">
                    <p class="nyk-edit-question-material-content-preview-option-wrapper-option">
                        <span>{{ i + 1 }}.</span> {{ option.name }}
                    </p>

                    <p-button
                        [raised]="true"
                        icon="pi pi-times"
                        styleClass="p-button-danger"
                        (click)="onDeleteMaterialCategoryOption(option.id, i)">
                    </p-button>
                </div>
            </ng-container>
        </div>
    </div>

    <p-button
        [raised]="true"
        type="submit"
        label="Kérdés módosítása"
        styleClass="p-button w-full mt-3"
        (click)="onSubmit(question.type)">
    </p-button>
    <!-- <div class="nyk-edit-question-header">Termék előzmények</div>

        <span class="text-blue-500">
            Hozzáadva:
            {{ question.createdAt | date : "yyy, MMM dd '-' hh:mm a" }}
        </span>

        <span class="text-green-500 block mb-4">
            Utoljára módosítva:
            {{ question.updatedAt | date : "yyy, MMM dd '-' hh:mm a" }}
        </span>

        <p-table class="nyk-edit-question-history" [value]="question.logs">
            <ng-template pTemplate="header">
                <tr>
                    <th>Modul</th>
                    <th>Dátum</th>
                    <th>Üzenet</th>
                    <th>Felhasználó</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-log>
                <tr>
                    <td>{{ log.meta.module }}</td>
                    <td>
                        {{ log.timestamp | date : "yyy, MMM dd '-' hh:mm a" }}
                    </td>
                    <td>{{ log.message }}</td>
                    <td>{{ log.meta.user }}</td>
                </tr>
            </ng-template>
        </p-table> -->
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
