<main class="builder" *ngIf="sortedMaterials && materials">
  <div class="image-composition-container">
    <masni-handmade-dolls-image-composition
      [images]="productImages"></masni-handmade-dolls-image-composition>
  </div>
  <div class="container shadow-2">
    <h1 class="heading-primary">Nyuszkó-szundikendő</h1>
    <p class="paragraph-primary reminder-text">
      Kérlek vedd figyelembe, hogy egyes anyagok változtathatnak a
      nyuszkó-szundikendő végösszegén!
    </p>

    <form class="form" (submit)="onSubmit()" [formGroup]="builderForm">
      <div formGroupName="baseMaterials">
        <div class="form-group">
          <label class="form-label">Alapszín:</label>
          <p-dropdown
            styleClass="w-full"
            [options]="product.baseColor"
            formControlName="baseColor"
            optionLabel="nameWithExtra"
            optionValue="id"></p-dropdown>
        </div>
        <div class="form-group">
          <label class="form-label">Szundikendo színe/mintája:</label>
          <p-dropdown
            styleClass="w-full"
            [options]="product.szundikendoColor"
            formControlName="szundikendoColor"
            optionLabel="nameWithExtra"
            optionValue="id"></p-dropdown>
        </div>
        <div class="form-group">
          <label class="form-label"
            >Minky plüss színe(szundikendő-hátulja):</label
          >
          <p-dropdown
            styleClass="w-full"
            [options]="product.minkyColorBack"
            formControlName="minkyColorBack"
            optionLabel="name"
            optionValue="id"></p-dropdown>
        </div>
      </div>
      <div formGroupName="extraOptions">
        <div class="field-checkbox">
          <p-checkbox
            [binary]="true"
            formControlName="nameEmbroideryCheckbox"
            inputId="nameEmbroideryCheckbox"></p-checkbox>
          <label for="nameEmbroideryCheckbox"
            >Szeretnék kézzel hímzett nevet a szundikendőre! +500 Ft</label
          >
        </div>

        <div
          class="form-group"
          *ngIf="builderForm.get('extraOptions.nameEmbroideryCheckbox').value">
          <input
            id="nameEmbroideryInput"
            type="text"
            pInputText
            formControlName="nameEmbroideryInput"
            placeholder="Add meg a nevet" />
        </div>
        <div class="form-group">
          <label for="orderComment" class="form-label"
            >Megjegyzés az elkészítéssel kapcsolatban!</label
          >
          <textarea
            rows="5"
            cols="30"
            id="orderComment"
            pInputTextarea
            formControlName="orderComment"
            [autoResize]="true"></textarea>
        </div>
      </div>

      <p class="price">Ár: {{ price }} Ft</p>
      <button
        class="primary-button shadow-2"
        type="submit"
        [disabled]="!builderForm.valid"
        *ngIf="isAuthenticated">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        Kosárba
      </button>
      <a
        routerLink="/login"
        class="primary-button shadow-2"
        *ngIf="!isAuthenticated"
        >Előbb lépj be a rendeléshez</a
      >
    </form>
    <p-accordion>
      <p-accordionTab header="Termék leírása"
        ><div class="accordion-content">
          <div class="story-container">
            <p class="story-paragraph paragraph-primary">
              A szundikendőket 100%-ban természetes alapanyagokból,
              pamutvászonból és minky plüss anyagból készítem. Igény esetén
              gyapjúfilcet is használok. A szundikendőhöz tartozó fejecskét
              antiallergén szilikonizált poliészter golyókkal töltöm meg, ami
              baba barát és mosható. A nyuszkófej kézzel hímzett vidám arcocskát
              kap. A szundikendő mérete 30cm*30cm, plusz a fejecske. Amennyiben
              szeretnéd, hogy ajándékod még egyedibb legyen, kézzel hímzett
              névvel ellátva is kérheted. Kézzel hímzett termékek esetén a
              kézzel való tisztítást részesítem előnyben, de 30°C-on,
              kímélőprogrammal, mosózsákban mosható. Szárítógépbe kérlek ne
              tedd! A minky plüss nem vasalható! tedd!
            </p>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</main>
