<ng-container *ngIf="category$ | async as category">
    <div class="nyk-edit-category-header">Kategória módosítás</div>

    <form class="nyk-edit-category-form" [formGroup]="editCategoryForm">
        <div class="form-group">
            <p-badge
                *ngIf="category.type === CategoryType.Product"
                value="Termék kategória"
                severity="success"
                styleClass="shadow-2 mb-1">
            </p-badge>

            <p-badge
                *ngIf="category.type === CategoryType.Product"
                [value]="category.isSubCategory ? 'Alkategória' : 'Főkategória'"
                [severity]="category.isSubCategory ? 'info' : 'warning'"
                styleClass="shadow-2">
            </p-badge>

            <p-badge
                *ngIf="category.type === CategoryType.Material"
                value="Minta kategória"
                severity="info"
                styleClass="shadow-2">
            </p-badge>

            <p-badge
                *ngIf="category.type === CategoryType.Inspiration"
                value="Inspiració kategória"
                styleClass="shadow-2">
            </p-badge>
        </div>

        <div class="form-group">
            <label for="name"> Kategória neve </label>

            <input id="name" formControlName="name" type="text" pInputText />
        </div>

        <div *ngIf="category.type === CategoryType.Product" class="form-group">
            <label for="description"> Kategória leírása </label>

            <textarea
                rows="5"
                cols="30"
                pInputTextarea
                [autoResize]="true"
                formControlName="description"></textarea>
        </div>

        <div class="form-group">
            <label>Kategória képe</label>

            <p-button
                *ngIf="!imagePreview"
                [raised]="true"
                icon="pi pi-image"
                styleClass="p-button p-button-secondary"
                (click)="imagePicker.click()">
            </p-button>

            <p-button
                *ngIf="imagePreview"
                [raised]="true"
                icon="pi pi-times"
                styleClass="p-button p-button-danger mb-2"
                (click)="onImageClear(imagePicker)">
            </p-button>

            <input
                id="imagePicker"
                type="file"
                class="hidden"
                #imagePicker
                (change)="onImagePicked($event)" />

            <img
                *ngIf="imagePreview"
                class="image-preview border-round"
                [src]="imagePreview"
                alt="Kategória" />

            <img
                *ngIf="!imagePreview"
                class="mt-2 image-preview border-round"
                src="../../../../../../assets/images/no-image.png"
                alt="Kategória" />
        </div>

        <p-button
            [raised]="true"
            label="Módosítás"
            styleClass="p-button w-full mb-3"
            [disabled]="!editCategoryForm.dirty || !editCategoryForm.valid"
            (click)="onEditCategory()">
        </p-button>
    </form>

    <div class="nyk-edit-category-header">Kategória előzmények</div>

    <span class="text-blue-500">
        Hozzáadva:
        {{ category.createdAt | date : "yyy, MMM dd '-' hh:mm a" }}
    </span>

    <span class="text-green-500 block mb-4">
        Utoljára módosítva:
        {{ category.updatedAt | date : "yyy, MMM dd '-' hh:mm a" }}
    </span>

    <!-- <p-table class="nyk-edit-category-history" [value]="category.logs">
            <ng-template pTemplate="header">
                <tr>
                    <th>Modul</th>
                    <th>Dátum</th>
                    <th>Üzenet</th>
                    <th>Felhasználó</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-log>
                <tr>
                    <td>{{ log.meta.module }}</td>
                    <td>
                        {{ log.timestamp | date : "yyy, MMM dd '-' hh:mm a" }}
                    </td>
                    <td>{{ log.message }}</td>
                    <td>{{ log.meta.user }}</td>
                </tr>
            </ng-template>
        </p-table> -->
</ng-container>
