@import '../../../../scss/mixins';

.featured-products {
  text-align: center;
  margin: 100px 0 150px;

  @include respond(sm) {
    margin: 50px 0 75px;
  }
}

.heading-primary {
  margin-bottom: 20px;
}

.carousel-container {
  margin-bottom: 50px;
}

.item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
