<p-carousel
  [value]="items"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [showNavigators]="false"
  [showIndicators]="false"
  [responsiveOptions]="responsiveOptions">
  <ng-template pTemplate="header">
    <h1 class="heading-primary">Termékek készleten</h1>
  </ng-template>
  <ng-template let-item pTemplate="item">
    <ng-content [ngTemplateOutletContext]="{ item: item }"></ng-content>
  </ng-template>
</p-carousel>

<a
  routerLink="/ready-products"
  class="check-all-button secondary-button shadow-2"
  >Mindet Megnézem</a
>
