@import 'mixins';

.nyk-gallery {
    display: flex;
    gap: var(--spacing-m);

    @include respond(sm) {
        flex-direction: column-reverse;
    }

    &-preview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--spacing-m);
        width: 20%;

        @include respond(sm) {
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
        }

        &-image {
            border-radius: var(--border-radius);
            border: 2px solid transparent;
            transition: all 0.3s ease;
            cursor: pointer;

            @include respond(sm) {
                width: 20%;
            }

            &.active {
                border: 2px solid var(--accent-color);
            }
        }
    }

    &-main-image {
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);
    }
}
