<div
  class="px-4 py-8 md:px-6 lg:px-8"
  *ngIf="productData$ | async as productData">
  <div class="grid" *ngIf="productData.product as product">
    <div class="w-full lg:w-5">
      <masni-handmade-dolls-image-composition
        [images]="product.images"></masni-handmade-dolls-image-composition>
    </div>

    <div class="col-12 lg:col-6 py-3 lg:pl-6">
      <div class="flex align-items-center mb-4">
        <div class="flex-column">
          <h1 class="heading-primary">{{ product.name | titlecase }}</h1>
          <p class="paragraph-primary">{{ product.shortDescription }}</p>
        </div>
        <!-- <i
          class="pi ml-3 cursor-pointer"
          [ngClass]="{
            'pi-heart text-600': true,
            'pi-heart-fill text-orange-500': false
          }"
          (click)="liked1 = !liked1"></i> -->
      </div>
      <span class="text-primary font-medium text-3xl block mb-5"
        >{{ productData.price }} Ft</span
      >

      <form (submit)="onAddToCart(product)" [formGroup]="builderForm">
        <div class="field-checkbox">
          <p-checkbox
            [binary]="true"
            formControlName="nameEmbroideryCheckbox"
            inputId="nameEmbroideryCheckbox"></p-checkbox>
          <label for="nameEmbroideryCheckbox"
            >Szeretnék kézzel hímzett nevet a {{ product.name }}ra! +500
            Ft.</label
          >
        </div>

        <div
          class="form-group"
          *ngIf="builderForm.get('nameEmbroideryCheckbox').value">
          <input
            formControlName="nameEmbroideryInput"
            id="nameEmbroideryInput"
            type="text"
            pInputText
            placeholder="Add meg a nevet" />
        </div>

        <div class="form-group">
          <label for="comment" class="form-label"
            >Megjegyzés a {{ product.name }}val kapcsolatban.</label
          >
          <textarea
            rows="5"
            cols="30"
            id="comment"
            pInputTextarea
            formControlName="comment"
            [autoResize]="true"></textarea>
        </div>

        <button
          class="primary-button shadow-2 mb-3 w-full"
          *ngIf="isAuthenticated$ | async">
          <i class="pi pi-shopping-cart"></i>
          Kosárba
        </button>
        <button
          routerLink="/login"
          class="primary-button shadow-2 mb-3 w-full"
          *ngIf="(isAuthenticated$ | async) === false">
          Előbb lépj be a rendeléshez
        </button>
      </form>
      <ol class="list-none p-0 m-0 text-center text-900">
        <li
          class="line-height-3 p-3 font-bold border-bottom-1 border-300 text-primary">
          Termékleírás:
        </li>
        <li class="line-height-3 p-3 border-bottom-1 border-300">
          {{ product.description }}
        </li>
      </ol>
    </div>
  </div>
</div>
