@import '../../../../scss/mixins';

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100%;
  margin-bottom: 10rem;
}

.carousel-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 3rem;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 3px 5px #ccc;
  z-index: 2;

  @include respond(sm) {
    width: 90%;
    text-align: center;
  }
}

.container {
  width: 70%;

  @include respond(sm) {
    width: 90%;
    margin-bottom: 5rem;
  }
}

.heading {
  margin-bottom: 2rem;
}

.description {
  margin-bottom: 4rem;
}

.link {
  font-size: 2rem;
}
