@import '../../../../scss/mixins';

.about-us {
  display: flex;

  @include respond(sm) {
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5rem;
  }

  &__description {
    margin-bottom: 5rem;
  }

  &__link {
    font-size: 1.6rem;
  }

  &__image {
    width: 50%;
    padding: 10rem;

    @include respond(sm) {
      width: 100%;
      padding: 5rem;
    }
  }
}
