<section class="about-us section-margin">
  <div class="about-us__wrapper">
    <h1 class="about-us__header primary-heading">Rólunk</h1>
    <p class="about-us__description primary-paragraph">
      A cégünk kézzel készített babákat állít elő. A minőségi anyagokból készült
      babáinkat szeretettel készítjük, hogy örömet okozzunk gyermekeknek és
      családjaiknak. A termékeinket egyedi tervezés alapján készítjük, hogy
      különleges és egyedi ajándékként szolgálhassanak. A célunk, hogy minőségi
      termékeket kínáljunk ügyfeleinknek és hogy hozzájárulhassunk a gyermekkor
      boldog emlékeinek megteremtéséhez.
    </p>
    <a href="" class="about-us__link primary-button">Tudj meg többet</a>
  </div>
  <img
    src="../../../../assets/images/landing-about-us.jpg"
    alt="Rólunk"
    class="about-us__image" />
</section>
