<section class="about-us">
  <div class="container">
    <h1 class="heading primary-heading">Rólam</h1>
    <p class="paragraph primary-paragraph">
      Sziasztok! Kalmár Betti vagyok. <br />
      Végre egy álmom vált valóra, itt vagytok a weboldalamon. Sok éve egy kezdő
      varró tanfolyammal indultam, első nekifutásnak a ruhák varrásának világába
      cseppentem, majd jött a kis unokahúgom kérése, ami mindent megváltozatott.
    </p>
    <a class="link primary-button" routerLink="/about-us">Tudj meg többet</a>
  </div>
  <img
    src="../../../../assets/images/landing-about-us.jpg"
    alt="Rólunk"
    class="img" />
</section>
