<section class="about-us">
  <div class="container">
    <h1 class="heading primary-heading">Rólunk</h1>
    <p class="paragraph primary-paragraph">
      A cégünk kézzel készített babákat állít elő. A minőségi anyagokból készült
      babáinkat szeretettel készítjük, hogy örömet okozzunk gyermekeknek és
      családjaiknak. A termékeinket egyedi tervezés alapján készítjük, hogy
      különleges és egyedi ajándékként szolgálhassanak. A célunk, hogy minőségi
      termékeket kínáljunk ügyfeleinknek és hogy hozzájárulhassunk a gyermekkor
      boldog emlékeinek megteremtéséhez.
    </p>
    <a href="" class="link primary-button">Tudj meg többet</a>
  </div>
  <img
    src="../../../../assets/images/landing-about-us.jpg"
    alt="Rólunk"
    class="img" />
</section>
