@import 'colors';

.mat-mdc-dialog-title {
  border-bottom: 1px solid rgba($color-black, 0.2);
}
.mat-mdc-dialog-actions {
  border-top: 1px solid rgba($color-black, 0.2);
}

.mat-mdc-dialog-content {
  padding-top: 20px;
}
