<article class="post-card">
  <div class="post-card__image"></div>
  <!-- <img
    src="../../../../assets/images/nyuszko-kucko.jpg"
    alt=""
    class="post-card__image" /> -->
  <h1 class="post-card__title">Test cim</h1>
  <p class="post-card__paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime obcaecati
    repellat totam quidem incidunt minus sequi vel sapiente! Aut, ea!
  </p>
  <div class="post-card__actions">
    <button class="post-card__read-button secondary-button">Olvasás</button>
    <button class="post-card__share-button primary-button">Megosztás</button>
  </div>
</article>
