<mat-dialog-content>
    <h1 class="nyk-doll-dress-dialog-header heading-primary">
        Válassz további ruhákat és kiegészítőket a babádnak
    </h1>

    <img
        class="nyk-doll-dress-dialog-image"
        src="../../../../assets/images/doll-dresses.png"
        alt="Kiegészítők" />

    <div class="nyk-doll-dress-dialog-action-buttons">
        <a routerLink="shop/doll-dress" mat-dialog-close class="primary-button">
            Megnézem
        </a>

        <a mat-dialog-close class="tertiary-button"> Köszönöm, nem kérek </a>
    </div>
</mat-dialog-content>
