<section class="recent-posts section-margin">
  <h1 class="recent-posts__heading primary-heading">Friss híreink</h1>
  <div class="recent-posts__container">
    <div class="recent-posts__wrapper">
      <masni-handmade-dolls-post-card></masni-handmade-dolls-post-card>
    </div>
    <div class="recent-posts__wrapper">
      <masni-handmade-dolls-post-card></masni-handmade-dolls-post-card>
    </div>
    <div class="recent-posts__wrapper">
      <masni-handmade-dolls-post-card></masni-handmade-dolls-post-card>
    </div>
  </div>
</section>
