<div class="reset-password">
  <div class="surface-card p-4 shadow-2 border-round">
    <div class="text-center mb-5">
      <div class="heading-primary mb-3">Új jelszó</div>
      <span class="text-600 font-medium line-height-3">
        Kérlek add meg az új jelszavad
      </span>
    </div>

    <form (submit)="onSubmit()" [formGroup]="resetPasswordForm">
      <div class="form-group">
        <label for="password" class="block text-900 font-medium mb-2">
          Jelszó
        </label>

        <input
          id="password"
          type="password"
          placeholder="Jelszó"
          pInputText
          class="w-full"
          formControlName="password" />

        <p
          class="form-helper"
          *ngIf="
            !resetPasswordForm.get('password').valid &&
            resetPasswordForm.get('password').dirty
          ">
          Kérlek adj meg egy jelszót. <br />
          Minimum 8 karakter.
        </p>
      </div>

      <div class="form-group">
        <label for="passwordConfirm" class="block text-900 font-medium mb-2">
          Jelszó megerősítése
        </label>

        <input
          id="passwordConfirm"
          type="password"
          placeholder="Jelszó megerősítése"
          pInputText
          class="w-full"
          formControlName="passwordConfirm" />

        <p
          class="form-helper"
          *ngIf="
            resetPasswordForm.get('passwordConfirm').dirty &&
            resetPasswordForm.get('password').value !==
              resetPasswordForm.get('passwordConfirm').value
          ">
          Megadott jelszó nem egyezik
        </p>
      </div>

      <button
        class="primary-button w-full"
        type="submit"
        [disabled]="!resetPasswordForm.valid">
        Új jelszó beállítása
      </button>
    </form>
  </div>
</div>
