<div *ngIf="!isLoading; else loading" class="nyk-reset-password-container">
    <div class="nyk-reset-password-header heading-primary">Új jelszó</div>

    <span class="nyk-reset-password-sub-header paragraph-primary">
        Kérlek add meg az új jelszavad
    </span>

    <form class="nyk-reset-password-form" (submit)="onSubmit()" [formGroup]="resetPasswordForm">
        <div class="form-group">
            <label for="password"> Jelszó </label>

            <p-password
                inputId="password"
                inputStyleClass="w-full"
                styleClass="w-full"
                formControlName="password"
                [feedback]="false"
                [toggleMask]="true">
            </p-password>

            <p class="form-helper" *ngIf="isFormFieldValid(resetPasswordForm, 'password')">
                Kérlek adj meg egy jelszót. <br />
                Minimum 8 karakter.
            </p>
        </div>

        <div class="form-group">
            <label for="passwordConfirm"> Jelszó megerősítése </label>

            <p-password
                inputId="passwordConfirm"
                inputStyleClass="w-full"
                styleClass="w-full"
                formControlName="passwordConfirm"
                [feedback]="false"
                [toggleMask]="true">
            </p-password>

            <p class="form-helper" *ngIf="arePasswordsMatches()">Megadott jelszó nem egyezik</p>
        </div>

        <p-button
            label="Új jelszó beállítása"
            severity="secondary"
            icon="pi pi-lock"
            styleClass="w-full"
            type="submit"
            [disabled]="!resetPasswordForm.valid"
            [raised]="true">
        </p-button>
    </form>
</div>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
