<div class="nyk-reset-password-container">
    <div class="nyk-reset-password-header heading-primary">Új jelszó</div>

    <span class="nyk-reset-password-sub-header">
        Kérlek add meg az új jelszavad
    </span>

    <form
        class="nyk-reset-password-form"
        (submit)="onSubmit()"
        [formGroup]="resetPasswordForm">
        <div class="form-group">
            <label for="password"> Jelszó </label>

            <input
                id="password"
                type="password"
                placeholder="Jelszó"
                pInputText
                class="w-full"
                formControlName="password" />

            <p
                class="form-helper"
                *ngIf="
                    !resetPasswordForm.get('password').valid &&
                    resetPasswordForm.get('password').dirty
                ">
                Kérlek adj meg egy jelszót. <br />
                Minimum 8 karakter.
            </p>
        </div>

        <div class="form-group">
            <label for="passwordConfirm"> Jelszó megerősítése </label>

            <input
                id="passwordConfirm"
                type="password"
                placeholder="Jelszó megerősítése"
                pInputText
                class="w-full"
                formControlName="passwordConfirm" />

            <p
                class="form-helper"
                *ngIf="
                    resetPasswordForm.get('passwordConfirm').dirty &&
                    resetPasswordForm.get('password').value !==
                        resetPasswordForm.get('passwordConfirm').value
                ">
                Megadott jelszó nem egyezik
            </p>
        </div>

        <button
            class="primary-button w-full"
            type="submit"
            [disabled]="!resetPasswordForm.valid">
            Új jelszó beállítása
        </button>
    </form>
</div>
