@import 'mixins';

.nyk-product-card {
    display: block;
    width: 100%;
    max-width: var(--product-card-max-width);
    cursor: pointer;

    &-top {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;

        &-like,
        &-discount,
        &-dream-it,
        &-new-arrival {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--white-color);
            box-shadow: var(--shadow);
            z-index: 1;
            opacity: 0.85;
        }

        &-discount {
            width: var(--dimension-l);
            height: var(--dimension-l);
            top: var(--spacing-s);
            left: var(--spacing-s);
            padding: var(--spacing-xs);
            color: var(--red-color);
            background-color: var(--primary-color);
            border-radius: var(--border-radius-full);
            aspect-ratio: 1 / 1;

            @include respond(sm) {
                top: var(--spacing-xs);
                left: var(--spacing-xs);
            }
        }

        &-dream-it {
            bottom: var(--spacing-s);
            right: var(--spacing-s);
            padding: var(--spacing-xs) var(--spacing-s);
            font-family: 'Amatic SC', sans-serif;
            background-color: var(--secondary-color);
            border-radius: var(--border-radius-badge);
            font-weight: 600;

            @include respond(sm) {
                bottom: var(--spacing-xs);
                right: var(--spacing-xs);
            }
        }

        &-new-arrival {
            bottom: var(--spacing-s);
            left: var(--spacing-s);
            padding: var(--spacing-xs) var(--spacing-s);
            aspect-ratio: 1 / 1;
            background-color: var(--secondary-color);
            border-radius: var(--border-radius-full);

            @include respond(sm) {
                bottom: var(--spacing-xs);
                left: var(--spacing-xs);
            }
        }

        // &-like {
        //     top: 8px;
        //     right: 8px;
        //     padding: 8px;
        //     color: var(--red-color);
        //     background-color: var(--primary-color);
        //     font-size: 16px;
        //     cursor: pointer;

        //     i {
        //         font-size: 20px;
        //     }

        //     @include respond(sm) {
        //         top: 4px;
        //         right: 4px;
        //     }
        // }

        &-image {
            border-radius: var(--border-radius);
        }
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        max-width: 100%;
        text-align: left;

        &-title {
            font-size: var(--font-size-xl);
            font-family: 'Amatic SC', sans-serif;
            font-weight: 600;
            color: var(--color-text);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            @include respond(sm) {
                font-size: var(--font-size-l);
            }
        }

        &-short-description {
            height: 38px;
            font-size: var(--font-size-s);
            font-weight: 300;
            color: var(--color-text);

            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;

            @include respond(sm) {
                display: none;
            }
        }

        &-price-wrapper {
            display: flex;
            align-items: center;
            font-size: var(--font-size-m);

            @include respond(sm) {
                margin-bottom: 0;
                font-size: var(--font-size-s);
            }

            &-price {
                margin-right: var(--spacing-s);
                color: var(--text-color);

                @include respond(sm) {
                    margin-right: auto;
                }

                &.discounted {
                    color: var(--red-color);
                    text-decoration: line-through;
                }
            }

            &-discounted-price {
                color: var(--text-color);
            }

            .stock {
                margin-left: auto;
                font-size: var(--font-size-xs);
                font-weight: 300;
                color: var(--text-color);

                @include respond(sm) {
                    display: none;
                }
            }
        }
    }

    &-button {
        width: 100%;

        @include respond(sm) {
            display: none;
        }
    }
}
