<div *ngIf="product" class="nyk-product-card" (click)="onProductDetails()">
    <div class="nyk-product-card-top">
        <button
            *ngIf="isAuthenticated$ | async"
            class="nyk-product-card-top-like"
            (click)="onLike($event)">
            <i [ngClass]="isLiked ? 'pi pi-heart-fill' : 'pi pi-heart'"></i>
        </button>

        <span *ngIf="isDiscounted" class="nyk-product-card-top-discount">
            -{{ product.discountPercentage }}%
        </span>

        <span *ngIf="product.isCustom" class="nyk-product-card-top-dream-it">
            Álmodd meg
        </span>

        <span *ngIf="isNewArrival" class="nyk-product-card-top-new-arrival">
            Új
        </span>

        <img
            class="nyk-product-card-top-image"
            [class.hidden]="isImageLoading"
            [src]="product.images[0]"
            (load)="imageLoaded()" />

        <p-skeleton
            *ngIf="isImageLoading"
            styleClass="skeleton"
            width="w-full"
            height="h-full">
        </p-skeleton>
    </div>

    <div class="nyk-product-card-bottom">
        <span class="nyk-product-card-bottom-title">
            {{ product.name | titlecase }}
        </span>

        <span class="nyk-product-card-bottom-short-description">
            {{ product.shortDescription }}
        </span>

        <div class="nyk-product-card-bottom-price-wrapper">
            <span
                class="nyk-product-card-bottom-price-wrapper-price"
                [class.discounted]="isDiscounted">
                {{ product.price }} {{ product.isCustom ? 'Ft-tól' : 'Ft' }}
            </span>

            <span
                *ngIf="isDiscounted"
                class="nyk-product-card-bottom-price-wrapper-discounted-price">
                {{ product.discountedPrice }}
                {{ product.isCustom ? 'Ft-tól' : 'Ft' }}
            </span>

            <p class="stock">Készleten: {{ product.stock }}</p>
        </div>

        <button class="nyk-product-card-button primary-button">
            <i class="pi pi-shopping-cart"></i>
        </button>
    </div>
</div>
