<section class="featured-products">
  <div class="carousel">
    <p-carousel
      [value]="data"
      [showIndicators]="false"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="3000"
      [showNavigators]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header" *ngIf="displayHeading">
        <h5 class="heading primary-heading">{{ heading }}</h5>
      </ng-template>
      <ng-template let-data pTemplate="item">
        <div class="item-content-container">
          <div class="img" [style.background-image]="'url(' + data + ')'"></div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <a
    routerLink="/ready-products"
    class="check-all-button secondary-button"
    *ngIf="displayLink"
    >{{ linkText }}</a
  >
</section>
