<section>
  <div class="carousel">
    <p-carousel
      [value]="data"
      [showIndicators]="false"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="3000"
      [showNavigators]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header" *ngIf="displayHeading">
        <h5 class="heading heading-primary">{{ heading }}</h5>
      </ng-template>
      <ng-template let-data pTemplate="item">
        <div class="item-content-container">
          <ng-content select="selector"></ng-content>
          <!-- <div
            class="img shadow-2"
            [style.background-image]="'url(' + data + ')'"></div> -->
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <a
    [routerLink]="linkRoute"
    class="button secondary-button shadow-2"
    *ngIf="displayLink"
    >{{ linkText }}</a
  >
</section>
