<section class="carousel" *ngIf="carouselData">
  <p-carousel
    [value]="carouselData.images"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="10000"
    [showNavigators]="true"
    [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <h1 class="heading-primary">
        {{ carouselData.heading }}
      </h1>
    </ng-template>
    <ng-template let-image pTemplate="item">
      <div class="item-content">
        <mhd-carousel-item
          [imageSrc]="image"
          [isRoundImage]="carouselData.isRoundImage">
        </mhd-carousel-item>
      </div>
    </ng-template>
  </p-carousel>

  <button
    [routerLink]="carouselData.linkRoute"
    class="secondary-button shadow-2"
    *ngIf="carouselData.displayLink">
    {{ carouselData.linkText }}
  </button>
</section>
