@import '../../../../scss/mixins';

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  width: 100%;
}

.heading {
  margin-bottom: 50px;
  text-align: center;
}

.item-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.button {
  margin-top: 50px;
  font-size: 18px;
}

.img {
  width: 50%;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  aspect-ratio: 1/1;

  @include respond(sm) {
    width: 100%;
  }
}
