<div class="contact-us">
  <mhd-scrollable-image-with-title
    title="Kapcsolat"
    imageUrl="../../../assets/images/landing-page/landing-page-01-mobile.jpg"
    [elementToScrollTo]="contact">
  </mhd-scrollable-image-with-title>

  <div class="content-container" #contact>
    <h1 class="heading heading-primary mb-5">Kapcsolat</h1>

    <a href="https://www.facebook.com/nyuszkokucko" class="link">
      <i class="pi pi-facebook mr-2"></i>
      Nyuszkó-Kuckó
    </a>

    <a href="tel:+36 30 505-9276" class="link">
      <i class="pi pi-phone mr-2"></i>
      +36 30 505-9276
    </a>

    <a href="mailto:info@nyuszkokucko.hu" class="link">
      <i class="pi pi-inbox mr-2"></i>
      info@nyuszkokucko.hu
    </a>
  </div>
</div>
