@import 'mixins';
@import 'colors';

.footer {
  text-align: center;
  background-color: $color-primary;
  padding-bottom: 16px;

  @include respond(sm) {
    padding: 2rem 3rem;
    text-align: left;
  }

  &__container {
    border-top: 1px solid $color-secondary;

    @include respond(sm) {
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 11rem 5rem;

    @include respond(sm) {
      padding: 15rem 0;
    }
  }

  &__logo {
    width: 15rem;

    @include respond(sm) {
      position: absolute;
      top: 2rem;
      width: 10rem;
    }
  }

  &__details {
    width: 47rem;
  }

  &__address {
    margin-bottom: 2rem;
    font-size: 1.6rem;

    &__icon {
      margin-right: 1rem;
    }
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__phone,
    &__email {
      color: $color-black;
      font-size: 1.6rem;

      &__icon {
        margin-right: 1rem;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    &__link {
      font-size: 5rem;
      color: $color-secondary;

      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }

  &__links {
    display: flex;

    @include respond(sm) {
      flex-direction: column;
    }
  }

  &__link {
    font-size: 1.6rem;
    color: $color-black;

    &:not(:last-child) {
      margin-right: 5rem;

      @include respond(sm) {
        margin: 0 0 2rem;
      }
    }
  }

  .developer {
    color: $color-black;
  }
}
