@import '../../../../scss/mixins';

.contact-us {
  display: flex;
  width: 70%;
  margin: 0 auto;

  @include respond(sm) {
    flex-direction: column;
    width: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 70vh;
    padding: 0 10rem;
    background-image: linear-gradient(
        to right bottom,
        var(--color-gradient-1),
        var(--color-gradient-2)
      ),
      url('../../../../assets/images/contact-us-test-image.jpg');
    background-size: cover;
    background-position: center;

    @include respond(sm) {
      width: 100%;
      padding: 0 2rem;
    }

    &__paragraph {
      margin-bottom: 5rem;
    }

    &__link {
      display: block;
      color: var(--color-text);
      font-size: 1.6rem;

      &__icon {
        margin-right: 1rem;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5rem;

    @include respond(sm) {
      width: 100%;
      padding: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &__input,
    &__textarea {
      padding: 1rem 2rem;
      margin-bottom: 1.5rem;
      border: 1px solid var(--color-text);

      &:focus {
        outline: none;
      }
    }

    &__textarea {
      resize: none;
    }
  }
}
