@import '../../../scss/mixins';

.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @include respond(sm) {
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 70vh;
}

.left-container {
  padding: 0 10rem;
  background-image: linear-gradient(
      to right bottom,
      var(--color-gradient-1),
      var(--color-gradient-2)
    ),
    url('../../../assets/images/contact-us-test-image.jpg');
  background-size: cover;
  background-position: center;

  @include respond(sm) {
    width: 100%;
    padding: 0 20px;
  }
}

.text {
  margin-bottom: 50px;
}

.link {
  display: block;
  color: var(--color-text);
  font-size: 16px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.link-icon {
  margin-right: 10px;
}

.right-container {
  padding: 50px;

  @include respond(sm) {
    width: 100%;
    padding: 20px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-heading {
  margin-bottom: 20px;
}

.input,
.textarea {
  padding: 10px 20px;
  margin-bottom: 15px;
  border: 1px solid var(--color-text);

  &:focus {
    outline: none;
  }
}

.textarea {
  resize: none;
}
