<section class="contact-us">
  <div class="left-container">
    <h1 class="heading heading-primary mb-5">Kapcsolat</h1>

    <a href="tel:+36 30 505-9276" class="link"
      ><fa-icon class="link-icon" [icon]="faPhone"></fa-icon>+36 30 505-9276</a
    >
    <a href="https://www.facebook.com/nyuszkokucko" class="link"
      ><fa-icon class="link-icon" [icon]="faFacebook"></fa-icon>Nyuszkó-kuckó</a
    >
    <a href="mailto: test@test.com" class="link"
      ><fa-icon class="link-icon" [icon]="faInbox"></fa-icon
      >info@nyuszkokucko.hu</a
    >
  </div>
  <!-- <div class="right-container">
    <form action="" class="contact-form">
      <h2 class="form-heading heading-secondary">Küldj üzenetet</h2>
      <input type="text" class="input" placeholder="Név" />
      <input type="email" class="input" placeholder="Email" />
      <input type="text" class="input" placeholder="Telefon" />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        class="textarea"
        placeholder="Üzenet"></textarea>
      <button class="form-submit-btn primary-button shadow-2">
        <fa-icon class="form-submit-btn-icon" [icon]="faEnvelope"></fa-icon>
        Küldés
      </button>
    </form>
  </div> -->
</section>
