<section class="contact-us">
  <div class="left-container">
    <h1 class="heading primary-heading">Kapcsolat</h1>
    <p class="text primary-paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A, officia!
    </p>
    <a href="tel:+36 30 123 45 78" class="link"
      ><fa-icon class="link-icon" [icon]="faPhone"></fa-icon>+36 30 123 45 78</a
    >
    <a href="facebook.com" class="link"
      ><fa-icon class="link-icon" [icon]="faFacebook"></fa-icon>Masni Handmade
      Dolls</a
    >
    <a href="mailto: test@test.com" class="link"
      ><fa-icon class="link-icon" [icon]="faInbox"></fa-icon>test@test.com</a
    >
  </div>
  <div class="right-container">
    <form action="" class="contact-form">
      <h2 class="form-heading secondary-heading">Küldj üzenetet</h2>
      <input type="text" class="input" placeholder="Név" />
      <input type="email" class="input" placeholder="Email" />
      <input type="text" class="input" placeholder="Telefon" />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        class="textarea"
        placeholder="Üzenet"></textarea>
      <button class="form-submit-btn primary-button">
        <fa-icon class="form-submit-btn-icon" [icon]="faEnvelope"></fa-icon>
        Küldés
      </button>
    </form>
  </div>
</section>
