<div class="min-h-screen flex">
  <div
    id="app-sidebar-1"
    class="h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 border-400 select-none"
    style="width: 280px">
    <ul class="list-none p-3 m-0">
      <li>
        <a
          routerLink="reports"
          routerLinkActive="surface-50 border-solid border-grey-100 border-1"
          pRipple
          class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-50 transition-duration-150 transition-colors">
          <i class="pi pi-chart-line mr-2"></i>
          <span class="font-medium">Jelentések</span>
        </a>
      </li>

      <li>
        <a
          routerLink="categories"
          routerLinkActive="surface-50 border-solid border-grey-100 border-1"
          pRipple
          class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-50 transition-duration-150 transition-colors">
          <i class="pi pi-bookmark mr-2"></i>
          <span class="font-medium">Kategóriák</span>
        </a>
      </li>

      <li>
        <a
          routerLink="materials"
          routerLinkActive="surface-50 border-solid border-grey-100 border-1"
          pRipple
          class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-50 transition-duration-150 transition-colors">
          <i class="pi pi-palette mr-2"></i>
          <span class="font-medium">Minták</span>
        </a>
      </li>

      <li>
        <a
          routerLink="inspirations"
          routerLinkActive="surface-50 border-solid border-grey-100 border-1"
          pRipple
          class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-50 transition-duration-150 transition-colors">
          <i class="pi pi-sun mr-2"></i>
          <span class="font-medium">Inspirációk</span>
        </a>
      </li>

      <li>
        <a
          routerLink="questions"
          routerLinkActive="surface-50 border-solid border-grey-100 border-1"
          pRipple
          class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-50 transition-duration-150 transition-colors">
          <i class="pi pi-question mr-2"></i>
          <span class="font-medium">Kérdések</span>
        </a>
      </li>

      <li>
        <a
          routerLink="products"
          routerLinkActive="surface-50 border-solid border-grey-100 border-1"
          pRipple
          class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-50 transition-duration-150 transition-colors">
          <i class="pi pi-box mr-2"></i>
          <span class="font-medium">Termékek</span>
        </a>
      </li>

      <li>
        <a
          routerLink="orders"
          routerLinkActive="surface-50 border-solid border-grey-100 border-1"
          pRipple
          class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-50 transition-duration-150 transition-colors">
          <i class="pi pi-file mr-2"></i>
          <span class="font-medium">Rendelések</span>
        </a>
      </li>

      <li>
        <a
          routerLink="users"
          routerLinkActive="surface-50 border-solid border-grey-100 border-1"
          pRipple
          class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-50 transition-duration-150 transition-colors">
          <i class="pi pi-users mr-2"></i>
          <span class="font-medium">Felhasználok</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="p-5 flex flex-column flex-auto">
    <router-outlet></router-outlet>
  </div>
</div>
