<ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="materials$ | async as materials; else loading">
        <div class="nyk-materials-header">Összes minta</div>

        <p-table
            #table
            styleClass="p-datatable-gridlines"
            [value]="materials"
            [globalFilterFields]="['id', 'name', 'category.name']"
            [paginator]="true"
            [rows]="25"
            [rowsPerPageOptions]="[25, 50, 100]">
            <ng-template pTemplate="caption">
                <div class="nyk-materials-actions">
                    <p-button
                        icon="pi pi-plus"
                        label="Minta hozzáadása"
                        styleClass="p-button p-button-success"
                        routerLink="/admin/materials/add">
                    </p-button>

                    <span class="p-input-icon-left ml-auto w-full md:w-6">
                        <i class="pi pi-search"></i>

                        <input
                            pInputText
                            pTooltip="Kereshető mezők: Azonosító, Név, Kategória"
                            tooltipPosition="bottom"
                            class="w-full"
                            type="text"
                            (input)="
                                applyFilterGlobal($event, 'contains', table)
                            "
                            placeholder="Keresés" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>Kép</th>

                    <th class="nyk-materials-id">Azonosító</th>

                    <th>Név</th>

                    <th class="nyk-materials-category">Kategória</th>

                    <th
                        pSortableColumn="extra"
                        class="nyk-materials-extra w-8rem">
                        Extra ár
                        <p-sortIcon field="extra"></p-sortIcon>
                    </th>

                    <th
                        class="nyk-materials-is-available"
                        pSortableColumn="isAvailable">
                        Rendelhető
                        <p-sortIcon field="isAvailable"></p-sortIcon>
                    </th>

                    <th class="w-3rem">Opciók</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-material let-i="rowIndex">
                <tr>
                    <td class="w-7rem">
                        <img
                            class="hidden"
                            [src]="material.image"
                            [alt]="material.name"
                            (load)="imageLoaded(i)" />

                        <p-image
                            *ngIf="imageLoadedStatus[i]"
                            [src]="material.image"
                            [alt]="material.name"
                            [preview]="true">
                        </p-image>

                        <p-skeleton
                            *ngIf="!imageLoadedStatus[i]"
                            styleClass="skeleton"></p-skeleton>
                    </td>

                    <td class="nyk-materials-id text-primary w-9rem">
                        {{ material.id }}
                    </td>

                    <td class="text-cyan-900 font-normal">
                        {{ material.name }}
                    </td>

                    <td class="nyk-materials-category w-10rem text-center">
                        <p-badge
                            [value]="material.category.name"
                            severity="warning"></p-badge>
                    </td>

                    <td
                        class="nyk-materials-extra text-cyan-900 font-normal w-5rem text-center">
                        {{ material?.extraPrice }} Ft
                    </td>

                    <td class="nyk-materials-is-available w-4rem text-center">
                        <div class="is-available">
                            <p-badge
                                [value]="material.isAvailable ? 'igen' : 'nem'"
                                [severity]="
                                    material.isAvailable ? 'success' : 'danger'
                                ">
                            </p-badge>
                        </div>
                    </td>

                    <td>
                        <div class="flex flex-row">
                            <button
                                [routerLink]="[
                                    '/admin/materials/edit',
                                    material.id
                                ]"
                                pButton
                                pRipple
                                pTooltip="Minta módosítása"
                                tooltipPosition="left"
                                type="button"
                                icon="pi pi-cog"
                                class="p-button p-button-warning p-button mr-1"></button>

                            <button
                                (click)="onDeleteMaterial(material)"
                                pButton
                                pRipple
                                pTooltip="Minta törlése"
                                tooltipPosition="left"
                                type="button"
                                icon="pi pi-times"
                                class="p-button p-button-danger p-button"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" class="text-center text-800 text-4xl">
                        Nem található minta
                        <p-button
                            icon="pi pi-plus"
                            label="Minta hozzáadása"
                            styleClass="p-button p-button-success block mx-auto mt-2"
                            routerLink="/admin/materials/add">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
