<i class="pi pi-times close" mat-dialog-close></i>
<h2 mat-dialog-title>Termék hozzáadása</h2>

<mat-dialog-content>
  <form [formGroup]="addProductForm">
    <div class="form-group">
      <label for="name" class="block font-medium text-900 mb-2">
        Termék neve
      </label>

      <input id="name" type="text" formControlName="name" pInputText />
    </div>

    <div class="form-group">
      <label for="category" class="block font-medium text-900 mb-2">
        Termék kategória
      </label>

      <p-dropdown
        id="category"
        formControlName="categoryId"
        [options]="categories$ | async"
        placeholder="Válassz egy kategóriát"
        optionValue="id"
        optionLabel="name">
      </p-dropdown>
    </div>

    <div class="form-group">
      <label for="shortDescription" class="block font-medium text-900 mb-2">
        Termék rövid leírás
      </label>

      <input
        id="shortDescription"
        formControlName="shortDescription"
        type="text"
        pInputText />
    </div>

    <div class="form-group">
      <label for="description" class="block font-medium text-900 mb-2">
        Termék leírás
      </label>

      <textarea
        id="description"
        formControlName="description"
        type="text"
        pInputTextarea
        rows="5"
        [autoResize]="true">
      </textarea>
    </div>

    <div class="form-group">
      <label for="isCustom" class="block font-medium text-900 mb-2">
        Egyedi termék?
      </label>

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isCustom"
            name="isCustom"
            [value]="false"
            inputId="isCustom">
          </p-radioButton>
          <label for="ingredient1" class="ml-2">Nem</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isCustom"
            name="isCustom"
            [value]="true"
            inputId="isCustom">
          </p-radioButton>
          <label for="ingredient2" class="ml-2">Igen</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label
        for="isNameEmbroideryAvailable"
        class="block font-medium text-900 mb-2">
        Név hímzés elérhető?
      </label>

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isNameEmbroideryAvailable"
            name="isNameEmbroideryAvailable"
            [value]="false"
            inputId="isNameEmbroideryAvailable">
          </p-radioButton>
          <label for="isNameEmbroideryAvailable" class="ml-2">Nem</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            formControlName="isNameEmbroideryAvailable"
            name="isNameEmbroideryAvailable"
            [value]="true"
            inputId="isNameEmbroideryAvailable">
          </p-radioButton>
          <label for="isNameEmbroideryAvailable" class="ml-2">Igen</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="selectedQuestion" class="block font-medium text-900 mb-2">
        Kérdések
      </label>

      <div class="questions-wrapper">
        <p-dropdown
          id="selectedQuestion"
          formControlName="selectedQuestion"
          [options]="questions"
          placeholder="Válassz egy kérdést"
          optionValue="id"
          optionLabel="questionName"
          styleClass="mr-2">
        </p-dropdown>

        <p-button
          icon="pi pi-plus"
          styleClass="p-button-success"
          pTooltip="Kérdés hozzáadása"
          tooltipPosition="bottom"
          (click)="addQuestion()"></p-button>
      </div>
    </div>

    <ng-container *ngIf="selectedQuestions.length">
      <div class="form-group w-6">
        <h3 class="font-medium text-blue-500 mb-1">Választott kérdések</h3>

        <div
          class="option-wrapper mb-2"
          *ngFor="let question of selectedQuestions; let i = index">
          <p class="block font-medium text-800 mb-1">
            {{ i + 1 }}. {{ question.questionName }}
          </p>

          <p-button
            icon="pi pi-times"
            styleClass="p-button-danger"
            (click)="deleteQuestion(question.id, i)">
          </p-button>
        </div>
      </div>
    </ng-container>

    <div class="form-group">
      <label for="images" class="block font-medium text-900 mb-2">
        Termék képek (az első kép lesz mindig a nagy kép)
      </label>

      <p-button
        icon="pi pi-image"
        styleClass="p-button p-button-secondary"
        (click)="imagePicker.click()">
      </p-button>

      <input
        id="images"
        multiple
        type="file"
        class="hidden"
        #imagePicker
        (change)="onImagePicked($event)" />

      <div class="flex-row images-preview">
        <img
          class="w-2 m-3 inline"
          *ngFor="let image of imagesPreview"
          [src]="image"
          [alt]="addProductForm.value.name" />
      </div>

      <p-button
        *ngIf="imagesPreview.length"
        icon="pi pi-times"
        styleClass="p-button-danger"
        (click)="onImageClear()">
      </p-button>
    </div>

    <div class="form-group">
      <label for="price" class="block font-medium text-900 mb-2">
        Termék ára
      </label>

      <input id="price" formControlName="price" type="text" pInputText />
    </div>

    <div class="form-group">
      <label for="discountedPrice" class="block font-medium text-900 mb-2">
        Termék akciós ára
      </label>

      <input
        id="discountedPrice"
        formControlName="discountedPrice"
        type="text"
        pInputText />
    </div>

    <div class="form-group">
      <label for="stock" class="block font-medium text-900 mb-2">
        Készleten
      </label>

      <input id="stock" formControlName="stock" type="text" pInputText />
    </div>

    <div class="flex justify-content-end"></div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-content-end">
  <p-button
    label="Mégsem"
    styleClass="p-button p-button-danger mr-4"
    mat-dialog-close>
  </p-button>

  <p-button
    label="Hozzáadás"
    styleClass="p-button"
    [disabled]="!addProductForm.valid || !addProductForm.dirty"
    (click)="onAddProduct()">
  </p-button>
</mat-dialog-actions>
