.images-preview {
  width: 700px;
}

.questions-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  p-dropdown {
    width: 100%;
  }
}

.option-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
