<ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="inspirations$ | async as inspirations; else loading">
        <div class="nyk-inspirations-header">Összes inspiráció</div>

        <p-table
            #table
            styleClass="p-datatable-gridlines"
            [value]="inspirations"
            [globalFilterFields]="['id', 'name', 'category.name']"
            [paginator]="true"
            [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]">
            <ng-template pTemplate="caption">
                <div class="nyk-inspirations-actions">
                    <p-button
                        icon="pi pi-plus"
                        label="Inspiráció hozzáadás"
                        styleClass="p-button p-button-success"
                        routerLink="/admin/inspirations/add">
                    </p-button>

                    <span class="p-input-icon-left ml-auto w-full md:w-6">
                        <i class="pi pi-search"></i>

                        <input
                            pInputText
                            pTooltip="Kereshető mezők: Azonosító, Név, Kategória"
                            tooltipPosition="bottom"
                            class="w-full"
                            type="text"
                            (input)="
                                applyFilterGlobal($event, 'contains', table)
                            "
                            placeholder="Keresés" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>Kép</th>

                    <th class="nyk-inspirations-id">Azonosító</th>

                    <th>Név</th>

                    <th class="nyk-inspirations-category">Kategória</th>

                    <th class="w-3rem">Opciók</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-inspiration let-i="rowIndex">
                <tr>
                    <td class="w-1">
                        <img
                            class="hidden"
                            [src]="inspiration.image"
                            [alt]="inspiration.name"
                            (load)="imageLoaded(i)" />

                        <p-image
                            *ngIf="imageLoadedStatus[i]"
                            [src]="inspiration.image"
                            [alt]="inspiration.name"
                            [preview]="true">
                        </p-image>

                        <p-skeleton
                            *ngIf="!imageLoadedStatus[i]"
                            styleClass="skeleton"></p-skeleton>
                    </td>

                    <td class="nyk-inspirations-id text-primary w-9rem">
                        {{ inspiration.id }}
                    </td>

                    <td class="text-cyan-900">{{ inspiration.name }}</td>

                    <td class="nyk-inspirations-category text-cyan-900 w-9rem">
                        <p-badge [value]="inspiration.category.name"></p-badge>
                    </td>

                    <td>
                        <div class="flex flex-row">
                            <button
                                [routerLink]="[
                                    '/admin/inspirations/edit',
                                    inspiration.id
                                ]"
                                pButton
                                pRipple
                                pTooltip="Inspiráció módosítása"
                                tooltipPosition="left"
                                type="button"
                                icon="pi pi-cog"
                                class="p-button p-button-warning p-button mr-1"></button>

                            <button
                                (click)="onDeleteInspiration(inspiration)"
                                pButton
                                pRipple
                                pTooltip="Inspiráció törlése"
                                tooltipPosition="left"
                                type="button"
                                icon="pi pi-times"
                                class="p-button p-button-danger p-button"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" class="text-center text-800 text-4xl">
                        Nem található inspiráció

                        <p-button
                            icon="pi pi-plus"
                            label="Inspiráció hozzáadás"
                            styleClass="p-button p-button-success block mx-auto mt-2"
                            routerLink="/admin/inspirations/add">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
