@import 'mixins';

.nyk-inspirations {
    display: block;

    &-header {
        margin-bottom: 20px;
        color: var(--text-color);
        font-size: var(--font-size-l);
        font-weight: 700;

        @include respond(sm) {
            font-size: var(--font-size-m);
        }
    }

    &-actions {
        display: flex;

        @include respond(sm) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &-th-wrapper {
        display: flex;
    }

    &-id,
    &-category {
        @include respond(sm) {
            display: none;
        }
    }
}
