<i class="pi pi-times close" mat-dialog-close></i>
<h2 mat-dialog-title>Inspiráció módosítása</h2>

<mat-dialog-content>
  <span class="text-sm text-blue-500">
    Hozzáadva: {{ data.createdAt | date : "yyy, MMM dd '-' hh:mm a" }}
  </span>

  <span class="text-sm text-green-500 block">
    Utoljára módosítva: {{ data.updatedAt | date : "yyy, MMM dd '-' hh:mm a" }}
  </span>

  <p-divider></p-divider>

  <form class="flex-auto p-fluid" [formGroup]="editInspirationForm">
    <div class="form-group">
      <label for="name" class="block font-medium text-blue-500 mb-1 text-lg">
        Inspiráció neve
      </label>

      <input id="name" type="text" formControlName="name" pInputText />
    </div>

    <div class="form-group" *ngIf="categories$ | async as categories">
      <label
        for="categoryId"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Inspiráció kategóriája
      </label>

      <p-dropdown
        id="categoryId"
        formControlName="categoryId"
        placeholder="Válassz egy kategóriát"
        [options]="categories"
        optionValue="id"
        optionLabel="name">
      </p-dropdown>
    </div>

    <div class="form-group">
      <label class="block font-medium text-blue-500 mb-1 text-lg">
        Inspiráció képe
      </label>

      <p-button
        icon="pi pi-image"
        styleClass="p-button p-button-secondary"
        (click)="imagePicker.click()">
      </p-button>

      <input
        type="file"
        class="hidden"
        #imagePicker
        (change)="onImagePicked($event)" />

      <img
        *ngIf="imagePreview"
        class="my-3 image-preview"
        [src]="imagePreview"
        alt="Inspiration" />

      <button
        *ngIf="imagePreview"
        pButton
        pRipple
        pTooltip="Kép törlése"
        tooltipPosition="bottom"
        (click)="onImageClear(imagePicker)"
        type="button"
        icon="pi pi-times"
        class="p-button p-button-danger p-button"></button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-content-end">
  <p-button
    label="Mégsem"
    styleClass="p-button p-button-danger mr-4"
    mat-dialog-close>
  </p-button>

  <p-button
    label="Módosítás"
    styleClass="p-button w-auto"
    [disabled]="!editInspirationForm.valid || !editInspirationForm.dirty"
    (click)="onEditInspiration()">
  </p-button>
</mat-dialog-actions>
