<ng-container *ngIf="products">
  <p-carousel
    [value]="products"
    [circular]="true"
    [autoplayInterval]="10000"
    [showNavigators]="false"
    [showIndicators]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <h1 class="mhd-products-carousel-header heading-primary">{{ header }}</h1>
    </ng-template>

    <ng-template let-product pTemplate="item">
      <div class="mhd-products-carousel-item">
        <mhd-product-card [product]="product"></mhd-product-card>
      </div>
    </ng-template>
  </p-carousel>

  <button
    [routerLink]="path"
    class="mhd-products-carousel-button secondary-button">
    Mindet Megnézem
  </button>
</ng-container>
