@import 'mixins';

.mhd-products-carousel {
  @include section;
  display: block;

  &-header {
    margin-bottom: 20px;

    @include respond(sm) {
      margin-bottom: 12px;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
  }

  &-button {
    margin-top: 20px;
  }
}
