<div class="grid grid-nogutter text-800 my-3">
  <div
    class="col-12 md:col-6 p-4 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1"
        >Kapj kedvezményt ha szettben vásárolsz,</span
      >
      <div class="text-6xl text-primary font-bold mb-3">aktiváld most!</div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Ha aktiváltad a szettet utána nincs más dolgod mint összerakni egy
        nyuszkot és egy nyuszko szundikendőt vagy egy mackót és egy mackó
        szundikendőt és leadni a rendelésed, a kedvezmény a kosárban látható.
      </p>
      <button
        class="primary-button shadow-2"
        (click)="onActivateCoupon()"
        *ngIf="!coupon && isAuthenticated">
        Szett aktiválása
      </button>
      <button
        class="primary-button shadow-2"
        (click)="onActivateCoupon()"
        *ngIf="coupon"
        disabled>
        Már aktiváltad az akciót
      </button>
      <button
        routerLink="/login"
        class="primary-button shadow-2"
        *ngIf="!isAuthenticated">
        Előbb lépj be az aktiváláshoz
      </button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="../../../../assets/images/nyuszko-shop/menu/szettek-menu.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
  </div>
</div>
