@import 'mixins';

p {
  margin: 20px 0 120px;
  text-align: center;

  @include respond(sm) {
    margin: 20px 0 80px;
  }
}

.materials-carousel {
  margin: 120px 0;

  @include respond(sm) {
    margin: 80px 0;
  }
}

.primary-button {
  display: block;
  margin: 0 auto 120px;
  font-size: 18px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 40px;

  @include respond(sm) {
    width: 90%;
  }
}

.img {
  width: 40%;
  border-radius: 500px;
  aspect-ratio: 1 / 1;

  @include respond(sm) {
    width: 45%;
  }
}
