@import '../../../scss/mixins';

.paragraph-primary {
  width: 90%;
  margin: -120px auto 30px;
  text-align: center;
}

.primary-button {
  display: block;
  margin: 0 auto 150px;
  font-size: 18px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 50px;

  @include respond(sm) {
    width: 90%;
  }
}

.img {
  width: 40%;
  border-radius: 500px;
  aspect-ratio: 1 / 1;

  @include respond(sm) {
    width: 45%;
  }
}
