<main class="landing">
  <mhd-brands-menu></mhd-brands-menu>

  <mhd-products-carousel></mhd-products-carousel>

  <mhd-about-me></mhd-about-me>

  <div class="inspirations-carousel-wrapper">
    <mhd-carousel-with-heading-and-button
      [carouselData]="inspirationsCarouselData$ | async">
    </mhd-carousel-with-heading-and-button>

    <p class="paragraph-primary">
      Kérlek vedd figyelembe, hogy az egyedi tervezésű termékek elkészítési
      ideje 1-2 hét!
    </p>
  </div>

  <mhd-carousel-with-heading-and-button
    class="materials-carousel"
    [carouselData]="this.materialsCarouselData$ | async">
  </mhd-carousel-with-heading-and-button>

  <mhd-carousel-with-heading-and-button
    [carouselData]="theyAlreadyGotOneCarouselData">
  </mhd-carousel-with-heading-and-button>
</main>
