<main class="landing">
  <masni-handmade-dolls-landing-brands></masni-handmade-dolls-landing-brands>
  <masni-handmade-dolls-featured-products></masni-handmade-dolls-featured-products>
  <masni-handmade-dolls-landing-about-us></masni-handmade-dolls-landing-about-us>
  <masni-handmade-dolls-recent-news></masni-handmade-dolls-recent-news>
  <masni-handmade-dolls-carousel
    [images]="carouselImages"></masni-handmade-dolls-carousel>
  <masni-handmade-dolls-landing-contact-us></masni-handmade-dolls-landing-contact-us>
</main>
