<ng-container *ngIf="!isLoading; else loading">
    <div class="nyk-add-material-header">Minta hozzáadás</div>

    <form class="nyk-add-material-form" [formGroup]="addMaterialForm">
        <div class="form-group">
            <label for="name"> Minta neve </label>

            <input id="name" type="text" formControlName="name" pInputText />
        </div>

        <div class="form-group">
            <label for="category"> Minta kategóriája </label>

            <p-dropdown
                id="category"
                formControlName="category"
                placeholder="Válassz egy kategóriát"
                [options]="categories$ | async"
                optionValue="id"
                optionLabel="name"
                styleClass="w-full">
            </p-dropdown>
        </div>

        <div class="form-group">
            <label for="extraPrice"> Minta extra ára </label>

            <p-inputNumber
                [showButtons]="true"
                id="extraPrice"
                formControlName="extraPrice"
                mode="currency"
                currency="HUF"
                styleClass="w-full"
                [min]="0" />
        </div>

        <div class="form-group">
            <label for="stock"> Rendelhető? </label>

            <p-inputSwitch formControlName="isAvailable"></p-inputSwitch>
        </div>

        <div class="form-group">
            <label for="image"> Minta képe </label>

            <p-button
                *ngIf="!imagePreview"
                [raised]="true"
                icon="pi pi-image"
                styleClass="p-button p-button-secondary"
                (click)="imagePicker.click()">
            </p-button>

            <p-button
                *ngIf="imagePreview"
                [raised]="true"
                icon="pi pi-times"
                pTooltip="Kép törlése"
                tooltipPosition="bottom"
                severity="danger"
                styleClass="mb-2"
                (click)="onImageClear(imagePicker)">
            </p-button>

            <input
                id="imagePicker"
                type="file"
                class="hidden"
                #imagePicker
                (change)="onImagePicked($event)" />

            <img
                *ngIf="imagePreview"
                class="image-preview border-round"
                [src]="imagePreview"
                alt="Kategória" />

            <img
                *ngIf="!imagePreview"
                class="mt-2 image-preview border-round"
                src="../../../../../../assets/images/no-image.png"
                alt="Kategória" />
        </div>

        <p-button
            [raised]="true"
            type="submit"
            label="Hozzáadás"
            styleClass="p-button w-full"
            [disabled]="!addMaterialForm.valid || !addMaterialForm.dirty"
            (click)="onAddMaterial()">
        </p-button>
    </form>
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
