<div *ngIf="!isLoading; else loading" class="nyk-signup-container">
    <div class="nyk-signup-header heading-primary">Regisztráció</div>

    <div class="nyk-signup-sub-header paragraph-primary">
        Már regisztráltál?
        <a routerLink="/auth/signin"> Lépj be! </a>
    </div>

    <button (click)="logout()">logout</button>

    <asl-google-signin-button
        type="standard"
        size="large"
        shape="rectangular"
        locale="HU"
        text="signup_with">
    </asl-google-signin-button>

    <div class="nyk-signup-or-container paragraph-primary">Vagy</div>

    <form
        class="nyk-signup-form grid formgrid p-fluid"
        [formGroup]="signupForm"
        (submit)="onSignup()">
        <div class="form-group col-12">
            <label for="name">Név</label>

            <input id="name" type="text" pInputText formControlName="name" />

            <small *ngIf="isFormFieldValid(signupForm, 'name')" class="form-helper">
                Kérlek add meg a neved
            </small>
        </div>

        <div class="form-group col-12">
            <label for="email">Email cím</label>

            <input id="email" type="email" pInputText formControlName="email" />

            <small *ngIf="isFormFieldValid(signupForm, 'email')" class="form-helper">
                Kérlek add meg az email címed
            </small>
        </div>

        <div class="form-group col-12">
            <label for="phone">Telefonszám</label>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">+36</span>

                <input id="phone" type="string" pInputText formControlName="phone" />
            </div>

            <small *ngIf="isFormFieldValid(signupForm, 'phone')" class="form-helper">
                Kérlek add meg a telefonszámod <br />
                Például: 301234567
            </small>
        </div>

        <div class="form-group col-12">
            <label for="password"> Jelszó </label>

            <p-password
                inputId="password"
                formControlName="password"
                [feedback]="false"
                [toggleMask]="true">
            </p-password>

            <small *ngIf="isFormFieldValid(signupForm, 'password')" class="form-helper">
                Kérlek adj meg egy jelszót <br />
                Minimum 8 karakter
            </small>
        </div>

        <div class="form-group col-12">
            <label for="passwordConfirm"> Jelszó megerősítése </label>

            <p-password
                inputId="passwordConfirm"
                formControlName="passwordConfirm"
                [feedback]="false"
                [toggleMask]="true">
            </p-password>

            <small *ngIf="arePasswordsMatches()" class="form-helper">
                Megadott jelszó nem egyezik
            </small>
        </div>

        <div class="col-12">
            <p class="nyk-signup-form-shipping-adress heading-secondary">Szállítási cím</p>
        </div>

        <div class="nyk-signup-form-shipping-adress-wrapper" formGroupName="shippingAddress">
            <div class="form-group col-12 md:col-6">
                <label for="postcode">Irányítószám</label>

                <input
                    id="postcode"
                    type="number"
                    pInputText
                    formControlName="postcode"
                    (blur)="onShippingPostcodeBlur($event)" />

                <small
                    *ngIf="isFormFieldValid(signupForm, 'shippingAddress.postcode')"
                    class="form-helper">
                    Kérlek add meg az irányítószámot
                </small>
            </div>

            <div class="form-group col-12 md:col-6">
                <label for="shippingStreet">Utca/házszám/épület</label>

                <input id="street" type="text" pInputText formControlName="street" />

                <small
                    *ngIf="isFormFieldValid(signupForm, 'shippingAddress.street')"
                    class="form-helper">
                    Kérlek add meg a címed
                </small>
            </div>

            <div class="form-group col-12 md:col-6">
                <label for="city">Város</label>

                <input id="city" type="text" pInputText formControlName="city" />

                <small
                    *ngIf="isFormFieldValid(signupForm, 'shippingAddress.city')"
                    class="form-helper">
                    Kérlek add meg a várost
                </small>
            </div>

            <div class="form-group col-12 md:col-6">
                <label for="county">Megye</label>

                <input id="county" type="text" pInputText formControlName="county" />

                <small
                    *ngIf="isFormFieldValid(signupForm, 'shippingAddress.county')"
                    class="form-helper">
                    Kérlek add meg a megyét
                </small>
            </div>
        </div>

        <div class="col-12">
            <div class="nyk-signup-form-billing-address-header-wrapper">
                <p class="nyk-signup-form-billing-address heading-secondary">Számlázási cím</p>

                <p-button
                    icon="pi pi-copy"
                    [raised]="true"
                    size="small"
                    [disabled]="!isCopyShippingAddressAvailable()"
                    (click)="onCopyShippingAddress()"></p-button>
            </div>
        </div>

        <div class="nyk-signup-form-billing-address-wrapper" formGroupName="billingAddress">
            <div class="form-group col-12 md:col-6">
                <label for="postcode"> Irányítószám </label>

                <input
                    id="postcode"
                    type="number"
                    pInputText
                    formControlName="postcode"
                    (blur)="onBillingPostcodeBlur($event)" />

                <small
                    *ngIf="isFormFieldValid(signupForm, 'billingAddress.postcode')"
                    class="form-helper">
                    Kérlek add meg az irányítószámot
                </small>
            </div>

            <div class="form-group col-12 md:col-6">
                <label for="street"> Utca/házszám/épület </label>

                <input id="street" type="text" pInputText formControlName="street" />

                <small
                    *ngIf="isFormFieldValid(signupForm, 'billingAddress.street')"
                    class="form-helper">
                    Kérlek add meg a címed
                </small>
            </div>

            <div class="form-group col-12 md:col-6">
                <label for="city">Város</label>

                <input id="city" type="text" pInputText formControlName="city" />

                <small
                    *ngIf="isFormFieldValid(signupForm, 'billingAddress.city')"
                    class="form-helper">
                    Kérlek add meg a várost
                </small>
            </div>

            <div class="form-group col-12 md:col-6">
                <label for="county">Megye</label>

                <input id="county" type="text" pInputText formControlName="county" />

                <small
                    *ngIf="isFormFieldValid(signupForm, 'billingAddress.county')"
                    class="form-helper">
                    Kérlek add meg a megyét
                </small>
            </div>
        </div>

        <div class="col-12">
            <div class="nyk-signup-form-bottom-actions">
                <div class="form-group">
                    <div class="flex align-items-center">
                        <p-inputSwitch inputId="privacy" formControlName="privacy"></p-inputSwitch>

                        <label class="ml-2 text-900">
                            Elfogadom az
                            <a
                                class="text-primary underline"
                                routerLink="/legal/terms-and-conditions">
                                Általános Szerződési Feltételeket
                            </a>
                            és elolvastam az
                            <a class="text-primary underline" routerLink="/legal/privacy-policy">
                                Adatkezelési Tájékoztatót
                            </a>
                            .
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="flex align-items-center">
                        <p-inputSwitch
                            inputId="subscribed"
                            formControlName="subscribed"></p-inputSwitch>

                        <label for="subscribed" class="ml-2 text-900">
                            Szeretnék feliratkozni a hírlevélre
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <p-button
                label="Regisztráció"
                severity="secondary"
                icon="pi pi-user"
                styleClass="w-full"
                type="submit"
                [disabled]="!signupForm.valid"
                [raised]="true">
            </p-button>
        </div>
    </form>
</div>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
