<div class="nyk-signup-container">
    <div class="nyk-signup-header heading-primary">Regisztráció</div>

    <div class="nyk-signup-sub-header">
        Már regisztráltál?
        <a routerLink="/auth/login"> Lépj be! </a>
    </div>

    <form
        class="nyk-signup-form grid formgrid p-fluid"
        [formGroup]="signupForm"
        (submit)="onSignup()">
        <div class="form-group col-12">
            <label for="name"> Név </label>

            <input
                id="name"
                type="text"
                pInputText
                formControlName="name"
                placeholder="Kérlek add meg a neved." />
            <p
                class="form-helper"
                *ngIf="
                    signupForm.get('name').invalid &&
                    signupForm.get('name').dirty
                ">
                Kérlek add meg a neved.
            </p>
        </div>

        <div class="form-group col-12">
            <label for="email"> Email cím </label>

            <input
                id="email"
                type="email"
                pInputText
                formControlName="email"
                placeholder="Kérlek add meg az e-mail címed."
                autocomplete="username" />

            <p
                class="form-helper"
                *ngIf="
                    signupForm.get('email').invalid &&
                    signupForm.get('email').dirty
                ">
                Kérlek add meg az email címed.
            </p>
        </div>

        <div class="form-group col-12">
            <label for="phone"> Telefonszám </label>

            <input
                id="phone"
                type="string"
                pInputText
                formControlName="phone"
                placeholder="Kérlek add meg a telefonszámod." />

            <p
                class="form-helper"
                *ngIf="
                    signupForm.get('phone').invalid &&
                    signupForm.get('phone').dirty
                ">
                Kérlek add meg a telefonszámod. <br />
                Például: 06301234567
            </p>
        </div>

        <div class="form-group col-12">
            <label for="password"> Jelszó </label>

            <input
                id="password"
                type="password"
                pInputText
                formControlName="password"
                placeholder="Kérlek adj meg egy jelszót. Minimum 8 karakter."
                autocomplete="new-password" />

            <p
                class="form-helper"
                *ngIf="
                    signupForm.get('password').invalid &&
                    signupForm.get('password').dirty
                ">
                Kérlek adj meg egy jelszót. <br />
                Minimum 8 karakter.
            </p>
        </div>

        <div class="form-group col-12">
            <label for="passwordConfirm"> Jelszó megerősítése </label>

            <input
                id="passwordConfirm"
                type="password"
                pInputText
                formControlName="passwordConfirm"
                placeholder="Kérlek erősítsd meg a jelszavad."
                autocomplete="new-password" />

            <p
                class="form-helper"
                *ngIf="
                    signupForm.get('passwordConfirm').dirty &&
                    signupForm.get('password').value !==
                        signupForm.get('passwordConfirm').value
                ">
                Megadott jelszó nem egyezik
            </p>
        </div>

        <div class="col-12">
            <p class="nyk-signup-form-delivery-address heading-secondary">
                Szállítási cím
            </p>
        </div>

        <div class="form-group col-12 md:col-6">
            <label for="shippingPostcode"> Irányítószám </label>

            <input
                id="shippingPostcode"
                type="number"
                pInputText
                formControlName="shippingPostcode"
                (blur)="onShippingPostcodeBlur($event)" />

            <p
                class="form-helper"
                *ngIf="
                    signupForm.get('shippingPostcode').invalid &&
                    signupForm.get('shippingPostcode').dirty
                ">
                Kérlek add meg az irányítószámot.
            </p>
        </div>

        <div class="form-group col-12 md:col-6">
            <label for="shippingStreet"> Utca/házszám/épület </label>

            <input
                id="shippingStreet"
                type="text"
                pInputText
                formControlName="shippingStreet" />

            <p
                class="form-helper"
                *ngIf="
                    !signupForm.get('shippingStreet').valid &&
                    signupForm.get('shippingStreet').dirty
                ">
                Kérlek add meg a címed.
            </p>
        </div>

        <div class="form-group col-12 md:col-6">
            <label for="shippingCity">Város</label>

            <input
                id="shippingCity"
                type="text"
                pInputText
                formControlName="shippingCity" />

            <p
                class="form-helper"
                *ngIf="
                    !signupForm.get('shippingCity').valid &&
                    signupForm.get('shippingCity').dirty
                ">
                Kérlek add meg a várost.
            </p>
        </div>

        <div class="form-group col-12 md:col-6">
            <label for="shippingCounty">Megye</label>

            <input
                id="shippingCounty"
                type="text"
                pInputText
                formControlName="shippingCounty" />

            <p
                class="form-helper"
                *ngIf="
                    !signupForm.get('shippingCounty').valid &&
                    signupForm.get('shippingCounty').dirty
                ">
                Kérlek add meg a megyét.
            </p>
        </div>

        <div class="col-12">
            <p class="nyk-signup-form-billing-address heading-secondary">
                Számlázási cím
            </p>
        </div>

        <div class="form-group col-12 md:col-6">
            <label for="billingPostcode"> Irányítószám </label>

            <input
                id="billingPostcode"
                type="number"
                pInputText
                formControlName="billingPostcode"
                (blur)="onBillingPostcodeBlur($event)" />

            <p
                class="form-helper"
                *ngIf="
                    !signupForm.get('billingPostcode').valid &&
                    signupForm.get('billingPostcode').dirty
                ">
                Kérlek add meg az irányítószámot.
            </p>
        </div>

        <div class="form-group col-12 md:col-6">
            <label for="billingStreet"> Utca/házszám/épület </label>

            <input
                id="billingStreet"
                type="text"
                pInputText
                formControlName="billingStreet" />

            <p
                class="form-helper"
                *ngIf="
                    !signupForm.get('billingStreet').valid &&
                    signupForm.get('billingStreet').dirty
                ">
                Kérlek add meg a címed.
            </p>
        </div>

        <div class="form-group col-12 md:col-6">
            <label for="billingCity">Város</label>

            <input
                id="billingCity"
                type="text"
                pInputText
                formControlName="billingCity" />

            <p
                class="form-helper"
                *ngIf="
                    !signupForm.get('billingCity').valid &&
                    signupForm.get('billingCity').dirty
                ">
                Kérlek add meg a várost.
            </p>
        </div>

        <div class="form-group col-12 md:col-6">
            <label for="billingCounty">Megye</label>

            <input
                id="billingCounty"
                type="text"
                pInputText
                formControlName="billingCounty" />

            <p
                class="form-helper"
                *ngIf="
                    !signupForm.get('billingCounty').valid &&
                    signupForm.get('billingCounty').dirty
                ">
                Kérlek add meg a megyét.
            </p>
        </div>

        <div class="col-12">
            <div class="nyk-signup-form-bottom-actions">
                <div class="form-group">
                    <div class="flex align-items-center">
                        <p-inputSwitch
                            inputId="privacy"
                            formControlName="privacy"></p-inputSwitch>

                        <label class="ml-2 text-900">
                            Elfogadom az
                            <a
                                class="text-primary underline"
                                routerLink="/legal/terms-and-conditions">
                                Általános Szerződési Feltételeket
                            </a>
                            és elolvastam az
                            <a
                                class="text-primary underline"
                                routerLink="/legal/privacy-policy">
                                Adatkezelési Tájékoztatót
                            </a>
                            .
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="flex align-items-center">
                        <p-inputSwitch
                            inputId="subscribed"
                            formControlName="subscribed"></p-inputSwitch>

                        <label for="subscribed" class="ml-2 text-900">
                            Szeretnék feliratkozni a hírlevélre.
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <button
                *ngIf="!isLoading; else loading"
                type="submit"
                class="primary-button w-full"
                [disabled]="!signupForm.valid">
                Regisztráció
            </button>

            <ng-template #loading>
                <nyk-spinner></nyk-spinner>
            </ng-template>
        </div>
    </form>
</div>
