<i class="pi pi-times close" mat-dialog-close></i>
<h2 mat-dialog-title>Inspiráció hozzáadása</h2>

<mat-dialog-content>
  <form class="flex-auto p-fluid" [formGroup]="addInspirationForm">
    <div class="form-group">
      <label for="name" class="block font-medium text-900 mb-2">
        Inspiráció neve
      </label>

      <input id="name" type="text" formControlName="name" pInputText />
    </div>

    <div class="form-group" *ngIf="categories$ | async as categories">
      <label for="category" class="block font-medium text-900 mb-2">
        Inspiráció kategóriája
      </label>

      <p-dropdown
        id="category"
        formControlName="categoryId"
        placeholder="Válassz egy kategóriát"
        [options]="categories"
        optionValue="id"
        optionLabel="name">
      </p-dropdown>
    </div>

    <div class="form-group">
      <label class="block font-medium text-900 mb-2"> Inspiráció képe </label>

      <p-button
        icon="pi pi-image"
        styleClass="p-button p-button-secondary"
        (click)="imagePicker.click()">
      </p-button>

      <input
        type="file"
        class="hidden"
        #imagePicker
        (change)="onImagePicked($event)" />

      <img
        *ngIf="imagePreview"
        class="my-3 image-preview"
        [src]="imagePreview"
        alt="Inspiration" />

      <button
        *ngIf="imagePreview"
        pButton
        pRipple
        pTooltip="Kép törlése"
        tooltipPosition="bottom"
        (click)="onImageClear(imagePicker)"
        type="button"
        icon="pi pi-times"
        class="p-button p-button-danger p-button"></button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-content-end">
  <p-button
    label="Mégsem"
    styleClass="p-button p-button-danger mr-4"
    mat-dialog-close>
  </p-button>

  <p-button
    label="Hozzáadás"
    styleClass="p-button w-auto"
    [disabled]="!addInspirationForm.valid"
    (click)="onAddInspiration()">
  </p-button>
</mat-dialog-actions>
