<div *ngIf="!isLoading; else loading" class="nyk-forgot-password-container">
    <ng-container *ngIf="!isEmailSent; else emailSentTemplate">
        <div class="nyk-forgot-password-header heading-primary">Elfelejtett jelszó</div>

        <span class="nyk-forgot-password-sub-header paragraph-primary">
            Az új jelszó beállításához add meg a regisztrált email címed és kövesd az emailben
            kapott lépéseket
        </span>

        <form
            class="nyk-forgot-password-form"
            [formGroup]="forgotPasswordForm"
            (submit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>

                <input
                    id="email"
                    type="email"
                    placeholder="Kérlek add meg az email címed"
                    pInputText
                    class="w-full"
                    formControlName="email" />
                <p class="form-helper" *ngIf="isFormFieldValid(forgotPasswordForm, 'email')">
                    Kérlek add meg az email címed.
                </p>
            </div>

            <p-button
                label="Új jelszó kérése"
                severity="secondary"
                icon="pi pi-lock-open"
                styleClass="w-full"
                type="submit"
                [disabled]="!forgotPasswordForm.valid"
                [raised]="true">
            </p-button>
        </form>
    </ng-container>

    <ng-template #emailSentTemplate>
        <div class="nyk-forgot-password-email-sent">
            <div class="heading-primary">Az emailt elküldtük!</div>

            <span class="paragraph-primary text-center">
                Kövesd az emailben leírtakat az új jelszó beállításához. Elképzelhető, hogy a spam
                mappába került az email.
            </span>

            <p-button
                label="Vissza a főoldalra"
                severity="secondary"
                icon="pi pi-chevron-left"
                styleClass="w-full"
                type="submit"
                [raised]="true"
                routerLink="/">
            </p-button>
        </div>
    </ng-template>
</div>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
