<div class="forgot-password">
  <div class="surface-card p-4 shadow-2 border-round">
    <div class="text-center mb-5" *ngIf="!isEmailSent">
      <div class="heading-primary mb-3">Elfelejtett jelszó</div>
      <span class="text-600 font-medium line-height-3">
        Add meg a regisztrált email címed és kövesd az emailben kapott
        lépéseket.
      </span>
    </div>

    <form
      (submit)="onSubmit()"
      [formGroup]="forgotPasswordForm"
      *ngIf="!isEmailSent">
      <div class="form-group">
        <label for="email" class="block text-900 font-medium mb-2">Email</label>

        <input
          id="email"
          type="email"
          placeholder="Email cím"
          pInputText
          class="w-full"
          formControlName="email" />
        <p
          class="form-helper"
          *ngIf="
            !forgotPasswordForm.get('email').valid &&
            forgotPasswordForm.get('email').dirty
          ">
          Kérlek add meg az email címed.
        </p>
      </div>

      <button
        class="primary-button w-full"
        type="submit"
        [disabled]="!forgotPasswordForm.valid">
        Új jelszó kérése
      </button>
    </form>

    <div class="text-center mb-5" *ngIf="isEmailSent">
      <div class="heading-primary mb-3">Az emailt elküldtük!</div>
      <span class="text-600 font-medium line-height-3">
        Kövesd az emailben leírtakat az új jelszó beállításához. Elképzelhető,
        hogy a spam mappába került az email.
      </span>
    </div>
  </div>
</div>
