<i class="pi pi-times close" mat-dialog-close></i>
<h2 mat-dialog-title>Minta hozzáadás</h2>

<mat-dialog-content>
  <form class="flex-auto p-fluid" [formGroup]="addMaterialForm">
    <div class="form-group">
      <label for="name" class="block font-medium text-blue-500 mb-1 text-lg">
        Minta neve
      </label>

      <input id="name" type="text" formControlName="name" pInputText />
    </div>

    <div class="form-group" *ngIf="categories$ | async as categories">
      <label
        for="category"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Minta kategóriája
      </label>

      <p-dropdown
        id="category"
        formControlName="category"
        placeholder="Válassz egy kategóriát"
        [options]="categories"
        optionValue="id"
        optionLabel="name">
      </p-dropdown>
    </div>

    <div class="form-group">
      <label
        for="extraPrice"
        class="block font-medium text-blue-500 mb-1 text-lg">
        Minta extra ára
      </label>

      <input
        id="extraPrice"
        formControlName="extraPrice"
        type="number"
        pInputText />
    </div>

    <div class="form-group">
      <label for="stock" class="block font-medium text-blue-500 mb-1 text-lg">
        Rendelhető?
      </label>

      <div class="flex flex-wrap gap-3">
        <p-radioButton
          id="isAvailable"
          formControlName="isAvailable"
          [value]="true"
          label="Igen">
        </p-radioButton>

        <p-radioButton
          id="isAvailable"
          formControlName="isAvailable"
          [value]="false"
          label="Nem">
        </p-radioButton>
      </div>
    </div>

    <div class="form-group">
      <label for="image" class="block font-medium text-blue-500 mb-1 text-lg">
        Minta képe
      </label>

      <p-button
        icon="pi pi-image"
        styleClass="p-button p-button-secondary"
        (click)="imagePicker.click()">
      </p-button>

      <input
        id="image"
        type="file"
        class="hidden"
        #imagePicker
        (change)="onImagePicked($event)" />

      <img
        *ngIf="imagePreview"
        class="my-3 image-preview"
        [src]="imagePreview"
        [alt]="addMaterialForm.value.name" />

      <button
        *ngIf="imagePreview"
        pButton
        pRipple
        (click)="onImageClear(imagePicker)"
        type="button"
        icon="pi pi-times"
        class="p-button p-button-danger p-button"></button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-content-end">
  <p-button
    label="Mégsem"
    styleClass="p-button p-button-danger mr-4"
    mat-dialog-close>
  </p-button>

  <p-button
    label="Hozzáadás"
    styleClass="p-button w-auto"
    [disabled]="!addMaterialForm.valid"
    (click)="onAddMaterial()">
  </p-button>
</mat-dialog-actions>
