@import '../../../../../scss/mixins';

.about-us {
  margin: 0 auto 70px;
  width: 50%;

  @include respond(sm) {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto 10px;
  }
}

.container {
  text-align: center;

  @include respond(sm) {
    margin-bottom: 40px;
  }
}

.heading {
  margin: 0 auto 28px;

  @include respond(sm) {
    margin: 0 auto 20px;
  }
}

.accordion-container {
  margin-top: 12px;
  width: 100%;

  @include respond(sm) {
    margin-top: 10px;
  }
}

.accordion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  @include respond(sm) {
    flex-direction: column;
    padding: 8px;
  }
}

.link {
  font-size: 18px;
}

.img {
  width: 40%;
  border-radius: 500px;
  aspect-ratio: 1 / 1;

  @include respond(sm) {
    width: 100%;
    margin-top: 40px;
  }
}
