@import 'mixins';

.nyk-edit-product {
    display: block;

    @include respond(sm) {
        padding: 20px;
    }

    &-header {
        margin-bottom: 20px;
        padding-bottom: 10px;
        color: var(--text-color);
        font-size: var(--font-size-l);
        font-weight: 700;
        border-bottom: 1px solid var(--color-grey);

        @include respond(sm) {
            font-size: var(--font-size-m);
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-images-container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        overflow: hidden;

        &-preview {
            width: 200px;
            box-shadow: var(--shadow);
        }

        &:empty {
            display: none;
        }
    }

    &-image {
        width: 100px;
        cursor: move;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &-questions-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        .p-inputwrapper {
            width: 100% !important;
        }
    }

    &-option-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-history {
        @include respond(sm) {
            display: none;
        }
    }
}
