<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <img
        src="../../../../assets/images/logo-black.svg"
        alt="Logo"
        class="footer__logo" />
      <div class="footer__details">
        <p class="footer__address">
          <fa-icon
            class="footer__address__icon"
            [icon]="faLocationDot"></fa-icon>
          Szentes, Magyarország
        </p>
        <div class="footer__contact">
          <a href="tel:+36 30 123 45 78" class="footer__contact__phone"
            ><fa-icon
              class="footer__contact__phone__icon"
              [icon]="faPhone"></fa-icon>
            +36 30 123 45 78</a
          >
          <a href="mailto:test@test.hu" class="footer__contact__email"
            ><fa-icon
              class="footer__contact__email"
              [icon]="faEnvelope"></fa-icon>
            test@test.hu</a
          >
        </div>
        <div class="footer__socials">
          <a href="#" class="footer__socials__link"
            ><fa-icon
              class="footer__socials__link__icon"
              [icon]="faFacebook"></fa-icon
          ></a>
          <a href="#" class="footer__socials__link"
            ><fa-icon
              class="footer__socials__link__icon"
              [icon]="faInstagram"></fa-icon
          ></a>
        </div>
      </div>
    </div>
    <div class="footer__links">
      <a href="" class="footer__link underline-button"
        >Adatkezelési Tájékoztató</a
      >
      <a href="" class="footer__link underline-button">ÁSZF</a>
      <a href="" class="footer__link underline-button">Impresszum</a>
      <a href="" class="footer__link underline-button">Rólunk</a>
      <a href="" class="footer__link underline-button">Kapcsolat</a>
    </div>
  </div>
</footer>

<!-- 
 -->
