<footer class="footer px-4 md:px-6 lg:px-8">
  <div
    class="py-6 flex flex-column sm:flex-row align-items-center justify-content-between">
    <div class="flex flex-column sm:flex-row flex-nowap font-medium">
      <a
        pRipple
        class="cursor-pointer block text-700 py-2 px-3 transition-colors transition-duration-150 border-round hover:text-900"
        >Adatkezelési Tájékoztató</a
      >
      <a
        pRipple
        class="cursor-pointer block text-700 py-2 px-3 transition-colors transition-duration-150 border-round hover:text-900"
        >ÁSZF</a
      >
      <a
        pRipple
        class="cursor-pointer block text-700 py-2 px-3 transition-colors transition-duration-150 border-round hover:text-900"
        >Impresszum</a
      >
      <a
        pRipple
        class="cursor-pointer block text-700 py-2 px-3 transition-colors transition-duration-150 border-round hover:text-900"
        routerLink="/about-us"
        >Rólunk</a
      >
      <a
        pRipple
        class="cursor-pointer block text-700 py-2 px-3 transition-colors transition-duration-150 border-round hover:text-900"
        routerLink="/contact"
        >Kapcsolat</a
      >
    </div>
    <div class="mt-3 sm:mt-0">
      <img
        src="../../../../assets/images/nyuszko-kucko-logo.png"
        alt="Image"
        height="60" />
    </div>
  </div>
</footer>
