<div class="nyuszko-shop">
  <div class="carousel">
    <h1 class="carousel-heading heading-tertiary">Nyuszkó-Kuckó</h1>
    <mhd-carousel [images]="carouselImages"> </mhd-carousel>
  </div>
  <div class="container">
    <p class="paragraph-primary">
      Szeretném nektek bemutatni a Nyuszkó-Kuckót, ahol egyedi, akár kézzel
      hímzett névvel ellátott textil figurákat, pihe-puha szundikendőket
      találtok. Nagyon sok minta és szín közül válogathattok, hogy minden
      egyéniség megtalálja a hozzá leginkább illőt. Minden darab szeretettel és
      hatalmas odafigyeléssel készül. Termékeimet egészen újszülött kortól
      ajánlom, babák számára is teljesen biztonságos. Egy nyuszkó egészen óvodás
      korig hű társ lehet. A pihe-puha szundikendők pedig segítenek az
      elalvásban, csupa öröm hozzájuk bújni. Kiváló ajándék lehet babaváró
      bulira, keresztelőre, de újszülött fotózásokra is remek kellék lehet.
    </p>
  </div>
  <div class="menu">
    <div class="wrapper" *ngFor="let item of menuItems">
      <masni-handmade-dolls-menu-item [menuItemData]="item">
      </masni-handmade-dolls-menu-item>
    </div>
  </div>
</div>
