<p-card header="Inspiráció hozzáadás">
  <p-button
    routerLink="/admin/inspirations"
    icon="pi pi-arrow-left"
    styleClass="p-button-raised p-button-warning mb-5"></p-button>
  <div class="text-900 font-semibold text-lg mt-3"></div>
  <div class="flex gap-5 flex-column-reverse md:flex-row">
    <form
      class="flex-auto p-fluid"
      (submit)="onSubmit()"
      [formGroup]="inspirationForm">
      <div class="mb-4">
        <label for="bio" class="block font-medium text-900 mb-2"
          >Inspiráció képe</label
        >
        <p-button
          icon="pi pi-image"
          styleClass="p-button-raised p-button-secondary"
          (click)="imagePicker.click()"></p-button>
        <input
          type="file"
          class="hidden"
          #imagePicker
          (change)="onImagePicked($event)" />
        <img class="w-3 mt-3" *ngIf="imagePreview" [src]="imagePreview" />
      </div>

      <div>
        <p-button
          label="Hozzáadás"
          styleClass="p-button-raised w-auto"
          [disabled]="!inspirationForm.valid"
          type="submit"></p-button>
      </div>
    </form>
  </div>
</p-card>
