@use '../../../../scss/mixins' as *;

.navbar,
.sidebar {
  background-color: var(--color-primary);
}

.shopping-cart {
  position: relative;
}

.item-counter {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background-color: var(--color-red);
  color: white;
  border-radius: 500px;
  font-size: 12px;

  @include respond(sm) {
    top: 15px;
    left: 28px;
    transform: translateX(0);
  }
}
