<nav class="navbar">
  <img src="../../../../assets/images/logo-black.svg" alt="Logo" class="logo" />
  <div [@slideInAndOutAnimation]="isNavbarOpen" class="container">
    <button class="close-btn" (click)="toggleNavbar()">
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link underline-button" routerLink="/">Főoldal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          >Termékek <fa-icon [icon]="faChevronDown"></fa-icon
        ></a>
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a
              href=""
              class="dropdown-link underline-button"
              routerLink="nyuszko-shop"
              >Nyuszko kuckó</a
            >
          </li>
          <li class="dropdown-item">
            <a
              href="#"
              class="dropdown-link underline-button"
              routerLink="masni-shop"
              >Masni Handmade Dolls</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link underline-button" routerLink="samples">Minták</a>
      </li>
      <li class="nav-item">
        <a class="nav-link underline-button" routerLink="about-us">Rólam</a>
      </li>
      <li class="nav-item">
        <a class="nav-link underline-button" routerLink="contact">Kapcsolat</a>
      </li>
    </ul>
  </div>
  <div class="cart">
    <a href="#" class="cart-link"
      ><fa-icon [icon]="faCartShopping"></fa-icon
    ></a>
  </div>
  <button class="hamburger-btn" (click)="toggleNavbar()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
</nav>
