@import 'mixins';

.nyk-logs {
    &-header {
        margin-bottom: 20px;
        color: var(--text-color);
        font-size: var(--font-size-l);
        font-weight: 700;

        @include respond(sm) {
            font-size: var(--font-size-m);
        }
    }

    .p-badge {
        display: flex;
        align-items: center;
    }
}
