:root {
  --color-primary: #ffdccb;
  --color-secondary: #ffc8fb;
  --color-tertiary: #faedeb;

  --color-black: #191919;
  --color-white: #f2f2f2;
  --color-pure-white: #ffffff;

  --color-red: #e24c4c;
  --color-green: #00a000;
  --color-blue: #0000ff;
  --color-grey: #dedede;
  --color-dark-grey: #676767;
  --color-on-grey: #ff9058;

  --color-background: var(--color-pure-white);

  --color-overlay: rgba(0, 0, 0, 0.4);

  --shadow: 1px 2px 5px var(--color-overlay);
}
