.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 5px;
}

.form-helper {
  margin-top: 3px;
  color: var(--color-red);
  font-size: 14px;
}

.form-highlight {
  background-color: var(--color-primary);
  padding: 8px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
}
