// dialog close button
.close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 100;
  cursor: pointer;
}

// table component
.p-datatable-table {
  min-height: 50vh !important;
}

// skeleton
.skeleton {
  padding-bottom: 100% !important;
}

// dialog
.mat-mdc-dialog-title {
  border-bottom: 1px solid rgba($color-black, 0.2) !important;
}
.mat-mdc-dialog-actions {
  border-top: 1px solid rgba($color-black, 0.2) !important;
}

.mat-mdc-dialog-content {
  padding-top: 20px !important;
}

.hidden {
  display: none;
}

:root {
  .ng-scrollbar {
    --scrollbar-thumb-color: #3b82f6;
    --scrollbar-thumb-hover-color: #1769ed;
    --scrollbar-size: 5px;
    --scrollbar-hover-size: var(--scrollbar-size);
    --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
    --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
  }
}
