// dialog close button
.close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 100;
  cursor: pointer;
}

// table component
.p-datatable-table {
  min-height: 50vh !important;
}

// skeleton
.skeleton {
  padding-bottom: 100% !important;
}
