p-inputswitch {
    height: 27px;
}

.mat-mdc-menu-content {
    padding: 0 !important;
}

.mat-mdc-menu-item {
    &.active {
        background-color: var(--color-primary);

        &:hover {
            background-color: var(--color-primary) !important;
        }
    }

    &-text {
        font-family: 'Roboto Condensed', sans-serif !important;
        font-weight: 300 !important;
    }
}

.mat-mdc-menu-item .mat-mdc-menu-submenu-icon {
    color: var(--color-primary) !important;
}

.cdk-drag-preview {
    width: 200px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 8px !important;
}

.p-scrolltop.p-link {
    background-color: var(--color-dark-grey) !important;

    &:hover {
        background-color: var(--color-black) !important;
    }

    .p-icon-wrapper {
        font-size: 16px !important;
        scale: 1 !important;
    }
}

.p-inputtext {
    border-radius: 0 !important;
}

.p-dropdown {
    border-radius: 0 !important;

    &-panel {
        border-radius: 0 !important;
    }

    &-label,
    &-item {
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.p-datatable-thead {
    th {
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.p-datatable-tbody {
    td {
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.p-badge {
    font-family: 'Roboto Condensed', sans-serif;
}

.owl-prev,
.owl-next {
    display: flex;
    align-items: center;
    padding: 8px !important;
    color: var(--color-pure-white) !important;
    background-color: var(--color-grey) !important;
    border-radius: 0 !important;

    &:hover {
        background-color: var(--color-dark-grey) !important;
    }
}
