@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
// font-family: 'Comfortaa', cursive;
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
// font-family: 'Comforter Brush', cursive;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
// font-family: 'Dancing Script', cursive;

html {
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
}

.primary-heading {
  color: var(--color-text);
  font-size: 60px;
  font-weight: 500;
  font-family: 'Dancing Script', cursive;

  @include respond(sm) {
    font-size: 50px;
  }
}

.secondary-heading {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
}

.primary-paragraph {
  font-size: 16px;
  line-height: 24px;
}
