<p-card
  header="Rendelések"
  subheader="Összes rendelés"
  *ngIf="orders$ | async as orders">
  <div class="grid">
    <div class="col-12">
      <p-table [value]="orders" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>Rendelés azonosító</th>
            <th>Rendelő</th>
            <th>Ár</th>
            <th>Rendelés státusza</th>
            <th>Rendelt termék db</th>
            <th>Részletek</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order._id }}</td>
            <td>{{ order.user[0].name }}</td>
            <td>{{ order.price }} Ft</td>
            <td>
              <ng-container *ngIf="order.status === 'paid'">
                <p-tag severity="success" value="Fizetve"></p-tag>
              </ng-container>
              <ng-container *ngIf="order.status === 'pending'">
                <p-tag severity="warning" value="Függőben"></p-tag>
              </ng-container>
            </td>
            <td>{{ order.products.length }} db</td>
            <td>
              <p-button
                icon="pi pi-info"
                [routerLink]="['/admin/order-details', order._id]"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
