<main class="product-picker">

  <div class="picker-container">
    <h1 class="heading primary-heading">{{ product.nev }}</h1>
    <form [formGroup]="pickerForm">
      <div class="form-group">
        <label for="alapszin" class="form-label">Válassz egy alapszínt:</label>
        <select formControlName="alapszin" id="alapszin" class="form-select">
          <option
            [value]="item.name"
            class="form-option"
            *ngFor="let item of product.alapszin">
            {{ item.name | titlecase }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="fulek" class="form-label">Fülek színe mintája:</label>
        <select formControlName="fulek" id="fulek" class="form-select">
          <option
            [value]="item.name"
            class="form-option"
            *ngFor="let item of product.fulek">
            {{ item.name | titlecase }}
          </option>
        </select>
      </div>
    </form>
  </div>
</main>
