<ng-container *ngIf="(isBusy$ | async) === false; else loading">
    <ng-container *ngIf="questions$ | async as questions; else loading">
        <div class="nyk-questions-header">Összes kérdés</div>

        <p-table
            #table
            styleClass="p-datatable-gridlines"
            [value]="questions"
            [globalFilterFields]="['id', 'name', 'question']"
            [paginator]="true"
            [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]">
            <ng-template pTemplate="caption">
                <div class="nyk-questions-actions">
                    <p-button
                        [raised]="true"
                        icon="pi pi-plus"
                        label="Új kérdés hozzáadása"
                        styleClass="w-full"
                        routerLink="/admin/questions/add">
                    </p-button>

                    <span class="p-input-icon-left ml-auto w-full md:w-6">
                        <i class="pi pi-search"></i>

                        <input
                            pInputText
                            pTooltip="Kereshető mezők:
                                Azonosító
                                Kérdés neve
                                Kérdés"
                            tooltipPosition="bottom"
                            class="w-full"
                            type="text"
                            (input)="applyTableGlobalFilter($event, 'contains', table)"
                            placeholder="Keresés" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="nyk-questions-id">Azonosító</th>

                    <th>Kérdés neve</th>

                    <th class="nyk-questions-question">Kérdés</th>

                    <th class="nyk-questions-type">Kérdés típusa</th>

                    <th class="w-3rem">Opciók</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-question>
                <tr>
                    <td class="nyk-questions-id text-primary w-9rem font-italic">
                        {{ question.id }}
                    </td>

                    <td class="text-black-alpha-70 font-medium">{{ question.name }}</td>

                    <td class="nyk-questions-question text-black-alpha-90 font-medium">
                        {{ question.question }}
                    </td>

                    <td class="nyk-questions-type w-12rem text-center">
                        <p-badge
                            styleClass="shadow-2"
                            [value]="
                                question.type === QuestionType.Custom
                                    ? 'Kérdés egyedi válaszokkal'
                                    : 'Kérdés anyag kategóriákkal'
                            "
                            [severity]="
                                question.type === QuestionType.Custom ? 'success' : 'warning'
                            ">
                        </p-badge>
                    </td>

                    <td>
                        <div class="flex flex-column">
                            <p-button
                                [raised]="true"
                                [routerLink]="['/admin/questions/edit', question.id]"
                                styleClass="mb-2"
                                icon="pi pi-cog"
                                pTooltip="Kérdés módosítás"
                                tooltipPosition="left">
                            </p-button>

                            <p-button
                                [raised]="true"
                                pTooltip="Kérdés törlés"
                                tooltipPosition="left"
                                icon="pi pi-times"
                                severity="danger"
                                (click)="onDeleteQuestion(question)">
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" class="text-center text-800 text-4xl h-20rem">
                        Nem található kérdés
                        <p-button
                            [raised]="true"
                            icon="pi pi-plus"
                            label="Új kérdés hozzáadása"
                            styleClass="block mx-auto mt-2"
                            routerLink="/admin/questions/add">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</ng-container>

<ng-template #loading>
    <nyk-spinner></nyk-spinner>
</ng-template>
