<div
  class="px-4 py-8 md:px-6 lg:px-8"
  *ngIf="shoppingCartData$ | async as cartData">
  <div class="flex flex-column align-items-center mb-6">
    <div class="text-900 text-4xl mb-4 font-medium">
      Kosár értéke: {{ cartData.price }} Ft
    </div>

    <button class="primary-button shadow-2">
      <i class="pi pi-credit-card mr-1"></i>Fizetés
    </button>
  </div>
  <ul class="list-none p-0 m-0">
    <li
      *ngFor="let item of cartData.items"
      class="flex flex-column md:flex-row py-6 border-top-1 border-bottom-1 surface-border md:align-items-center">
      <img
        [src]="productImagesUrl + item.product['images'][0]"
        class="w-12rem flex-shrink-0 mx-auto md:mx-0" />
      <div class="flex-auto py-3 md:pl-5">
        <div
          class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border pb-3">
          <div class="w-full sm:w-6 flex flex-column">
            <span class="text-900 text-xl font-medium mb-2 text-pink-500">{{
              item.product['name']
            }}</span>
            <span class="text-600">{{ item.product['shortDescription'] }}</span>
          </div>
          <div
            class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0">
            <div></div>
            <div class="flex flex-column sm:align-items-end">
              <span class="text-900 text-2xl font-medium mb-2 sm:mb-3"
                >{{ item.price }} Ft</span
              >
              <a
                (click)="onDeleteOrder(item)"
                class="cursor-pointer text-pink-500 font-medium hover:text-pink-600 transition-colors transition-duration-300"
                tabindex="0"
                >Törlés</a
              >
            </div>
          </div>
        </div>
        <div class="flex flex-column">
          <span class="inline-flex align-items-center mb-1">
            <span class="text-900 font-bold">Termék adatok:</span>
          </span>
          <span class="inline-flex align-items-center mb-2">
            <span class="text-600" *ngIf="item.productExtra.nameEmbroidery"
              >Hímzett név:
              <span class="font-bold text-800">{{
                item.productExtra.nameEmbroidery
              }}</span>
            </span>
          </span>
          <!-- <span class="inline-flex align-items-center mb-3">
            <span class="text-600 mr-2">Rendeld meg ma.</span>
          </span>
          <span class="inline-flex align-items-center mb-3">
            <span class="text-600 mr-2">Delivery by </span>
          </span> -->
          <span class="flex flex-column" *ngIf="item.productExtra.comment">
            <span class="text-900 font-bold"
              >Megjegyzés a termékkel kapcsolatban:</span
            >
            <span class="text-600">{{ item.productExtra.comment }}</span>
          </span>
        </div>
      </div>
    </li>
  </ul>
  <div class="flex">
    <div class="w-12rem hidden md:block"></div>
    <ul class="list-none py-0 pr-0 pl-0 md:pl-5 mt-6 mx-0 mb-0 flex-auto">
      <li class="flex justify-content-between mb-4">
        <span class="text-xl text-900">Részösszeg</span>
        <span class="text-xl text-900">{{ cartData.price }} Ft</span>
      </li>
      <li class="flex justify-content-between mb-4">
        <span class="text-xl text-900">Szállítás</span>
        <span class="text-xl text-900">Free</span>
      </li>

      <li
        class="flex justify-content-between border-top-1 surface-border mb-4 pt-4">
        <span class="text-xl text-900 font-bold text-3xl">Összesen</span>
        <span class="text-xl text-900 font-bold text-3xl"
          >{{ cartData.price }} Ft</span
        >
      </li>
      <li class="flex justify-content-end">
        <button class="primary-button shadow-2">
          <i class="pi pi-credit-card mr-1"></i>Fizetés
        </button>
      </li>
    </ul>
  </div>
</div>
