<div class="nyk-categories-container" #container>
    <div
        *ngFor="let category of productSubCategoriesData | slice : 0 : displayNumber; trackByLabel"
        class="nyk-categories-item"
        [routerLink]="category.routerLink">
        <img class="nyk-categories-item-image" [src]="category.image" [alt]="category.label" />

        <p class="heading-secondary">
            {{ category.label }}
        </p>

        <div class="paragraph-primary">{{ category.count }} Termék</div>
    </div>
</div>

<button nyk-button (click)="onShowAll()" class="nyk-categories-button">
    {{ buttonLabel }}
</button>
