@import 'mixins';

.nyk-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 28px;
  margin-top: 40px;

  @include respond(sm) {
    grid-column-gap: 20px;
    grid-row-gap: 14px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 40px 60px;
    background-color: var(--color-grey);
    cursor: pointer;

    @include respond(sm) {
      padding: 20px 15px;
    }

    &:hover {
      .nyk-categories-item {
        &-image {
          transform: scale(1.1);
        }

        &-title {
          color: var(--color-dark-grey);
        }
      }
    }

    &-image {
      width: 160px;
      margin: 0 auto 8px;
      transition: all 0.3s ease-in-out;
    }

    &-title {
      margin-bottom: 8px;
      transition: all 0.3s ease-in-out;
    }

    &-count {
      color: var(--color-dark-grey);
    }
  }
}
