<ng-container *ngIf="data">
  <div
    *ngFor="let category of data; trackByLabel"
    class="nyk-categories-item"
    routerLink="{{ category.routerLink }}"
    data-aos="fade-up"
    data-aos-duration="400"
    data-aos-anchor-placement="center-center">
    <img
      class="nyk-categories-item-image"
      [src]="category.image"
      [alt]="category.label" />

    <p class="nyk-categories-item-title heading-secondary">
      {{ category.label }}
    </p>

    <div class="nyk-categories-item-count paragraph-primary">
      {{ category.count }} Termék
    </div>
  </div>
</ng-container>
